{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('bundles/temastemas/js/datepicker/css/datepicker.css') }}" rel="stylesheet" type="text/css" media="screen" />

{% endblock %}
{% block span %}
span7
{% endblock %}

{% block headerarticle %}
<h3>Editar Asignación</h3>
{% endblock %}

{% block article %}

    {{ form(edit_form) }}
    {{ form(delete_form) }}

{% for rol in app.user.roles %}
    {#   #}
    {% if rol.role == 'ROLE_SUPER_ADMIN' %}
        <a href="{{ path('grupoestudiante') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    {% else %}
        <a href="{{ path('grupoestudiantebygrupo', { 'id': idGrupo }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    {% endif %}
{% endfor %}

    
{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script src="{{ asset('bundles/temastemas/js/datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
   <script>
    $('#colegio_estudiantebundle_grupoestudiante_fechaInicio').datepicker({format: 'yyyy-mm-dd'});
    $('#colegio_estudiantebundle_grupoestudiante_fechaFin').datepicker({format: 'yyyy-mm-dd'});
   </script> 
{% endblock %} 
