{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Lista Grupo Estudiante</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idestudiante</th>
                <th>Idgrupo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('grupoestudiante_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.idEstudiante }}</td>
                <td>{{ entity.idGrupo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('grupoestudiante_show', { 'id': entity.id }) }}" ><i class="icon-list"> </i></a>
                    </li>
                    <li>
                        <a href="{{ path('grupoestudiante_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('grupoestudiante_new') }}">
                <i class="icon-plus-sign"></i>
                Crear un nuevo Grupo Estudiante
            </a>
        </li>
    </ul>
{% endblock %}
