{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/temastemas/js/select/jquery.minimalect.min.css') }}" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ asset('bundles/temastemas/js/datepicker/css/datepicker.css') }}" rel="stylesheet" type="text/css" media="screen" />

{% endblock %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
<i class="icon-bookmark"></i><h3> Asociación Estudiante (Matrícula)</h3>
{% endblock %}

{% block article %} 
    
{{ form(form) }}
    
       <a href="{{ path('grupoestudiantebygrupo', { 'id': idGrupo }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
       
 


    
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('bundles/temastemas/js/select/jquery.minimalect.min.js') }}" type="text/javascript"></script>
    <script>
    $('#colegio_estudiantebundle_grupoestudiante_idEstudiante').minimalect();
    </script>

<script src="{{ asset('bundles/temastemas/js/datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script>
    $('#colegio_estudiantebundle_grupoestudiante_fechaInicio').datepicker({format: 'yyyy-mm-dd'});
    $('#colegio_estudiantebundle_grupoestudiante_fechaFin').datepicker({format: 'yyyy-mm-dd'});
    </script>

{% endblock %}
