{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span5
{% endblock %}

{% block headerarticle %}


<i class="icon-th-list"></i><h3>{{ grupo }}</h3>

{% endblock %}

{% block article %}
{% for rol in app.user.roles %}
    {# Super man  #}
    {% if rol.role == 'ROLE_SUPER_ADMIN' %}
        <a href="{{ path('grupoestudiante') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    {% elseif rol.role == 'ROLE_ADMIN' %}
        <a href="{{ path('grupoestudiante_newasociacion', { 'id': idGrupo }) }}"> <i class="icon-plus-sign"></i> Asociar Nuevo Estudiante</a>
        <br>
        <a href="{{ path('grupo_showbysede', { 'id': idSede.id }) }}"><i class="icon-arrow-left"> Volver</i></a>
    {% endif %}
{% endfor %}


    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estudiantes</th>
                <th>Acción</th>
                <th>..</th>
                <th>..</th>
            </tr>
            </thead>
             <tbody>
            {% for entity in entities %}
           
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.idEstudiante.primerApellido }} {{ entity.idEstudiante.segundoApellido }}, {{ entity.idEstudiante.primerNombre }} {{ entity.idEstudiante.segundoNombre }}</td>
                <td>
                    
                    <li>
                        <a href="{{ path('grupoestudiante_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </td>
                <td></td>
                 <td></td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>


        
{% endblock %}
     
     
    

     
     
        
{% block extras %}        
        
{% if notas != null %}        
    
{% embed 'TemasTemasBundle::span.html.twig' %}
            
{% block spanclase %}
    span7
{% endblock %}        
    
{% block headerspan %}
    <i class="icon-th-list"></i><h3> Listado de Notas</h3>
{% endblock %}

{# bloque del contenido, por defecto vacio #}
{% block articlespan %}

{#    <table class="table table-striped table-bordered table-hover" id="dataTables-example2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estudiante</th>
                <th>Asignatura</th>
                <th>Calificación</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Periodo</th>
            </tr>
        </thead>
        <tbody>
        {% for nota in notas %}
            <tr>
                <td>{{ nota.id }}</td>
                <td>{{ nota.idEstudiante }}</td>
                <td>{{ nota.idAsignatura }}</td>
                <td>{{ nota.calificacion }}</td>
                <td>{{ nota.descripcion }}</td>
                <td>{% if nota.fecha %}{{ nota.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ nota.idPeriodo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  #}  
{% endblock %}
    
{% endembed %}    
        
{% endif %}   
        
{% endblock %}   


{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    $(document).ready(function() {
        $('#dataTables-example2').dataTable();
    });
    </script>
    
{% endblock %}  