{% extends 'TucolegioPpalBundle::ppal.html.twig' %}

{% block article %}

<div id="wrapper">
    		
		<!--start: Container -->
    	<div class="container">
<hr>	

<hr>
    <!--start: Row -->
	    	<div class="row">
		
				

<!-- start: Contact Form -->
				<div class="span6">
					<div class="title"><h3>Formulario de contacto</h3></div>

					<!-- start: Contact Form -->
					<div id="contact-form">

                                            <iframe src="https://docs.google.com/forms/d/19Gtz5YS549cTa5W8WC1QV0LSZwpEOcwLBgzur5A-ujo/viewform?embedded=true" width="400" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
                                            
                                            
						<!--<form method="post" action="">

							<fieldset>
								<div class="clearfix">
									<label for="name"><span>Name:</span></label>
									<div class="input">
										<input tabindex="1" size="18" id="name" name="name" type="text" value="">
									</div>
								</div>

								<div class="clearfix">
									<label for="email"><span>Email:</span></label>
									<div class="input">
										<input tabindex="2" size="25" id="email" name="email" type="text" value="" class="input-xlarge">
									</div>
								</div>

								<div class="clearfix">
									<label for="message"><span>Message:</span></label>
									<div class="input">
										<textarea tabindex="3" class="input-xlarge" id="message" name="body" rows="7"></textarea>
									</div>
								</div>

								<div class="actions">
									<button tabindex="3" type="submit" class="btn btn-succes btn-large">Send message</button>
								</div>
							</fieldset>

						</form>-->

					</div>
					<!-- end: Contact Form -->

				</div>
				<!-- end: Contact Form -->
                                <!-- start: Contact Info -->
				<div class="span6">
					<div class="title"><h3>Nuestra info</h3></div>
					<p>
						<b>Tu Compu al día</b>
					</p>
					<p>	
						Nit. 1.049.624.231-2
					</p>
					<p>	
						Tel: (8)7433563 - 317 2675757 -317 6569802
					</p>
					<p>
						Email: soporte@tucompualdia.com
					</p>
					<p>
						Web: tucolegioaldia.com
					</p>
				</div>
				<!-- end: Contact Info -->
                                
                                
                                
                </div>
        </div>
</div>
{% endblock %}
