
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Tu Colegio al dia</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href="{{ asset('bundles/tucolegioppal/web/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tucolegioppal/web/css/imgeffect.css')}}" />
<script src="{{asset('bundles/tucolegioppal/web/js/jquery.min.js')}}"></script>
<!-- start gallery Script -->

	<script type="text/javascript" src="{{ asset('bundles/tucolegioppal/web/js/jquery.easing.min.js')}}"></script>	
	<script type="text/javascript" src="{{ asset('bundles/tucolegioppal/web/js/jquery.mixitup.min.js')}}"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
				<script type="text/javascript">
				$(function () {
					
					var filterList = {
					
						init: function () {
						
							// MixItUp plugin
							// http://mixitup.io
							$('#portfoliolist').mixitup({
								targetSelector: '.portfolio',
								filterSelector: '.filter',
								effects: ['fade'],
								easing: 'snap',
								// call the hover effect
								onMixEnd: filterList.hoverEffect()
							});				
						
						},
						
						hoverEffect: function () {
						
							// Simple parallax effect
							$('#portfoliolist .portfolio').hover(
								function () {
									$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
									$(this).find('img').stop().animate({top: 0}, 500, 'easeOutQuad');				
								},
								function () {
									$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeInQuad');
									$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
								}		
							);				
						
						}
			
					};
					
					// Run the show!
					filterList.init();
					
					
				});	
				</script>
				<!-- Add fancyBox main JS and CSS files -->
				<script src="{{ asset('bundles/tucolegioppal/web/js/jquery.magnific-popup.js')}}" type="text/javascript"></script>
				<link href="{{ asset('bundles/tucolegioppal/web/css/magnific-popup.css')}}" rel="stylesheet" type="text/css">
						<script>
							$(document).ready(function() {
								$('.popup-with-zoom-anim').magnificPopup({
									type: 'inline',
									fixedContentPos: false,
									fixedBgPos: true,
									overflowY: 'auto',
									closeBtnInside: true,
									preloader: false,
									midClick: true,
									removalDelay: 300,
									mainClass: 'my-mfp-zoom-in'
							});
						});
						</script>
				<script type="text/javascript" src="{{ asset('bundles/tucolegioppal/web/js/move-top.js')}}"></script>
				<script type="text/javascript" src="{{ asset('bundles/tucolegioppal/web/js/easing.js')}}"></script>
				
				
		   	<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
					});
				});
			</script>
			
</head>

<body>
		
				<div class="header_bg">
					<div class="wrap">
						<div class="header">
							
							<div class="logo">
								<a href="#"><img src="{{ asset('bundles/tucolegioppal/web/images/logo.png')}}" alt="" /></a>
							</div>	
							
                                                        {% if app.user == null %}

                                                        {% else %} 
                                                        <div class="span3"> 
                                                        <div class="alert-danger">

                                                        <strong>Aún estás identificado como {{ app.user }}</strong>
                                                        <br>
                                                        <a href="{{ path('usuarios_logout')}}">Cerrar Sesión</a>
                                                        </div>	
                                                        </div> 
                                                        {% endif %}

                                                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                                        <span class="brand"> <a href="{{ path('colegio_admin_homepage', { _cambiar_usuario: '_exit' }) }}">Finalizar impersonación</a></span>
                                                        {% endif %}
								
							<div class="nav">
								<ul>
								   <li class="active"><a href="#home" class="scroll">Inicio</a></li>
								   <li><a href="#portfolio" class="scroll">Beneficios</a>
                                                                    
                                                                   </li>
								   <li><a href="#about" class="scroll">Conócenos</a></li>
								   <li><a href="#contact" class="scroll">Contactos</a></li>
                                                                   
								 <div class="clear"> </div>
								 </ul>
							</div>
                                                       
							
							<div class="clear"> </div>
						</div>
					</div>
				</div>
		
<div class="slider_bg">
		<div class="wrap">
				
						<div class="da-slide">
								<div style="margin: 1em 35%;">
								 <a href="http://emotionapp.tucolegioaldia.net" class="da-link" target="_blank" style="display: inline-block; width:auto; align:center"> <i class="fa fa-comments-o"></i> Conoce EmotionApp Beta</a>
								 </div>
								<h2><span>Plataforma de Gestión </span>Escolar</h2>
									<p>Diseñada para tener el Control en tiempo real de los resultados académicos de los estudiantes de su Institución Educativa </p>
                                                                        <div style="margin: 1em 20%;">
                                                                        <a href="{{ path('colegio_admin_homepage') }}" class="da-link" style="display: inline-block; width: auto; background-color: deepskyblue; ">Administrador</a>
                                                                        <a href="{{ path('colegio_docente_homepage') }}" class="da-link" style="display: inline-block; width: auto; background-color: aquamarine">Docentes</a>
                                                                        <a href="{{ path('colegio_estudiante_homepage') }}" class="da-link" style="display: inline-block; width: auto; background-color: yellowgreen;   ">Estudiantes</a>
                                                                        </div>
									<a href="#portfolio" class="scroll"><span class="da-img"> </span> </a>
								</div>
				
		</div>
</div>
	
	<div class="wrap" id="portfolio">
				<div class="main">
					<!-- start gallery  -->
							<div class="gallery1">
					<!--start-mfp -->	
						<div id="small-dialog1" class="mfp-hide">
							<div class="pop_up">
								<h2>Gestión Institucional</h2>
								<img src="{{ asset('bundles/tucolegioppal/web/images/icon1.png')}}" alt=""/>
								<p class="para">Avances para Directivos, Docentes y Padres de Familia, agilidad en los procesos academicos, control en tiempo real de los resultados, Acceso a circulares, tareas y cuentas de usuario personal entre otros beneficios.</p>
							</div>
						</div>
					<!--end-mfp -->	
			
			<div class="gallery">
					<div class="clear"> </div>
					<div class="container">
						<h2>BENEFICIOS</h2>
						<p>Optimiza los procesos académicos en beneficio de toda la comunidad educativa</p>
					<ul id="filters" class="clearfix">
						<li><span class="filter active" data-filter="app card icon logo web">Todos</span></li>
						<li><span class="filter" data-filter="app web">Estudiantes</span></li>
						<li><span class="filter" data-filter="icon web card">Docente</span></li>
						<li><span class="filter" data-filter="web app icon card">  Director</span></li>
					</ul>
			<div id="portfoliolist">
			
			<div class="portfolio logo" data-cat="logo" style="width: 21%">
				<div class="portfolio-wrapper">				
					<a class="popup-with-zoom-anim" href="#small-dialog1">
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-1">
									<div class="ch-info">
										<img src="{{ asset('bundles/tucolegioppal/web/images/zoom-white.png')}}"/>
										<h3>Transparencia</h3>
										<p><a href="#">En las notas</a></p>
									</div>
								</div>
							</li>
						</ul>
					</a>
				</div>
			</div>		
				
			<div class="portfolio app" data-cat="app">
				<div class="portfolio-wrapper">			
					<a class="popup-with-zoom-anim" href="#small-dialog1">
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-2">
									<div class="ch-info">
										<img src="{{ asset('bundles/tucolegioppal/web/images/zoom-white.png')}}"/>
										<h3>Seguridad</h3>
										<p><a href="#">En la información</a></p>
									</div>
								</div>
							</li>
						</ul>
					</a>
				</div>
			</div>	
			<div class="hide">	
			<div class="portfolio web" data-cat="web">
				<div class="portfolio-wrapper">						
					<a class="popup-with-zoom-anim" href="#small-dialog1">
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-3">
									<div class="ch-info">
										<img src="{{ asset('bundles/tucolegioppal/web/images/zoom-white.png')}}"/>
										<h3>Resultados</h3>
										<p><a href="#">En tiempo real</a></p>
									</div>
								</div>
							</li>
						</ul>
					</a>
				</div>
			</div>	
			</div>
			
			<div class="portfolio card" data-cat="card">
				<div class="portfolio-wrapper">			
					<a class="popup-with-zoom-anim" href="#small-dialog1">
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-4">
									<div class="ch-info">
										<img src="{{ asset('bundles/tucolegioppal/web/images/zoom-white.png')}}"/>
										<h3>Promedios Actualizados</h3>
										<p><a href="#">En cursos y áreas</a></p>
									</div>
								</div>
							</li>
						</ul>
					</a>
				</div>
			</div>	
				
			<div class="hide">	
			<div class="portfolio app" data-cat="app">
				<div class="portfolio-wrapper">
					<a class="popup-with-zoom-anim" href="#small-dialog1">
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-5">
									<div class="ch-info">
										<img src="{{ asset('bundles/tucolegioppal/web/images/zoom-white.png')}}"/>
										<h3>Comunicación</h3>
										<p><a href="#">entre docentes y padres</a></p>
									</div>
								</div>
							</li>
						</ul>
					</a>
				</div>
			</div>	
			</div>	
			<div class="hide">
			<div class="portfolio card" data-cat="card">
				<div class="portfolio-wrapper">			
					<a class="popup-with-zoom-anim" href="#small-dialog1">
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-6">
									<div class="ch-info">
										<img src="{{ asset('bundles/tucolegioppal/web/images/zoom-white.png')}}"/>
										<h3>Registro de notas</h3>
										<p><a href="#">Mayor facilidad</a></p>
									</div>
								</div>
							</li>
						</ul>
					</a>
				</div>
			</div>	
			</div>
			<div>
			<div class="portfolio card" data-cat="card">
				<div class="portfolio-wrapper">			
					<a class="popup-with-zoom-anim" href="#small-dialog1">
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-7">
									<div class="ch-info">
										<img src="{{ asset('bundles/tucolegioppal/web/images/zoom-white.png')}}"/>
										<h3>Programar tareas</h3>
										<p><a href="#">Cumplimiento de las metas</a></p>
									</div>
								</div>
							</li>
						</ul>
					</a>
				</div>
			</div>	
			</div>
			<div>
			<div class="portfolio logo" data-cat="logo" id="hide">
				<div class="portfolio-wrapper">			
					<a class="popup-with-zoom-anim" href="#small-dialog1">
						<ul class="ch-grid">
							<li>
								<div class="ch-item ch-img-8">
									<div class="ch-info">
										<img src="{{ asset('bundles/tucolegioppal/web/images/zoom-white.png')}}"/>
										<h3>Capacitación </h3>
										<p><a href="#">soporte técnico</a></p>
									</div>
								</div>
							</li>
						</ul>
					</a>
				</div>
			</div>																																							
		</div>
		</div>
	</div><!-- container -->
	<script type="text/javascript" src="{{ asset('bundles/tucolegioppal/web/js/fliplightbox.min.js')}}"></script>
	<script type="text/javascript">$('body').flipLightBox()</script>
	<div class="clear"> </div>
	</div>
	</div>
	</div>
</div>
<!---End-gallery----->
<!-----start-about-------->

<div class="about" id="about">
	<div class="wrap">
	<h2>Equipo de Trabajo</h2>
	<p>Profesionales en desarrollo de Software, Diseño Web y aplicaciones Android brindando soporte Técnico 24 horas</p>
		<div class="about-grids">
			<div class="grid">
				<div class="dc_zoom_css">
				<span class="roll_css6">
					<div class="social">
						<ul>
							<li><a class="sharefacebook" href="https://www.facebook.com/jairog12"  target="_blank"> </a> </li>
							<li><a class="sharetwitter" href="https://twitter.com/tucompualdia"  target="_blank"> </a> </li>
							<li><a class="sharetgoogle" href="https://plus.google.com/+JairoFern%C3%A1ndezVega"  target="_blank"> </a> </li>
							<div class="clear"> </div>
						</ul>
					</div>
				</span>
				<img class="post-person" src="{{ asset('bundles/tucolegioppal/web/images/img1.jpg')}}">
				</div>
				<div class="desc">
					<h3>Jairo Alonso Fernández Vega</h3>
					<p>Programador Web Master</p>
					<p>Nos casamos en Diciembre de 2012, amamos a Dios por sobre todas las cosas y anhelamos que nuestros conocimientos redunden en el beneficio de los que nos rodean.</p>
				</div>
		
			</div>
                        <div class="grid">
				<div class="dc_zoom_css">
				<span class="roll_css6">
					<div class="social">
						<ul>
							<li><a class="sharefacebook" href="https://www.facebook.com/Cristianfernandez9392"  target="_blank"> </a> </li>
							<li><a class="sharetwitter" href="https://twitter.com/CriSkate93"  target="_blank"> </a> </li>
							<li><a class="sharetgoogle" href="https://plus.google.com/u/0/105741428564367844894/posts"  target="_blank"> </a> </li>
							
							<div class="clear"> </div>
						</ul>
					</div>
				</span>
				<img class="post-person" src="{{ asset('bundles/tucolegioppal/web/images/img11.jpg')}}">
				</div>
				<div class="desc">
					<h3>Cristian Arturo Fernández Rico</h3>
					<p>Programador</p>
                                        <p><strong>Analista y Desarrollador de Software</strong> Existen derrotas, pero nadie está a salvo de ellas. Por eso es mejor perder algunos combates en la lucha por nuestros sueños que ser derrotados sin nisiquiera saber por qué se está luchando - Paulo Coelho</p>
				</div>
		
			</div>        
			<div class="grid">
				<div class="dc_zoom_css">
				<span class="roll_css6">
					<div class="social">
						<ul>
							<li><a class="sharefacebook" href="https://www.facebook.com/andres.fernandez.35574" target="_blank"> </a> </li>
							
							<div class="clear"> </div>
						</ul>
					</div>
				</span>
				<img class="post-person" src="{{ asset('bundles/tucolegioppal/web/images/img2.jpg')}}">
				</div>
				<div class="desc">
					<h3>Luis Andrés Fernandez Vega</h3>
					<p>Socio Accionista</p>
					<p>Me apasiona el deporte, y las buenas cosas, soy Policía, amo a mi familia y anhelo darles lo mejor, me acompaña mi gran inspiración.</p>
				</div>
			</div>
			<div  class="grid" style="margin-left: 64px; margin-right: 10px;" >
				<div class="dc_zoom_css">
				<span class="roll_css6">
					<div class="social">
						<ul>
							<li><a class="sharefacebook" href="https://www.facebook.com/diego.ruda.9"  target="_blank"> </a> </li>
							<li><a class="sharetwitter" href="https://twitter.com/Difaruarg12"  target="_blank"> </a> </li>
							<li><a class="sharetgoogle" href="https://plus.google.com/u/0/108205017274060285523/posts"  target="_blank"> </a> </li>
							
							<div class="clear"> </div>
						</ul>
					</div>
				</span>                          
				<img class="post-person" src="{{ asset('bundles/tucolegioppal/web/images/img5.jpg')}}">
				</div>
				<div class="desc">
					<h3>Diego Fabian Ruda Arias</h3>
					<p>Diseñador Web</p>
					<p>Licenciado en Informática y Tecnología, Esp. en Gerencia Educacional. "El hombre solo es grande cuando está de Rodillas ante Dios"-Albert Eintein-</p>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
</div>

<div class="contact" id="contact">
	<div class="wrap">
		<h2>Contactos</h2>
		<h4>Comuniquese con nostros para Adquirir nuestros productos.</h4>
		<div class="section group">
			  <div class="col span_2_of_3">
				  <div class="contact-form">
				  	{#}  <form method="post" action="#">
					    	
					    		<input type="text" class="textbox" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your  Name';}">
						    	<input type="text" class="textbox" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
						    	<div class="clear"> </div>
						   
						    <div>
						    	<textarea value="Your Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message';}">Your Message...</textarea>
						    </div>
						  <span><input type="submit" class="" value="Enviar"></span>
						  <div class="clear"></div>
					    </form>#}
				  </div>
  				</div>
				<div class="col span_1_of_3">
					<div class="company_address">
				     	<h5>INFORMACIÓN</h5>
						<ul class="list3">
							<li>
								<img src="{{ asset('bundles/tucolegioppal/web/images/location.png')}}" alt=""/>
								<div class="extra-wrap">
								  <p>Tunja, Boyacá, Colombia</p>
								  <p></p>
								  <p>Oficina Principal</p>
								</div>
								<div class="clear"> </div>
							</li>
							
							<li>
								<img src="{{ asset('bundles/tucolegioppal/web/images/phone.png')}}" alt=""/>
								<div class="extra-wrap">
									<p> 318 2 95 17 34</p>
								</div>
								<div class="clear"> </div>
							</li>
							<li>
								<img src="{{ asset('bundles/tucolegioppal/web/images/fax2.png')}}" alt=""/>
								<div class="extra-wrap">
									<p>(8) 7 43 35 63</p>
								</div>
								<div class="clear"> </div>
							</li>
							<li>
								<img src="{{ asset('bundles/tucolegioppal/web/images/mail.png')}}" alt=""/>
								<div class="extra-wrap">
									<p> <a href="mailto:soporte@tucompualdia.net"> soporte@tucompualdia.net</a></p>
								</div>
								<div class="clear"> </div>
							</li>
						</ul>
				   </div>
				 </div>
				 <div class="clear"></div>
			  </div>
			  </div>
     	</div>
     <div class="footer-bottom">
     	<div class="wrap">
        <div class="copy">
		    <p class="copy">Gracias &#169 2014 Template by  <a href="http://w3layouts.com" target="_blank">w3layouts</a>, implementado por <a href="http://tucompualdia.net" target="_blank">tu compu al día</a> </p>
		</div>
		<script type="text/javascript">
							$(document).ready(function() {
								
								var defaults = {
						  			containerID: 'toTop', // fading element id
									containerHoverID: 'toTopHover', // fading element hover id
									scrollSpeed: 1200,
									easingType: 'linear' 
						 		};
								
								
								$().UItoTop({ easingType: 'easeOutQuart' });
								
							});
						</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
		 <script src="{{ asset('bundles/tucolegioppal/web/js/jquery.scrollTo.js')}}"></script>
		</div>
	</div>
</body>
</html>