{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span6
{% endblock %}
{% block article %}

    <h1>Editar Grupo Asignatura</h1>
    {{ form(edit_form) }}
    {% if gruposBoletin == null %}
			{{ form(delete_form) }}
	{% else %}
			<div class="alert alert-success">No se puede Borrar ya que tienes un Boletin asociado</div>
	{% endif %}
    

    <a href="{{ path('grupo_show',{ 'id': grupo }) }}" class="btn btn-success btn-sm"><i class="icon-arrow-left"> Volver a la lista</i></a>

{% endblock %}

{% block extras %}
{% embed 'TemasTemasBundle::span.html.twig' %}
{% block spanclase %}
span6 
{% endblock %}

{% block headerspan %}
    <h3>Información extra</h3>
{% endblock %}
    
{% block articlespan %} 

	{% if gruposBoletin == null %}
			no hay nada
	{% else %}
			<div class="alert alert-success">No se puede Borrar ya que tienes un Boletin asociado</div>
	{% endif %}

{% endblock %}
{% endembed %}
{% endblock %}