{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Lista de Grupo Asignatura</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idgrupo</th>
                <th>Idasignatura</th>
                <th>Iddocente</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('grupoasignatura_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.idGrupo }}</td>
                <td>{{ entity.idAsignatura }}</td>
                <td>{{ entity.idDocente }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('grupoasignatura_show', { 'id': entity.id }) }}" ><i class="icon-list"> </i></a>
                    </li>
                    <li>
                        <a href="{{ path('grupoasignatura_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('grupoasignatura_new') }}">
                <i class="icon-plus-sign"></i>
                Crear nuevo Grupo Asignatura
            </a>
        </li>
    </ul>
    {% endblock %}
