{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Creación Grupo Asignatura</h1>

    {{ form(form) }}

    <a href="{{ path('grupo_show',{ 'id': grupo }) }}" class="btn btn-success btn-sm"><i class="icon-arrow-left"> Volver a la lista</i></a>

{% endblock %}

