{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span6
{% endblock %}
{% block article %}

    <h1>Grupo Asignatura</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Idgrupo</th>
                <th>Idasignatura</th>
                <th>Iddocente</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.idGrupo }}</td>
                <td>{{ entity.idAsignatura }}</td>
                <td>{{ entity.idDocente }}</td>
            </tr>
        </tbody>
    </table>
   
<ul class="record_actions">
    <li>
        <a href="{{ path('grupoasignatura_edit', { 'id': entity.id, 'grupo': grupo }) }}" class="btn btn-primary btn-success"> Editar <i class="icon-edit"> </i></a>
        {{ form(delete_form) }}
    </li>
    <li>
        <a href="{{ path('grupo_show',{ 'id': grupo }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    </li>
</ul>
{% endblock %}
