{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span6
{% endblock %}
{% block article %}
    <h1>Listado de Periodos Escolares</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Descripcion</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Estado</th>
                <th>Accciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('periodoescolar_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('periodoescolar_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('periodoescolar_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('periodoescolar_new') }}" class="btn btn-success btn-sm">
                Crear nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
