{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span6
{% endblock %}
{% block article %}
    <h1>Crear Periodo Escolar (año lectivo)</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('periodoescolar') }}" class="btn btn-success btn-sm">
           Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
