{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Lista de Logros por Materia y Periodo</h1>

<ul>
        <li>
            <a href="{{ path('boletin_new') }}" class="btn btn-success btn-sm">
                <i class="icon-plus-sign"></i>
                Crear nuevo Boletin
            </a>
        </li>
    </ul>
                <select id="parametro">
                     {% for parametros in parametroAnual %}
                    <option value="{{ parametros.id }}">{{ parametros }}</option>
                {% endfor %}    
                    
                </select>
               
                
                
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
               
                <th>ASIGNATURA</th>
                <th>PERIODO</th>
                <th>AÑO ESCOLAR</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('boletin_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
               <td>    {{ entity.asignatura }} {{ entity.descripcion }}</td>
                <td>
                {{ entity.periodo.periodo }} 
                
                </td>
                <td>{{ entity.periodo.periodoEscolar }} </td>
                <td>
                      {% if entity.activo == true %}
                    <i class="icon-ok"></i>
                {% else %}
                    <i class="icon-remove"></i>
                {% endif %}     </td>
                <td>
              
                        <a href="{{ path('boletin_show', { 'id': entity.id }) }}"  class="btn btn-success"><i class="icon-list"> </i></a>
                    
                        <a href="{{ path('boletin_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-edit"> </i></a>
                  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    {% endblock %}
    
    {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  
