{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
<div class="span9">
    <h1>Creación Boletin</h1>
{{ form_start(form) }}
  
{{ form_row(form.asignatura) }}
{# {{ form_row(form.idGrupoAsignatura) }} #}
      
        
     {{ form_row(form.fechaInicio) }}
        
        {{ form_row(form.fechaFin) }}
        
    
        {{ form_row(form.activo) }}
    
    
   {# <div class="span4">    
    <h3>Logros</h3>
    <ul class="tags" id="productos-fields-list" data-prototype="{{ form_widget(form.logros.vars.prototype) |e }}">
        {#{% for logro in form.logros %}
        <li>{{ form_row(form.logros) }}</li>
        {% endfor %} #}
   {# </ul>
        <a href="#" id="add-another-producto" class="">Añadir otro Logro</a>
        <a href="#" id="delete-another-producto" class="">Eliminar Logro</a>
        </div> #}
{{ form_end(form) }}
    <a href="{{ path('boletin') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
</div>
{% endblock %}
{#
{% block javascripts %}
    {{ parent() }}
        
<script type="text/javascript">
    // keep track of how many email fields have been rendered
    var productosCount = '{{ form.logros | length }}';
    
    jQuery(document).ready(function() {
        jQuery('#add-another-producto').click(function() {
            var productosList = jQuery('#productos-fields-list');
            
            //AGREGADO PARA ELIMINAR 
            collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });
            
            // grab the prototype template
            var newWidget = productosList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, productosCount);
            productosCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(jQuery('#productos-fields-list'));

            return false;
        });
    })
    
    $(document).on('click', '#delete-another-product', function(){
                $(this).closest('.tags').fadeOut(500, function() {
                    $(this).remove();
                });
            });
</script>
{% endblock %} #}