{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span12
{% endblock %}

{% block article %}

 {% for grupoBoletin in GrupoBoletin %} 
    
        {{ grupoBoletin }} --  <a href="{{ path('grupo_show',{'id':grupoBoletin.grupoAsignatura.idGrupo.id}) }}" class="btn btn-danger">Ir al Grupo</a>

   {% endfor %}


    
{% endblock %}

{% block extras %}
   
    
{% embed "TemasTemasBundle::span.html.twig" %}

   
   {% block spanclase %}
                                   span6
    {% endblock %}         

     {% block headerspan %} 
                  <i class="icon-th-list"></i><h3> Asignación de Boletin</h3>                
     {% endblock %}
                              

     {% block articlespan %}

  <h1>Boletin</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
               <th>Id</th>
               
                <th>ASIGNATURA</th>
                <th>PERIODO</th>
                <th>Estado</th>
                
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
               <td>{{ entity.asignatura }} (<i>{{ entity.descripcion }}</i>)</td>
                <td>{{ entity.periodo }} ({{ entity.fechaInicio|date('Y-m-d') }}-{{ entity.fechaFin|date('Y-m-d') }})</td>
                
                <td>{{ entity.activo }}</td>
            </tr>
        </tbody>
    </table>
    
<ul class="record_actions">
   
        <a href="{{ path('logro_new', {'id': entity.id, 'boletin': entity.id }) }}" class="btn btn-primary btn-success">Agregar Logros <i class="icon-edit"> </i></a>
        
    
   
        <a href="{{ path('boletin_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-success">Editar <i class="icon-edit"> </i></a>
        {{ form(delete_form) }}
        <a href="{{ path('boletin') }}"><i class="icon-arrow-left"> Ir a la lista de Boletines</i></a>

    
</ul>
                    
     {% endblock %}
                                            




{% endembed %}



 {% embed "TemasTemasBundle::span.html.twig" %}
      {% block headerspan %} 
                  <i class="icon-th-list"></i><h3> Lista de Logros</h3>                
     {% endblock %}
     {% block articlespan %}

                 

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entitys in entities %}
            <tr>
                <td><a href="{{ path('logro_show', { 'id': entitys.id, 'boletin': entity.id }) }}">{{ entitys.id }}</a></td>
                <td>{{ entitys.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('logro_show', { 'id': entitys.id, 'boletin': entity.id }) }}" ><i class="icon-list"> </i></a>
                    </li>
                    <li>
                        <a href="{{ path('logro_edit', { 'id': entitys.id, 'boletin': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{# 
        <ul>
        <li>
           <a href="{{ path('logro_new') }}">
                <i class="icon-plus-sign"></i>
                Crear nuevo logro
            </a>
        </li> 
    </ul>    #}           
   
   
                    
     {% endblock %}
    
    {% endembed %}
{% endblock %}
