{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>PorcentajeAsignaturaTrabajo edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('definir-porcentajes') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
