{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
   
    <div class="col-lg-6">
    <h1>Listado de Porcentajes por asignatura</h1>

      <a href="{{ path('definir-porcentajes_new') }}">
                Crear nueva asignación de porcentaje
      </a>
    <table class="table table-striped table-bordered" id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nuevoporcentaje</th>
                <th>Estado</th>
                <th>Fechacreacion</th>
                <th>Fechamodificacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('definir-porcentajes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nuevoPorcentaje }}</td>
                <td>{{ entity.estado }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaModificacion %}{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('definir-porcentajes_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('definir-porcentajes_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
          
       
    </div>            
    {% endblock %}
 {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  