{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>PorcentajeAsignaturaTrabajo creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('definir-porcentajes') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
