{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Editar Logro</h1>
    {{ form(edit_form) }}
    {{ form(delete_form) }}

    <a href="{{ path('boletin_show', { 'id': boletin }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>

{% endblock %}
