{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Creación Logro</h1>

    {{ form(form) }}

    <a href="{{ path('boletin_show', { 'id': id }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>

{% endblock %}

