{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Logro</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('logro_edit', { 'id': entity.id, 'boletin': boletin }) }}" class="btn btn-primary btn-success"> Editar <i class="icon-edit"> </i></a>
        {{ form(delete_form) }}
    </li>
    <li>
        <a href="{{ path('boletin_show', { 'id': boletin }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    </li>
</ul>
{% endblock %}
