{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
<div class="row">
<div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Usuarios </h3>
                            </div>



                            <div class="panel-body">

                            			<div class="product-head"> 
										  <strong>Buscar</strong> 
										    <div id="form"></div>
										    <br>
										    <div class="clear"></div>
										</div>

										 <div class="list-group" id="list">
									
													<em>Administradores</em>
 								   {% for administrador in administradores %}
	                                   <li style="list-style:none;" class="listadoAdmin" id="admin{{ administrador.id }}"> 
	                                    <a href="#" class="list-group-item">
	                                        <span class="badge">0</span>
	                                        <i class="fa fa-bell"></i> {{ administrador.idColegio|title }}
	                                    </a>
	                                    </li>
                                   {% endfor %}
                                 
                                   <em>Docentes</em>
								 {% for docente in docentes %}
								 	{% if  docente == app.user %}
								 	{% else %}
	                                   <li style="list-style:none;" class="listadoDocentes" id="docente{{ docente.id }}"> 
	                                    <a href="#" class="list-group-item">
	                                        <span class="badge">0</span>
	                                        <i class="fa fa-book"></i><em> {{ docente|title }} </em>
	                                    </a>
	                                    </li>
	                                {% endif %}    
                                   {% endfor %}
                                 

                                <hr>



                                <hr>
                                <em>Estudiantes</em>

									{% for estudiante in estudiantes %}
	                                  
	                                   <li style="list-style:none;" class="listadoEstudiantes" id="{{ estudiante.idEstudiante.id }}"> 
	                                    <a href="#" class="list-group-item">
	                                        <span class="badge">0</span>
	                                        <i class="fa fa-users"></i> <em>({{ estudiante.idGrupo.nombre }}) </em> {{ estudiante.idEstudiante|title }}
	                                    </a>
	                                    </li>
                                   {% endfor %}






										 </div>


                            </div>

                        </div>
</div>


<div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Mensajes <div id="persona"></div></h3>
                            </div>



                            <div class="panel-body">
                            		<div id="global" style="height: 250px;width: auto;padding: 10px;	border: 1px solid #E0DFDF;	background: #EEEDED;overflow-y: scroll;">
                            		<div id="resultados"></div>
                            		</div>

                            		<div>
                            		    <input type="asunto" class="form-control" placeholder="Escribe el asunto" id="asunto"/>
                            			<textarea id="respuesta" placeholder="Escribe el mensaje asegurate de no usar ningun simbolo..." class="form-control" rows="3"></textarea>
                            			<button class="btnEnviar btn btn-success btn-lg btn-block" id="enviar"> Enviar</button>
                            		</div>
							 </div>
                        </div>
</div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}

{% set rutaMensajesEstudiante = path('service_docente_mensajes_estudiante',{'estudiante':"Estudiante"}) %}
{% set rutaMensajesEstudianteNuevos = path('service_estudiantes_mensajes_estudiantes_nuevos',{'estudiante':"Estudiante"}) %}

{% set rutaMensajesAEstudiante = path('service_mensaje_docente_estudiante',{'estudiante':"Estudiante",'mensaje':"Mensaje",'asunto':"Asunto"}) %}
{% set rutaNuevosMensajesEstudiantes = path('service_nuevos_mensajes_estudiantes',{'estudiante':"Estudiante"}) %}


<script type="text/javascript">

var rutaMensajesEstudiante = "{{ rutaMensajesEstudiante }}";
var rutaMensajesEstudianteNuevos = "{{ rutaMensajesEstudianteNuevos }}";

var rutaMensajesAEstudiante = "{{ rutaMensajesAEstudiante }}";
var rutaNuevosMensajesEstudiantes = "{{ rutaNuevosMensajesEstudiantes }}";


$(document).ready(function(){
	$('.listadoAdmin').click(function(){
		event.preventDefault();
		alert("Estamos trabajando en esta funcionalidad");
	});

	$('.listadoDocentes').click(function(){
		event.preventDefault();
		alert("Estamos trabajando en esta funcionalidad");
		
		
	});

	$('.listadoEstudiantes').click(function(){
		event.preventDefault();
		        var id = $(this).attr('id');
	   
                $.mensajesEstudiantes(id);
           		setInterval(function() {
					   $.mensajesEstudiantesNuevos(id);			                
				    }, 10000);
	
	});

	setInterval(function() {
	      $.recorrerEstudiantes();      
	}, 30000);

});

$.recorrerEstudiantes = function(){

	 $('.listadoEstudiantes').each(function(indice, elemento) {
	 	var estudiante = $(elemento).attr('id');

		var rutaNuevosMensajesEstudiantes2 = rutaNuevosMensajesEstudiantes.replace("Estudiante",estudiante);
		$.get(rutaNuevosMensajesEstudiantes2,function(data){
			
			if(data == "0"){
					$('#'+estudiante+' a span').addClass('badge');
					$('#'+estudiante+' a span').text(data);
			}else{
					$('#'+estudiante+' a span').hide('slow');
					$('#'+estudiante+' a span').show('slideDown');

					$('#'+estudiante+' a span').addClass('badge alert-danger');
					$('#'+estudiante+' a span').text(data);
			}
		})
		// console.log('El elemento con el índice '+indice+' contiene '+$(elemento).attr('id'));
	 });  
}



$('.btnEnviar').click(function(){
	event.preventDefault();
	if($('#respuesta').val()=="" || $('#asunto').val()==""){
		alert("Debes escribir algo");
	}else{ 

		$.mensajesAEstudiantes($(this).attr("id"),$('#respuesta').val(),$('#asunto').val());
		$('#respuesta').val("");
		$('#asunto').val("");
	}
})


$.mensajesAEstudiantes = function(estudiante,mensaje,asunto){
	var rutaMensajesAEstudiante2 = rutaMensajesAEstudiante.replace("Estudiante",estudiante);
	var rutaMensajesAEstudiante3 = rutaMensajesAEstudiante2.replace("Mensaje",mensaje);
	var rutaMensajesAEstudiante4 = rutaMensajesAEstudiante3.replace("Asunto",asunto);
	$.get(rutaMensajesAEstudiante4,function(data){
		$.mensajesEstudiantes(estudiante);
	});
}


$.mensajesEstudiantes = function(estudiante){
	var rutaMensajesEstudiante2 = rutaMensajesEstudiante.replace("Estudiante",estudiante);

	 $('#resultados').html("");
	 $('.btnEnviar').removeAttr('id');
	 $('.btnEnviar').attr('id',estudiante);

	  $.ajax({
             url: rutaMensajesEstudiante2,
             dataType: "text",
             success: function(data) {

                 var json = $.parseJSON(data);

				 for (var i in json) {

                 	if(json == "No hay mensajes"){
							$('#resultados').text("No hay Mensajes");
                 	}else{

				                 	if(!json[i]['identEstudianteDestinatario']) {
					                
							              $('#resultados')
					                 		.append("<div><strong>"+json[i]['nombreEstudianteDestinatario']+" "+json[i]['nombreSegundoEstudianteDestinatario']+" "+ json[i]['apellidoEstudianteDestinatario']+" "+json[i]['apellidoSegundoEstudianteDestinatario'] +"</strong><br>")
					                 		.append("<strong>"+json[i]['asunto']+"</strong>")
					                 		.append(" "+json[i]['fechaModificacion']['date']+"")
					                 		.append("<br>")
					                 		.append("<i>"+json[i]['mensaje']+"</i></div><hr>");
							                
							    

									

					                 	
				                 	}else if(!json[i]['identDocenteDestinatario']){
										
					                 		$('#resultados')
					                 		.append("<div class='text-right'><strong> Yo</strong><br></div>")
					                 		.append("<div class='text-right'><strong>"+json[i]['asunto']+"</strong></div>")
					                 		.append("<div class='text-right'> "+json[i]['fechaModificacion']['date']+"</div>")
					                 		.append("<div class='text-right'><i>"+json[i]['mensaje']+"</i></div><hr>");
				                 		

				                 	}

				                 }


                 }
             }
          });
}



$.mensajesEstudiantesNuevos = function(estudiante){
	var rutaMensajesEstudianteNuevos2 = rutaMensajesEstudianteNuevos.replace("Estudiante",estudiante);

	 //$('#resultados').html("");
	 //$('.btnEnviar').removeAttr('id');
	 //$('.btnEnviar').attr('id',docente);

	 $.ajax({
             url: rutaMensajesEstudianteNuevos2,
             dataType: "text",
             success: function(data) {

                 var json = $.parseJSON(data);

				 for (var i in json) {

                 	if(json == "No hay mensajes"){
							//$('#resultados').text("No hay Mensajes");

                 	}else{

				                 if(!json[i]['identEstudianteDestinatario']) {
					                 	

				                 		$('#resultados')
					                 		.prepend("<div id="+json[i]['id']+"><strong>"+json[i]['nombreEstudianteDestinatario']+" "+json[i]['nombreSegundoEstudianteDestinatario']+" "+ json[i]['apellidoEstudianteDestinatario']+" "+json[i]['apellidoSegundoEstudianteDestinatario'] +"</strong><br><strong>"+json[i]['asunto']+"</strong> "+json[i]['fechaModificacion']['date']+"<br><i>"+json[i]['mensaje']+"</i></div><hr>");

					                 	
				                 	}
				                 	
				                 }


                 }
             }
          });

}


</script>



<script type="text/javascript">
		(function ($) {
  // custom css expression for a case-insensitive contains()
  jQuery.expr[':'].Contains = function(a,i,m){
      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
  };
 
  function filterList(header, list) { 
  // header is any element, list is an unordered list
    // create and add the filter form to the header
    var form = $("<form>").attr({"class":"filterform","action":"#"}),
        input = $("<input>").attr({"class":"filterinput form-control","type":"text"});
    $(form).append(input).appendTo(header);
 
    $(input)
      .change( function () {
        var filter = $(this).val();
        if(filter) {
 	  
		  $matches = $(list).find('a:Contains(' + filter + ')').parent();
		  $('li', list).not($matches).slideUp();
		  $matches.slideDown();
		    
        } else {
          $(list).find("li").slideDown();
        }
        return false;
      })
    .keyup( function () {
        // fire the above change event after every letter
        $(this).change();
    });
  }
 
 
  //ondomready
  $(function () {
    filterList($("#form"), $("#list"));


  });
}(jQuery));

	</script>
{% endblock %}