{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
<h2>Mis Circulares</h2>

<div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Crear Circular</h3>
                            </div>
                            <div class="panel-body">
                              
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                       Publicado: <input type="checkbox" name="publicado" class="form-control" /> 
                                    </label>
                                </div>
                            </div>    

                           <div class="form-group">
                                <label>Destinatarios</label>
                                <select multiple="" class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

							<div class="form-group">
                                <label>Titulo de la Circular</label>
                                <input class="form-control">
                                <p class="help-block">Escribe un título breve.</p>
                            </div>
							<div class="form-group">
                                <label>Detalle</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                                {#<div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>#}
                            </div>
                        </div>
                    </div>

    
{% endblock %}  
{% block javascripts %}
{{ parent() }}
	<script>

	</script>

{% endblock %} 