{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}

    <h1>Grupos y Asignatura que imparto</h1>
    
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Grupo</th>
                <th>Asignatura</th>                
                <th>Acciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in asignaturas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.idGrupo.nombre }}</td>
                <td>{{ entity.idAsignatura }}</td>
                
                <td>
              <a href="{{ path('ColegioDocente_matriculas', {'id': entity.idGrupo, 'asignatura': entity.id }) }}" class="btn btn-success btn-sm"><i class="fa fa-users"></i> Estudiantes</a> 
              <a href="{{ path('service_listar', {'grupoAsignatura': entity.id, 'periodo': idperiodo}) }}" class="btn btn-default"><i class="fa fa-cogs"></i> </a>  
              <a href="{{ path('trabajos_new', {'grupoAsignatura': entity.id, 'periodo': idperiodo }) }}" class="btn btn-primary"><i class="fa fa-file"></i> Tareas</a>
                </td>
                <td>
                    {% for tipo in tipos if tipo.grupoAsignatura.id == entity.id  %}
                        {{ tipo }}
                            {% for total in totales if total.identificador == tipo.id %}
                                    <span class="label label-success"> {{ total.total }}</span>
                                {% else %}        
                                    <span class="label label-danger"> Te falta</span> 
                                {% endfor %}
                           <br>     
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>

       
    {% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/tablesD/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/tablesD/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  
