{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}

<h1>Noticias Plataforma </h1>


<div class="row">
  <div class="col-sm-6 col-md-4">

  	<p>Contáctanos @tucompualdia, facebook.com/tucompualdia Tel: 7433563 en Tunja, o al 318 2951734</p> 
<a class="twitter-timeline"  href="https://twitter.com/jairoalonsog12"  data-widget-id="467845563124183040">Tweets por @tucompualdia</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


  </div>

{% endblock %}
