{% if formato == "" %}
    {% extends 'ColegioDocenteBundle::layout.html.twig' %}
  
{% endif %}
  {% block detalle %}
<div>

                  
            <table class="">
                <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                     {% for tipo in tiposTrabajo %}
                     <tr>
                        <td>
                        {% for total in totales if total.identificador == tipo.id %}
                                    <i class="fa fa-check-circle-o"></i>
                                {% else %}        
                                     <i class="fa fa-exclamation-circle"></i>
                                {% endfor %}
                        </td>
                        <td>{{ tipo }}</td>
                        <td>
                                {% for total in totales if total.identificador == tipo.id %}
                                    <span class="label label-success"> {{ total.total }}</span>
                                {% else %}        
                                    <span class="label label-danger"> Te falta</span> 
                                {% endfor %}
                        </td>        
                     
                    {% endfor %}

                </tbody>
            </table>
       
    </div>
    {% endblock %}


{% block contenido %}

  <h3>LISTA {{ asignatura }} <a href="{{ path('ColegioDocente_grupos') }}" class="btn btn-warning bt-sx">Volver</a>
  </h3>
 <div class="panel-body">

                            <div class="table-responsive">
                   
{% for entity in periodos %}
  {% set bloquearPeriodo = entity.cerrarPeriodo %}    
{% endfor %}    
  <div class="table-responsive">                     
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>#</th>
                <th>Estudiante</th>
                {% for trabaj in trabajos %}
                <td style="max-width: 100px;text-align:center;"><string>#{{ loop.index }}</strong> <button  type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal{{ trabaj.id }}"><i class="fa fa-info-circle"></i></button></td>                  
               
                
                {% endfor %} 
                <th style="text-align:center;">Edición</th>
                <th style="text-align:center;">Nota</th>
                <th style="text-align:center;">Fallas</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.idEstudiante.primerApellido|upper }} {{ entity.idEstudiante.segundoApellido|upper }}, {{ entity.idEstudiante.primerNombre|upper }} {{ entity.idEstudiante.segundoNombre|upper }}</td>
              
                {% for trabaj in trabajos %}
                   <td style="text-align: center;">
                        <div>
                            <div style="float:left"> 
                                {% for otro in notasfinales  %}
                                    
                                    {% if otro.inscripcionAsignatura.matricula.id == entity.id  %}    
                                        
                                        {% if otro.trabajo.id == trabaj.id %}
                                            
                                            <input disabled type="text" value="{{ otro.calificacion }}" style="width:25px;" id="final-{{ trabaj.id }}-{{ entity.id }}" name="final-{{ trabaj.id }}-{{ entity.id }}" min="0" max="5" step="0.1" />
                                            
                                        {% endif %}
                                    
                                    {% else  %}
                                           
                                               
                                   
                                    {% endif %}
                                
                                   
                                {% endfor %} 
                                {% if trabaj.fechaEntrega|date_modify('+15 day')|date('Y-m-d H:m:s') >= "now"|date('Y-m-d H:m:s') %}
                                     <input {% if bloquearPeriodo == true  %}disabled{% endif %} type="number" style="width:40px;" size="10em" id="{{ entity.id }}" name="{{ entity.id }}" min="0" max="5" step="0.1" onchange="calificarFunction({{trabaj.id }},{{ entity.id }},this.value)"/> 
                                {% else %}
                                <button  type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal{{ trabaj.id }}"><i class="fa fa-info-circle"></i></button>    
                                {% endif %}     
                                
                            </div>
                         <div style="float:left; padding: 5px" id="{{ entity.id }}consolidado{{ trabaj.id }}"></div>
                       
                        </div>
                     </td>                  
                {% endfor %}  
                 
               
                <td align="center">
                
                <a href="{{ path('notadocente_registro',{ 'matricula': entity.id, 'asignatura': asignatura.id, 'grupo': grupo.id }) }}" class="btn btn-warning btn-xs" target="popup" onclick="window.open('', 'popup', 'width=600,height=700')"> <i class="fa fa-book fa-fw"></i> Notas </a>
                <td align="center">
                <div id="notaFinal{{ entity.id }}">
                     {% for noticas in notas  %}  

                        {% if entity.id == noticas.matricula.id %}

                            <a class="btn btn-default btn-xs">   {{ noticas.calificacion|number_format(1) }}   </a>
                        {% else %}
                            
                        {% endif %}             
                        {#<a class="btn btn-default btn-sm"> {{ noticas.calificacion }} {{ noticas.matricula }} </a>#}
                     {% endfor %} 
             </div>
                </td>
                </td>
                <td>

                {% for noticas in notas  %}  

                        {% if entity.id == noticas.matricula.id %}

                            <a class="btn btn-default btn-xs" id="fallasTotales{{ noticas.id }}" class="fallasResultado"> {{ noticas.fallas|number_format(0) }}   </a>
                            <input class="fallas" type="number" step="1" min="0" style="width:40px;" id="{{ noticas.id }}">
                        {% else %}
                            
                        {% endif %}             
                        {#<a class="btn btn-default btn-sm"> {{ noticas.calificacion }} {{ noticas.matricula }} </a>#}
                {% endfor %} 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
</div>

    {% for trabaj in trabajos %}
                              
                <div class="modal fade" id="myModal{{ trabaj.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Detalle para No. {{ loop.index }}</h4>
                        </div>
                        <div class="modal-body">
                            Código: {{ trabaj.id }} <span class="label label-danger">Use este código "{{ trabaj.id }}", para solicitar al administrador del sistema que le extienda las fechas de edición, ya no se harán borrados de tareas a través de la base de datos...</span><br>  
                            {{ trabaj.tipoTrabajo }} ({{ trabaj.tipoTrabajo.nuevoPorcentaje }}%)<br>
                            Fecha de Entrega: {{ trabaj.fechaEntrega|date('d, M-Y H:m:s') }}<br>
                            Puedes calificar y corregir hasta: {{ trabaj.fechaEntrega|date_modify('+15 day')|date('d, M-Y H:m:s') }}
                          <hr>
                          <strong>DESCRIPCIÓN</strong>
                                   <div class="row table-responsive">
                                      <div class="col-sm-12">
                                  {{ trabaj.detalle|raw }}
                                  
                                  </div>
                                  </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Gracias</button>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                
                {% endfor %} 

        
</div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

        <script src="{{ app.request.schemeAndHttpHost~asset('bundles/temastemas/js/tablesD/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ app.request.schemeAndHttpHost~asset('bundles/temastemas/js/tablesD/dataTables.bootstrap.js') }}" type="text/javascript"></script>
  
  {% if formato == null %}
    {% set ruta = path('service_notas',{'trabajo': "trabajos", 'matricula': "inscripcionAsignaturas", 'calificacion': "calificaciones", 'estado': "true", 'grupoAsignatura': asignatura.id }) %}
    {% set rutaCargar = path('service_cargar_notas',{'trabajo': "trabajos",'matricula': "inscripcionAsignaturas" }) %}
    {% set rutaNota = path('service_actualizar_notafinal',{ 'grupoAsignatura': asignatura.id,'matricula': "InscripcionAsignatura" }) %}
    {% set rutaFallas = path('service_fallas_docente',{'idNota':"IdNota",'matricula':"Matricula",'grupoBoletin':"GrupoBoletin", 'fallas':"Fallas"}) %}


<script type="text/javascript">
var rutaFallas = "{{ rutaFallas }}";      



   var xmlhttpCalificar = new XMLHttpRequest();
  
 
   function calificarFunction(trabajo, inscripcionAsignatura, calificacion){
           
          ruta = "{{ ruta }}"
           
          var variable = inscripcionAsignatura+'consolidado'+trabajo;
          var rutaAjustada = ruta.replace('trabajos', trabajo);
          var rutaAjustada2 = rutaAjustada.replace('inscripcionAsignaturas', inscripcionAsignatura);
          var rutaAjustada3 = rutaAjustada2.replace('calificaciones', calificacion);
          console.log(rutaAjustada3);

          $.ajax({
               url: rutaAjustada3,
               dataType: "text",
               success: function(data) {
                  $('#'+inscripcionAsignatura +"consolidado"+trabajo).html(data);
              
                    $('#'+variable+'').fadeIn();
                    if(calificacion <= 5){
                     setTimeout(function() {
                            $('#'+variable+'').fadeOut(500);
                     },2500);
                    }

                    var rutaNota = "{{ rutaNota }}";
                    var rutaNota1 = rutaNota.replace("InscripcionAsignatura",inscripcionAsignatura);
                    
                    $.get(rutaNota1,function(data){
                      
                    }).done(function(data){
                        $('#notaFinal'+inscripcionAsignatura+'').html('<a class="btn btn-default btn-xs"> ' + data + '</a>');
                    }).fail(function(){
                        $.mensaje();
                    });
                                 
                  
                  if(calificacion <= 5){
                      document.getElementById("final-"+trabajo+"-"+inscripcionAsignatura).value = calificacion;
                  }

               }
          });          
}
</script>

     <script type="text/javascript">
        $(document).ready(function(){
          
          $('#dataTables-example').dataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": false,
          "info": true,
          "autoWidth": false,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
          }
        }).click(function(){
              //event.preventDefault();
             
              $( ".fallas" ).off("change");
              $.eventoChange();
          });

         $.eventoChange = function(){ 
            $('.fallas').change(function(){
              var id = $(this).attr('id');
              var cantidadFallas = $(this).val();
              var rutaFallas2 = rutaFallas.replace("IdNota",id);
              var rutaFallas3 = rutaFallas2.replace("Fallas",cantidadFallas);
                
              $.get(rutaFallas3,function(){
                  $('#fallasTotales'+id).text(cantidadFallas);
              }).done(function(){
                $.mensajeCorrectoFallas();                 
              }).fail(function(){
                $.mensajeErrorConexion();
              });  


              $.mensajeCorrectoFallas = function(){
                      notif({
                      msg: "<b>Correcto:</b>Se han actualizado las fallas correctamente",
                      type: "success",
                      autohide:true,
                      width: "all"
                    });
                 }
              $.mensajeErrorConexion = function(){
                      notif({
                      msg: "<b>Error:</b> Ha habido un error, revisa tu conexión",
                      type: "error",
                      autohide:false,
                      width: "all"
                    });
                }   

            });
          }
        });
     </script>
   {% endif %} 
{% endblock %}  



