{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
<h1>Mis mensajes enviados    </h1>

<table class="table table-striped table-bordered table-hover" id="mismensajes">
        <thead>
            <tr>
                <th>No.</th>
                <th>Enviado a</th>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    {% for entity in mensajes %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entity.estudianteDestinatario|title }}</td>
            <td>
        {{ entity.asunto|capitalize }}...
            </td>
            <td>{{ entity.fechaModificacion|date("d, M-Y H:m:s")  }} </td>
            <td><a href="#" class="btn btn-success"  data-toggle="modal" data-target="#myModal{{ entity.id }}"><icon class="fa fa-archive"></icon></a>
            	 <div class="modal fade" id="myModal{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Mensaje</h4>
                      </div>
                      <div class="modal-body">
                        {{  entity.mensaje }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Gracias</button>
                        
                      </div>
                    </div>
                  </div>
                </div>

            </td>
        </tr>
    {% endfor %}
         </tbody>
        
    </table>
    
{% endblock %}   
{% block javascripts %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#mismensajes').DataTable();
        });
    </script>
{% endblock %} 