{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
 
<div class="col-lg-5">
<h2>Observaciones</h2>
                            <div class="table-responsive">
  <table class="table table-bordered" id="dataTables-example">
    <thead>
        <tr>
            <th class="header"><i class="fa fa-sort"></i></th>
            <th class="header">Nivel <i class="fa fa-sort"></i></th>
           
            <th class="header">Sede <i class="fa fa-sort"></i></th>
            <th class="header">Nombre <i class="fa fa-sort"></i></th>
            <th class="header">Activo <i class="fa fa-sort"></i></th>
            <th class="header">Ver</th>
        </tr>
        </thead>
        <tbody>       
         {% for group in entities %}
            <tr class="{% if group.activo == 1 %}{% else %}danger{% endif %}">

                <td>{{ loop.index }}</td>
                <td>{{ group.idNivel }}</td>
               
                <td>{{ group.idSede }}</td>
                <td>{{ group.nombre }}</td>
                <td><div style="display:none">{{ group.activo }}</div><div class="fa-hover col-md-3 col-sm-4"><a href="#">{% if group.activo == true %}<i class="fa fa-check-square"></i>{% else %}<i class="fa fa-minus-square"></i>{% endif %}</a></div></td>
                <td>
          <a href="{{ path('ColegioDocente_misgrupos',{ 'grupo': group.id }) }}" class="btn btn-warning btn-sm"><i class="fa fa-minus-square"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


</div>

<div class="col-lg-7">
{% if app.request.attributes.get('grupo') == null %}

{% else %}

        <div class="table-responsive">
                 <h2>Listado de Estudiantes</h2>  
                 <div class="alert alert-danger">
                    <strong>Profes</strong>, para poder calificar el comportamiento, deben primero tener la observación del estudiante, y actualizar esta pagina para que se habilite correctamente

                 </div>             
                 <table class="table table-bordered table-hover table-striped tablesorter" id="dataTables-example2">
                    <thead>
                        <tr>
                            <th class="header"><i class="fa fa-sort"></i></th>
                            <th class="header">Apellidos <i class="fa fa-sort"></i></th>
                            <th class="header">Nombres <i class="fa fa-sort"></i></th> 
                            <th></th>
                            <th>Comportamiento</th>
                        </tr>
                    </thead>
                    <tbody> 
                {% for datos in estudiante %}   
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ datos.idEstudiante.primerApellido}} {{ datos.idEstudiante.segundoApellido}}</td>
                            <td>{{ datos.idEstudiante.primerNombre}} {{ datos.idEstudiante.segundoNombre}}</td>
                          
                            <td>
                                <a href="{{ path('observacion_new',{'matricula':datos.id}) }}" target="popup" onclick="window.open('', 'popup', 'width=600,height=700')"><i class="fa fa-building-o fa-1x"></i><a>
                            </td> 
                            <td>
                                {% set observaciones = "" %} 
                                {% set idobservaciones = "" %} 

                                {% for obs in datos.observaciones  %} 
                                {% set observaciones = obs.calificacion %} 
                                {% set idobservaciones = obs.id %} 

                                {% endfor %}
    <a id="consolidado{{ idobservaciones }}" href="#" class="btn btn-default btn-sm" >
    {% if observaciones == "" %} 
    
    {% else %}
        {{ observaciones|number_format(1) }}
    {% endif %} 
    </a>    
    <input id="{{ idobservaciones }}" class="notaComportamiento"  {% if observaciones == "" %} disabled="disabled" {% else %}
                value="{{ observaciones|number_format(1) }}" {% endif %}  type="number" style="width: 40px" min="0" max="5" step="0.1"/></td>              
                        </tr>
                {% endfor %}
                    </tbody>    
        </div>
</div>


{% endif %}


{% endblock %}
{% block javascripts %}
{{ parent() }}
{% set rutaGrupo = path('service_notaobservacion_docente',{'observacionID':"Observacion",'calificacion':"Calificacion"}) %}

        <script src="{{ asset('bundles/temastemas/js/tablesD/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/tablesD/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script>
    
    $(document).ready(function() {
        var rutaGrupo = "{{ rutaGrupo }}"
        $('#dataTables-example').dataTable();
        $('#dataTables-example2').dataTable().click(function(){
              
              $( ".notaComportamiento" ).off("change");
              $.eventoChange();
        });

        $.eventoChange = function(){ 
            $('.notaComportamiento').change(function(){
                    var id = $(this).attr('id');

                    var valor = $(this).val();

                    if(valor > 5){
                        alert("Error no puede ser mayor a 5");
                    }else if(valor < 0){
                        alert("Error no puede ser menor a 0");
                    }else{
                        var rutaGrupo2 = rutaGrupo.replace("Observacion",id);
                        var rutaGrupo3 = rutaGrupo2.replace("Calificacion",valor);
                        $.get(rutaGrupo3,function(){
                            $('#consolidado'+id).text(valor);
                        })
                    }
            });
        };
    })
 
    </script>
{% endblock %}  

