{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}



<div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> Datos Personales</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <span class="badge">Nombres</span>
                    <i class="fa fa-calendar"></i>  {{ datos.nombres }} {{ datos.apellidos }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Teléfono</span>
                    <i class="fa fa-comment"></i> {{ datos.telefono}}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Email / Usuario</span>
                    <i class="fa fa-truck"></i> {{ datos.email }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Número de documento</span>
                    <i class="fa fa-money"></i> {{ datos.numeroIdentificacion }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">email</span>
                    <i class="fa fa-user"></i> {{ datos.email2 }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Password</span>
                    <i class="fa fa-user"></i> ********** 
                  	
                  </a>
                  
                </div>

<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
  Editar
</button>

                <div class="text-right">
                  <a href="#">Ver otros <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
  </div>        


<div class="col-lg-6">
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar mis datos</h4>
      </div>
      <div class="modal-body">
        {{ form(form) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
