{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
<style type="text/css">

.cuerpo {
font-family: Arial,Helvetica,sans-serif; font-size:12px;
}

</style>
{% endblock %}
{% block title %}
Planilla
{% endblock %}
{% block body %}
<div class="container">
	<div class="cuerpo">
	  <div >
	  <br/>
	  <br/>
		    <table class="table" style="padding:5px">
	        	 <tr>
	                <td width="20%" height="100" border-color="white"><img src="{{ app.request.getSchemeAndHttpHost() ~asset(logo) }}" width="100px" height="100px" /></td> 
	                <td width="100%" height="100" border-color="white">
	                      
	                           <h2> {{ datosColegio }} </h2>{# var won't be escaped #}
	                      
	                </td>
	             </tr>

			</table>
	  <br/>
	  <table class="table">
	  	<tr>
	  		<th>GRUPO:</th>
	  		<td>{{ grupoAsignatura.idGrupo.nombre|upper }}</td>
	  		<th>DOCENTE:</th>
	  		<td>{{ grupoAsignatura.idDocente|upper }}</td>
	  	</tr>
	  	<tr>
	  		<th>ASIGNATURA</th>
	  		<td>{{ grupoAsignatura.idAsignatura|upper }}</td>
	  		<tH>PERIODO:</tH>
	  		<td>{{ periodoActual.periodo|upper }}</td>
	  	</tr>
	  </table>
	  <br/>
	  		 <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <td align="center">No.</td>
                <td>Estudiante</td>
                {% for trabaj in trabajos %}
                <td align="center"><string>No. {{ loop.index }}</strong> <button  type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal{{ trabaj.id }}"><i class="fa fa-info-circle"></i></button></td>                  

                
                {% endfor %} 
                <td align="center">Nota</td>
                <td align="center">Fallas</td>
            </tr>
        </thead>
		<tbody>
			{% for matricula in matriculas %}
				<tr>
	       			<td>{{ loop.index }}</td>
	       			<td>{{ matricula.idEstudiante|upper }}</td>
	       			{% for trabaj in trabajos %}
	       			<td align="center">
	       				 {% for otro in notas  %}
                                    
                                    {% if otro.inscripcionAsignatura.matricula.id == matricula.id  %}    
                                        
                                        {% if otro.trabajo.id == trabaj.id %}
                                            
                                            {{ otro.calificacion|number_format(1) }} 
                                            
                                        {% endif %}
                                    
                                    {% else  %}
                                           
                                               
                                   
                                    {% endif %}
                                
                                   
                                {% endfor %} 
	       			</td>
	       			{% endfor %}
	       			<td align="center">
	       				{% for nota in matricula.notas %}
		       			{{ nota.calificacion|number_format(1) }}
	       				{% endfor %}
	       			</td>
	       			<td align="center">
	       				{% for nota in matricula.notas %}
		       			{{ nota.fallas }}
	       				{% endfor %}
	       			</td>
	       		</tr>	
       		{% endfor %}	
       	</tbody>
    </table>
	  </div>
	</div>
</div>	

{% for trabaj in trabajos %}
                <div class="modal fade" id="myModal{{ trabaj.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Detalle para No. {{ loop.index }}</h4>
                        </div>
                        <div class="modal-body">
                        	Código: {{ trabaj.id }}<br>
                            {{ trabaj.tipoTrabajo }} ({{ trabaj.tipoTrabajo.nuevoPorcentaje }}%)<br>
                            Fecha de Entrega: {{ trabaj.fechaEntrega|date('d, M-Y H:m:s') }}<br>
                            Puedes calificar y corregir hasta: {{ trabaj.fechaEntrega|date_modify('+15 day')|date('d, M-Y H:m:s') }}
                          <hr>
                          <strong>DESCRIPCIÓN</strong>
                          {{ trabaj.detalle|raw }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Gracias</button>
                         
                        </div>
                      </div>
                    </div>
                  </div>
{% endfor %}
{% endblock %}