{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
<div class="row">
<div class="col-lg-12">
	  <div class="table-responsive">
		<h1>Planillas</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Grupo</th>
						<th>Materia</th>
						{% for listaPeriodo in listadoPeriodos %}
						<th>{{ listaPeriodo.periodo }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
				{% for asignatura in asignaturas %}
					<tr>
						<td>{{ asignatura.idGrupo.nombre|upper }}</td>
						<td>{{ asignatura.idAsignatura.nombre|upper }}</td>
						{% for listaPeriodo in listadoPeriodos %}
						<td>
							 {#<a href="{{ path('ColegioDocenteBundle_planillas_docentes', {'grupoAsignatura': asignatura.id, 'periodo': listaPeriodo.id, 'formato': "pdf" }) }}" class="btn btn-danger btn-sm" target="_blank" id="#"><i class="fa fa-file-pdf-o"></i></a>#}
                        	 <a href="{{ path('ColegioDocenteBundle_planillas_docentes', {'grupoAsignatura': asignatura.id, 'periodo': listaPeriodo.id, 'formato': "html" }) }}" class="btn btn-warning btn-sm" target="_blank"> <i class="fa fa-file-pdf-o"></i></a>
						</td>
						{% endfor %}
					</tr>
				</tbody>
				{% endfor %}
			</table>
		</div>
		</div>
</div>

{% endblock %}