{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    

    <div class="col-lg-6">
        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-th-large"></i> Boletin... Período:{{ periodo|capitalize }}-{{ grupoAsignatura.idGrupo.nombre|capitalize }}-{{ grupoAsignatura.idAsignatura.nombre|capitalize }}</h3>
                            </div>
                            <div class="panel-body">
                            

                            {% for grupoBoletines in grupoBoletin %}

                                {{ grupoBoletines.boletin.descripcion|upper }} {% if periodo.boletinDocente == true %} <a href="#" id="crearLogro" class="btn btn-success btn-sm"> Crear Logro</a>{% else %}{% endif %}
                                
                                <div class="form-group" style="display: none" id="formCrearLogros">
                                                <select id="categoria" class="form-control">
                                                    {% for categoria in categorias %}
                                                      <option value="{{ categoria.id }}">{{ categoria }}</option>
                                                    {% endfor %}
                                                </select>
                                        <textarea required rows="2" cols="40" class="form-control" id="descripcionLogro" placeholder="Escribe la descripción del logro"></textarea>
                                        <a href="#" class="btn btn-default" id="btnGuardarLogros">Guardar</a>
                                 </div>


                            

                            {% else %}    
                            

                                <hr>
                                <span class="alert alert-danger"><strong>No tienes creados Boletines aún...</strong></span> 
                                 {% if periodo.boletinDocente == true %}
                                 <a href="#" id="crearBoletin" class="btn btn-success"> Crea Uno!</a><hr>

                                 <div class="form-group" style="display:none" id="formCrearBoletin">
                                        <label>Descripción</label>
                                        <input class="form-control" id="descripcion">
                                        <p class="help-block">Escribe brevemente una descripción o nombre para el Boletín.</p>
                                         <a href="#" class="btn btn-default" id="btnGuardar">Guardar</a>
                                 </div>
                                 {% else %}
                                  <h1>Solicita a tu administrador urgentemente un Boletin con logros</h1>
                                 {% endif %}

                                    
                            {% endfor %}


                           
                            
                        
                            </div>
                        </div>
    </div>


    <div class="col-lg-6">
        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bookmark-o"></i> Logros</h3> 
                               {% if periodo.boletinDocente == true %} <em><a href="" id="actualiza"> <i class="fa fa-refresh"></i> Presiona acá para Actualizar y poder editar</a></em>{% else%} {% endif %}
                            </div>
                            <div class="panel-body">

                                 <div id="listaLogros">
                                     {% for logro in logros %}

                                       {% if periodo.boletinDocente == true %} <a href="#" id="{{ logro.id }}" class="editarLogro" data-toggle="modal" data-target="#myModal{{ logro.id }}"> <i class="fa fa-pencil-square-o"></i></a>{% else %}{% endif %} <em>{{ logro.categoria }}:</em> {{ logro }} <hr>
      
        <div class="modal fade" id="myModal{{ logro.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Edición de Logros</h4>
                        </div>
                        <div class="modal-body">
                          
                          <strong>DESCRIPCION</strong>
                                <div class="form-group" id="formEditarLogros">
                                <select id="categoriaEditar{{ logro.id }}" class="form-control">
                                      <option selected="selected" value="{{ logro.categoria.id }}">{{ logro.categoria }}</option>
                                    {% for categoria in categorias %}
                                      <option value="{{ categoria.id }}">{{ categoria }}</option>
                                    {% endfor %}
                                </select>
                        <textarea required rows="4" cols="40" class="form-control" id="descripcionLogro{{ logro.id }}" placeholder="Escribe la descripción del logro">{{ logro }}</textarea>
                        <a href="#" class="editar btn btn-success" id="{{ logro.id }}">Actualizar</a>
                                 </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                         
                        </div>
                      </div>
                    </div>
                  </div>

                                     {% endfor %}
                                 </div>

                            </div>
                        </div>
    </div>

<div class="col-lg-12">
    
    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tabla de Porcentajes</h3>
                            </div>
                            <div class="panel-body">
       
       <a href="{{ path('ColegioDocente_grupos') }}" class="btn btn-info">&laquo; Volver atrás</a>
<hr>
        <strong align="center">PORCENTAJES GENERALES</strong>
    <table  class="table table-striped table-bordered table-hover" >
        <thead>
            <th>No.</th>
            <th>Tipo de trabajo</th>
            <th>Porcentaje Colegio</th>
            <th>Porcentajes Docente</th>
        </thead>
        <tbody>
            {% for porcentaje in porcentajes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ porcentaje.tipoTrabajo }}</td>
                    <td align="center">{{ porcentaje.porcentaje }} %</td>
                    <td>
                        {% for porcent in porcentajesGrupos %}
                            {% if porcent.porcentajeTrabajo.id == porcentaje.id %}
                                 
                                {% if periodo.porcentajeEstandar == false %}
                                    <input type="number" style="width: 45px" value="{{ porcent.nuevoPorcentaje }}" onchange="cargar()" />
                                 {% else %}
                                    <input disabled type="number" style="width: 45px" value="{{ porcent.nuevoPorcentaje }}" onchange="cargar()" />
                                 {% endif %}
                            
                            {% endif %}    
                        {% endfor %}    
                            
                            
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
        
    </table> 
    </div>
                        </div>
    </div>

{% endblock %}  
{% block javascripts %}
    {{ parent() }}
{% set rutaBoletinNuevo = path('service_boletines_docente', {'asignatura': "Asignatura",'periodo': "Periodo", 'grupoAsignatura': grupoAsignatura.id, 'descripcion':"Descripcion" }) %}
{% set rutaLogros = path('service_boletines_logros', { 'boletin': "Boletin", 'categoria': "Categoria", 'descripcion': "Descripcion" }) %}
{% set rutaActualizarLogros = path('service_actualizar_logro', {'logro':"Logro", 'descripcion': "Descripcion", 'categoria': "Categoria"}) %}
    <script type="text/javascript">
        
        rutaBoletinNuevo = "{{ rutaBoletinNuevo }}";
        rutaLogros = "{{ rutaLogros }}";
        rutaActualizarLogros = "{{ rutaActualizarLogros }}"
           $(document).ready(function(){

             

              $('#btnGuardar').click(function(){
                  $(this).dblclick(function(){
                    alert('Todas las funciones de la Plataforma, requieren tan solo un clic, muchas gracias');
                  })
                   // alert($('#descripcion').val()+"--"+"{{ periodo }}"+"--"+"{{ grupoAsignatura.idGrupo.nombre }}"+"-- Materia "+"{{ grupoAsignatura.idAsignatura.nombre }}");
                   if($('#descripcion').val()==""){
                        alert("Llena el campo descripción");
                   }else{
                      $('#btnGuardar').attr("disabled",true);
                      $('#btnGuardar').text("Enviando...");
                      $.boletin();
                    }    
                });


              $('#btnGuardarLogros').click(function(){
                
                   // alert($('#descripcion').val()+"--"+"{{ periodo }}"+"--"+"{{ grupoAsignatura.idGrupo.nombre }}"+"-- Materia "+"{{ grupoAsignatura.idAsignatura.nombre }}");
                   if($('#descripcionLogro').val()==""){
                        alert("Llena el campo descripción");
                   }else{
                        $.logros("{{ boletin }}",$('#categoria').val(),$('#descripcionLogro').val());
                        
                    }    
                });


              $('.editar').click(function(){
               
                    var id = $(this).attr('id');
                    var categoria = $('#categoriaEditar'+id+'').val();
                    var descripcion = $('#descripcionLogro'+id+'').val();
                    //alert(categoria+" "+descripcion+ " -"+id);
                    $.actualizarLogros(id,descripcion,categoria);
              });
                
                formBoletin = 0;
                $('#crearBoletin').click(function(){
                    if(formBoletin == 0){
                        $('#formCrearBoletin').show('slide');
                        formBoletin = 1;
                    }else{
                        $('#formCrearBoletin').hide('slide');
                        formBoletin = 0;
                    }

                });


                formLogro = 0;
                $('#crearLogro').click(function(){
                    if(formLogro == 0){
                        $('#formCrearLogros').show('slide');
                        formLogro = 1;
                    }else{
                        $('#formCrearLogros').hide('slide');
                        formLogro = 0;
                    }

                }); 
        
      });

                $.aplicarEvento = function(){
                    $('.editarLogro').unbind("click");
                    $('.editarLogro').click(function(){
                        $( "#dialog" ).dialog( "open" );
                    });
                }

            $.boletin = function(){
                    
                var rutaArreglada = rutaBoletinNuevo.replace('Asignatura',"{{ grupoAsignatura.idAsignatura.id }}");
                var rutaArreglada2 = rutaArreglada.replace('Periodo',"{{ periodo.id }}");
                var rutaArreglada3 = rutaArreglada2.replace('Descripcion',$('#descripcion').val());
                     $.get(rutaArreglada3,function(data){
                        console.log("ok ok");
                         $('#formCrearBoletin').hide('slide');
                        formBoletin = 0;
                         $('#btnGuardarLogros').attr("disabled", true);
                         $('#btnGuardarLogros').text("Enviando...");
                           
                    }).done(function(){
                       location.reload();
                    }).fail(function(){
                         $.mensajeError();
                         $('#btnGuardarLogros').attr("disabled", false);
                         $('#btnGuardarLogros').text("Guardar");
                    });

                 }

            $.logros = function(boletin,categoria,descripcion){
                var rutaLogrosArreglada  = rutaLogros.replace("Boletin",boletin);
                var rutaLogrosArreglada2 = rutaLogrosArreglada.replace("Categoria",categoria);
                var rutaLogrosArreglada3 = rutaLogrosArreglada2.replace("Descripcion",descripcion);

                $.get(rutaLogrosArreglada3,function(data){
                       $('#listaLogros').append('<em>'+ $('#categoria option:selected').text() +':</em> '+ $('#descripcionLogro').val()+"<hr>");
                        $.aplicarEvento();
                       
                        $('#btnGuardarLogros').attr("disabled", true);
                        $('#btnGuardarLogros').text("Enviando...");

                }).done(function(){
                  $.mensaje();
                  $('#descripcionLogro').val("");
                    $('#btnGuardarLogros').text("Guardar");
                    $('#btnGuardarLogros').attr("disabled", false);
                }).fail(function(){
                  $.mensajeError();
                });

            }

            $.mensaje = function(){
                 notif({
                  msg: "<b>Felicitaciones:</b> Agregado correctamente",
                  type: "success"
                });
            }

             $.mensajeError = function(){
                 notif({
                  msg: "<b>Error:</b> ha habido un error de conexión a internet",
                  type: "error"
                });
            }

            $.actualizarLogros = function(logro,descripcion,categoria){
                var rutaActualizarLogros1 = rutaActualizarLogros.replace("Logro",logro);
                var rutaActualizarLogros2 = rutaActualizarLogros1.replace("Descripcion",descripcion);  
                var rutaActualizarLogros3 = rutaActualizarLogros2.replace("Categoria",categoria);  

                $.get(rutaActualizarLogros3,function(data){
                    location.reload();
                });

            }

            
     </script>


{% endblock %}  
