{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Listado de Mensajes</h1>
    <hr>
           {# <a href="{{ path('mensajes_new') }}" class="btn btn-info">
                Crear nuevo
            </a>#}
    <hr>            
    <table class="table" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Remitente</th>
                <th>Destinatario</th>
                <th>Fechacreacion</th>
                <th>Asunto</th>
                <th>Mensaje</th>
                <th>Fechamodificacion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{% if entity.docente == "" %}{{ entity.estudiante|title }}{% else %}{{ entity.docente|title }}{% endif %}</td>
                <td>{% if entity.docenteDestinatario == "" %}{{ entity.estudianteDestinatario|title }}{% else %}{{ entity.docenteDestinatario|title }}{% endif %}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.asunto }}</td>
                <td>{{ entity.mensaje }}</td>
                <td>{% if entity.fechaModificacion %}{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.estado }}</td>
                <td>
                
                       {# <a href="{{ path('mensajes_show', { 'id': entity.id }) }}" class="btn btn-success">Ver</a>
                    
                        <a href="{{ path('mensajes_edit', { 'id': entity.id }) }}" class="btn btn-warning">Editar</a>#}
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      
    {% endblock %}
    {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  
