{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Creación de Mensajes</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensajes') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
