{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Mensajes</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Docente</th>
                <td>{{ entity.docente }}</td>
            </tr>
            <tr>
                <th>Estudiante</th>
                <td>{{ entity.estudiante }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Asunto</th>
                <td>{{ entity.asunto }}</td>
            </tr>
            <tr>
                <th>Mensaje</th>
                <td>{{ entity.mensaje }}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensajes') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('mensajes_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
