{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Editar Docente</h1>
    {{ form(edit_form) }}
    {{ form(delete_form) }}

    <a href="{{ path('docente') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>

{% endblock %}
{% block javascripts %}
{{ parent() }}
         <script>
                $("[name='colegio_docentebundle_docente[isActive]']").bootstrapSwitch();        
            </script>
{% endblock %}  
