{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span8
{% endblock %}
{% block article %}

    <h1>Lista de Docentes</h1>

 <ul>
        <li>
            <a href="{{ path('docente_new') }}" class="btn btn-success btn-sm">
                <i class="icon-plus-sign"></i>
                Crear un nuevo Docente
            </a>
        </li>
    </ul>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Sede</th>
               {# <th>Materia</th> #}
                <th>Nombres</th>
                
                <th>Teléfono</th>
                <th>Email</th>
               
              
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('docente_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.idSede }}</td>
             {#   <td>{{ entity.idMateria }}</td> #}
                <td>{{ entity.nombres }} {{ entity.apellidos }}</td>
                
               
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>
                
                
                <td>
               
                        <a href="{{ path('docente_show', { 'id': entity.id }) }}" ><i class="icon-list"> </i></a>

                        <a href="{{ path('docente_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                   
                        <a href="{{ path('docente_grupos', { 'id': entity.id }) }}"><i class="icon-group"></i></a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
       
    {% endblock %}
    
    
    
  {% block extras %}  
    
    {% if grupos != null %}
    
    {% embed 'TemasTemasBundle::span.html.twig' %}
        {% block spanclase %}
            span4
        {% endblock %}
        {% block headerspan %}
            <i class="icon-group"></i><h3> Detalle Grupos de: <br> {{ profe.nombres }} {{ profe.apellidos }}</h3>
        {% endblock %}
        {% block articlespan %}
           
             <table class="table table-striped table-bordered">
        <thead>
            <tr>
                
                <th>Grupo</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in grupos %}
            <tr>
                
                <td>{{ entity.nombre }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            
        {% endblock %}
    {% endembed %}
             {% else %}
           
       {% embed 'TemasTemasBundle::span.html.twig' %}
        {% block spanclase %}
            span4
        {% endblock %}
            
        {% block articlespan %}
            
                {% if grupos == null %}
            <h3>   No hay grupos para el Docente  </h3>
                {% else %}
            <h3>Acá se cargarán los grupos del Docente</h3>
                {% endif %}     
            
        {% endblock %}            
       {% endembed %}
            
            
      {% endif %}
            
  {% endblock %}
  
  {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  

      
