{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Docente</h1>
{# comentari #}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Idsede</th>
                <th>Idmateria</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Idtipoidentificacion</th>
                <th>Numeroidentificacion</th>
                <th>Estado</th>
                <th>Fecha Inicio de contrato</th>
                <th>Fecha Final de contrato</th>

            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.idSede }}</td>
                <td>{{ entity.idMateria }}</td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.idTipoIdentificacion }}</td>
                <td>{{ entity.numeroIdentificacion }}</td>
                <td>{{ entity.isActive }}</td>
                <td>{{ entity.fechaIniciacionContrato|date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.fechaFinalizacionContrato|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('docente_edit', { 'id': entity.id }) }}" class="btn btn-small btn-success"><i class="icon-edit"> </i></a>
        {{ form(delete_form) }}
    </li>
    <li>
        <a href="{{ path('docente') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    </li>
</ul>
{% endblock %}
