{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Editar Circulares</h1>
 {{ tinymce_init() }}
    
    <hr>

      <a href="{{ path('circulares') }}" class="btn btn-success">
            Volver al listado
        </a>
        <hr>
					{% if entity.publicado == true  %}

                   {% if  entity.fechaVisita|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                         {{ form(edit_form) }}
						 {{ form(delete_form) }}
					{% else %}	 
					La última modificación se podía {{ entity.fechaVisita|date_modify('+ 1 hour')|date('Y-m-d H:i:s') }}
  
                   {% endif %}

                   {% else %}
                          {{ form(edit_form) }}
					      {{ form(delete_form) }}
                   {% endif %}


  
{% endblock %}
