{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Lista de Circulares </h1>

    <hr>

            <a href="{{ path('circulares_new') }}" class="btn btn-success">
                Crear nueva circular
            </a>
    <hr>
    <table class="table" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Destinatarios</th>
                <th>Publicado</th>
                <th>Titulo</th>
                <th>Escrita por</th>
                <th>Fecha</th>
                <th>Fecha Edición</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('circulares_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>
                    {% for destino in entity.destinatarios %}
                         {{ destino }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% if entity.publicado == true %}
                        <i class="icon-ok-sign"></i>
                    {% else %}
                        <i class="icon-remove-circle"></i>
                    {% endif %}
                </td>
                <td>{{ entity.titulo }}</td>
                <td>
                       {% if (entity.docente == null) %}
                            Administrador
                        {% else  %}
                            Profe: {{ entity.docente|title  }}
                        {% endif %}

                </td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaVisita %}{{ entity.fechaVisita|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    
                        <a href="{{ path('circulares_show', { 'id': entity.id }) }}" class="btn btn-success">Ver</a>
        

                   {% if entity.publicado == true  %}

                   {% if  entity.fechaVisita|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                        <a href="{{ path('circulares_edit', { 'id': entity.id }) }}"  class="btn btn-warning">Editar</a>
                   {% endif %}

                   {% else %}
                        <a href="{{ path('circulares_edit', { 'id': entity.id }) }}"  class="btn btn-warning">Editar</a>

                   {% endif %}



                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

           
       
    {% endblock %}

       {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  

