{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Creación de Circulares</h1>
     <a href="{{ path('circulares') }}" class="btn btn-success"> 
            Volver al listado
        </a>
        <hr>
 {{ tinymce_init() }}
    {{ form(form) }}

        
       
    
{% endblock %}
