{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Circulares</h1>

<hr>
        <a href="{{ path('circulares') }}" class="btn btn-success">
            Volver al listado
        </a>
  
                     {% if entity.publicado == true  %}

                   {% if  entity.fechaVisita|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                        <a href="{{ path('circulares_edit', { 'id': entity.id }) }}"  class="btn btn-warning">Editar</a>
                   {% endif %}

                   {% else %}
                        <a href="{{ path('circulares_edit', { 'id': entity.id }) }}"  class="btn btn-warning">Editar</a>

                   {% endif %}



<hr>
    <table class="table">
        <tbody>
            
            <tr>
                <th>Titulo</th>
                <td><strong>{{ entity.titulo|upper }}</strong></td>
            </tr>
            <tr>
                <th>Publicado</th>
                <td>{{ entity.publicado }}</td>
            </tr>
           
            <tr>
                <th>Detalle</th>
                <td>{{ entity.detalle|raw }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha Edición</th>
                <td>{{ entity.fechaVisita|date('Y-m-d H:i:s') }}</td>
            </tr>
             <tr>
                <th>Destinatarios</th>
                <td>{% for destino in entity.destinatarios %}
                         {{ destino }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

         {% if entity.publicado == true  %}

                   {% if  entity.fechaVisita|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                        {{ form(delete_form) }}
                   {% endif %}

                   {% else %}
                        {{ form(delete_form) }}
                   {% endif %}

       
    
{% endblock %}
