{% extends "::base2.html.twig" %}

{% block stylesheets %}

{% stylesheets output='css/stylestudiante.css' filter='cssrewrite,yui_css' debug=false 
'bundles/colegioestudiante/css/bootstrap.css'
'bundles/colegioestudiante/css/sb-admin.css'
'bundles/colegioestudiante/font-awesome/css/font-awesome.min.css'
 -%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
{% endstylesheets %}

{% endblock %}

{% block body %}

     <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('tucolegio_ppal_homepage') }}">Tu Colegio al día</a>
          {% if is_granted('ROLE_PREVIOUS_ADMIN') %}  <a class="navbar-brand"  href="{{ path('colegio_admin_homepage', { _cambiar_usuario: '_exit' }) }}">Finalizar impersonación</a> {% endif %}

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          {{ knp_menu_render('TemasTemasBundle:Builder:estudianteMenu', {'currentClass':'active', 'template': 'TemasTemasBundle:Menu:knp_menu.html.twig'}) }}
          

          <ul class="nav navbar-nav navbar-right navbar-user">
        
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="guiaAlerta"><i class="fa fa-bell"></i> Nuevas Tareas <span class="badge"><div id="alertas">0</div></span> <b class="caret"></b></a>
              <ul class="dropdown-menu" id="listaTareas">
                <li>Excelente, no tienes tareas!</li>
              
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.primerNombre }} {{ app.user.segundoNombre }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('colegio_estudiante_perfil') }}"><i class="fa fa-user"></i> Perfil</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                
                <li class="divider"></li>
                <li><a href="{{ path('estudiante_logout') }}"><i class="fa fa-power-off"></i> Salir </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
           
          
             <div class="alert alert-info alert-dismissable"> Periodo Actual 
             {% for entity in periodos %}
              {{ entity.periodo }}
              {% endfor %}
              
               {% for parametro in dato %} <span class="brand"> {{ parametro.periodoEscolar.descripcion }} </span> {% else %}

                                      <a href="#myModal" role="button" class="btn" data-toggle="modal"> <i class="icon-off"></i> hay un Error!</a>{% endfor %}
                                                     
                                                    <!-- Modal -->
                                                    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h3 id="myModalLabel">Gracias por usar tucolegioaldia.net</h3>
                                                      </div>
                                                      <div class="modal-body">
                                                        <p>Debes solicitar al administrador que cree el año escolar </p>
                                                         <p>Este error produce que no puedas accesar a Periodos entre otros</p>
                                                      </div>
                                                      <div class="modal-footer">
                                                       <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Entendido!</button>
                                                      </div>
                                                    </div>
              
            </div>
           
            <ol class="breadcrumb">
                  <iframe src="http://files.bannersnack.com/iframe/embed.html?hash=bxk90hhvl&userId=17336581&bgcolor=%232B2318&wmode=opaque&clickTag=https%3A%2F%2Ffacebook.com%2Ftucompualdia&t=1426534590" width="400" height="50" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            </ol>
           
{% for flashMessage in app.session.flashbag.get('notice') %}      
  <div class="alert alert-success alert-dismissable">            
                  <strong>{{ flashMessage }}</strong>
                   </div>
{% endfor %}
          </div>
        </div>
   

      {% block contenido %}
      
      {% endblock %}
          <div class="col-lg-6">
      

        </div><hr>
         </div><!-- /#page-wrapper -->
      
    </div><!-- /#wrapper -->
    
    
{% endblock %}
    
    
    
   
{% block javascripts %}
{% javascripts output='js/scriptestudiantes.js' filter='yui_js' 
debug=false
'bundles/colegioestudiante/js/jquery-1.10.2.js'
'bundles/colegioestudiante/js/bootstrap.js'
'bundles/colegioestudiante/js/tablesorter/jquery.tablesorter.js'
'bundles/colegioestudiante/js/tablesorter/tables.js'
-%}

{% set ruta = path('colegio_estudiante_trabajos',{'grupoAsignatura': "asignatura", 'periodo': "periodo", 'trabajo':"idTrabajo" }) %}
{% set revision = path('colegio_estudiante_tareas_nuevas') %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
 <script type="text/javascript">
        
        $(document).ready(function(){
           
          $( '#demo' ).addClass( 'collapse' );
           
          var rutaTrabajo = "{{ ruta }}";
          var rutaRevision = "{{ revision }}";
           $.alertaTareas = function(){

              $.get("{{ path('service_estudiante_trabajos') }}",function(data,status){
                 $('#alertas').text(data);
                     if(data == "0")
                     {
                     $('#listaTareas').empty(); 
                     $('#listaTareas').append('<li><a href='+rutaRevision+'><span class="label label-success">  VER TAREAS</a></span></li>');
                     }else{
                     document.title = '('+data+') Tu Cole al día!';
                   }
              });
           }
          
          $.cargaTareas= function(){
             
                     $.ajax({
                       url: "{{ path('service_estudiante_total') }}",
                       //force to handle it as text
                       dataType: "text",
                       success: function(data) {
                           var json = $.parseJSON(data);
                           for (var i in json) {
                              
                              rutaTrabajo1 = rutaTrabajo.replace("asignatura",json[i]['trabajo']['grupoAsignatura']['id']);
                              rutaTrabajo2 = rutaTrabajo1.replace("periodo",json[i]['trabajo']['periodo']['id']);
                              rutaTrabajo3 = rutaTrabajo2.replace("idTrabajo",json[i]['trabajo']['id']);

                                //<li><a>"+json[i]["tipoTrabajo"]+"</a></li> json[i]["tipoTrabajo"] 
                              $('#listaTareas').append('<li><a href="'+rutaTrabajo3+'"><span class="label label-warning">'+json[i]['trabajo']['tipoTrabajo']['porcentajeTrabajo']['tipoTrabajo']['detalle']+'</span> <span class="label label-success">'+json[i]['trabajo']['grupoAsignatura']['idAsignatura']['nombre']+'</span></a></li>');
                               
                        
                           }
                       }
                   });
              }





            $.alertaTareas();
            
           


           setInterval(function() {
                $.alertaTareas();
                
            }, 3000);

           /**setInterval(function() {
                
                $('#listaTareas').empty();
                $.cargaTareas();
            }, 10000);**/

           $('#guiaAlerta').click(function(){
              $('#listaTareas').empty();
               $.cargaTareas();
            });

        });

</script>

{% endblock %}
