{% extends '::base.html.twig' %}
{% block stylesheets %}
 <style>
    .table-responsive
            {
                overflow-x: auto;
            }
    </style>
{% stylesheets output='css/adminstyle.css' filter='cssrewrite,yui_css' debug=false 
'bundles/temastemas/css/bootstrap.min.css'
'bundles/temastemas/css/bootstrap-switch.css'
'bundles/temastemas/css/bootstrap-responsive.min.css'
'bundles/temastemas/css/font-awesome.css'
'bundles/temastemas/css/style.css'
'bundles/temastemas/css/pages/dashboard.css'
 -%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
{% endstylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/temastemas/css/notifIt.css') }}">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% endblock %}

{% block body -%}
    
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="{{ path('tucolegio_ppal_homepage') }}"> Tu Colegio al día -- <i>     
Periodo: {% for entity in periodos %} {{ entity.periodo }} {% endfor %}</i>
            </a> 
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-cog"></i> Cuenta <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('colegio_admin_conf') }}">Opciones</a></li>
              <li><a href="http://manual.tucolegioaldia.net" target="_blank">Ayuda</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="tour1"><i
                            class="icon-user"></i> {{ app.user }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('colegio_admin_perfil')}}">Perfil</a></li>
              <li><a href="{{ path('usuarios_logout')}}">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
<div class="controls"> {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <span class="brand">  <a href="{{ path('colegio_admin_homepage', { _cambiar_usuario: '_exit' }) }}">Finalizar impersonación</a></span>
                      {% endif %}
        {% for parametro in dato %} <span class="brand"> {{ parametro.periodoEscolar.descripcion }} </span> {% else %} 



<!-- Button to trigger modal -->
            <a href="#myModal" role="button" class="btn" data-toggle="modal"> <i class="icon-off"></i> hay un Error!</a>{% endfor %}
             
            <!-- Modal -->
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Gracias por usar tucolegioaldia.com</h3>
              </div>
              <div class="modal-body">
                <p>Debes configurar un año Lectivo y luego especificar el Parámetro, en el Menú Cuenta y Opciones </p>
                <p>Este error produce que no puedas crear Periodos entre otros</p>
              </div>
              <div class="modal-footer">
                <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Entendido!</button>
              </div>
            </div>
					</div> <!-- /controls -->	
				</div> <!-- /control-group -->



        <!--<form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>-->
      </div>
      <!--/.nav-collapse --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /navbar-inner --> 
</div>
   
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      
   {% if is_granted('ROLE_SUPER_ADMIN') %}

{{ knp_menu_render('TemasTemasBundle:Builder:superAdminMenu', {'currentClass':'active', 'template': 'TemasTemasBundle:Menu:knp_menu.html.twig'}) }}
    
        
   {% else %}

{{ knp_menu_render('TemasTemasBundle:Builder:colegiosMenu', {'currentClass':'active', 'template': 'TemasTemasBundle:Menu:knp_menu.html.twig'}) }}

        
   {% endif %}
      
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->    
    <div class="main">
	
	<div class="main-inner">

	    <div class="container">
	
	      <div class="row">
                  <div class="span8" style="align:center">
{% for flashMessage in app.session.flashbag.get('notice') %}                  
                  <div class="alert alert-info"><strong>{{ flashMessage }}</strong></div>
{% endfor %}
                  </div>
                  <div class="span4">
                     
                      
                  </div>
                  
 {% block superarticle %}
                  {# Bloque con un span de 12 #}
                  <div class="{% block span %}
                                   span12
                               {% endblock %} ">      		
	      		
                    
                    
	      		<div class="widget ">
	      			
	      			<div class="widget-header">
	      			{% block headerarticle %}	
                                    <i class="icon-user"></i>
                                        <h3>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}{% else %}{{ app.user.idColegio.nombre|upper }}{% endif %}
                                        </h3>
             {% endblock %}
             <a href="{{ path('colegio_admin_conf') }}" style="float: right;padding: 10px; margin-bottom: 10px;"><i class="fa fa-cog fa-2x"></i></a>
             </div> <!-- /widget-header -->
                                 
					
					<div class="widget-content">

     {% block article %}

                                 

   
                    
     {% endblock %}
             
                                            
                                            
                                            
                                        </div>
                        </div>
                </div>
 {% endblock %}
                
                
            {% block extras %}
                                            
              {% endblock %}     
                
                
              </div>
            </div>
        </div>
    </div>

<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
  {#    
<!--Chat Link Code-->
<a href="javascript:;" onclick="blc_startChat()">
<img style='border:0px;' id="blc_chatImg" src='http://chat.banckle.com/chat/onlineImg.do?d=4fd2040a-6dbe-4630-840a-808aa070ac14'/>
</a> #}
      
                    <div class="span4"  id="tour5">
                        <h4>
                            Acerca de Tu compu al día</h4>
                        <ul>
                            <li><a href="http://tucompualdia.net" target="_blank">Nuestra Empresa</a></li>
                            <li><a href="http://tucompualdia.net" target="_blank">Portafolio de Servicios</a></li>
                            <li><a href="{{ path('tucolegio_conocenos') }}" target="_blank">Programadores</a></li>
                        	<li><a href="http://tucompualdia.net" target="_blank">Web Oficial</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span4">
                        <h4>
                            Soporte</h4>
                        <ul>
                            <li><a href="http://manual.tucolegioaldia.net/" target="_blank">Tutoriales</a></li>
                            <li><a href="javascript:;">Escríbenos</a></li>
                            <li><a href="javascript:;">Videos</a></li>
                            <li><a href="javascript:;">Noticias</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span4">
                        <h4>
                            Soporte Legal</h4>
                        <ul>
                            <li><a href="javascript:;">Open Source</a></li>
                            <li><a href="javascript:;">Términos de uso</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->

                </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /extra-inner --> 
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> Gracias a &copy; 2013 <a href="#">Bootstrap Responsive Admin Template</a>. </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
</div>
<!-- /footer --> 

{% endblock %}

{% block javascripts %}
{% javascripts output='js/adminscript.js' filter='yui_js' 
debug=false
'bundles/temastemas/js/jquery-1.7.2.min.js'
'bundles/temastemas/js/excanvas.min.js'
'bundles/temastemas/js/chart.min.js'
'bundles/temastemas/js/bootstrap.js'
'bundles/temastemas/js/bootstrap-switch.js'
-%}
    <script src="{{ asset_url }}"></script>
<script>
$(function() {
	
	$('.subnavbar').find ('li').each (function (i){
	
		var mod = i % 3;
		
		if (mod === 2) {
			$(this).addClass ('subnavbar-open-right');
		}
		
	});
	
});
</script>
    
{% endjavascripts %}
{% endblock %}
