{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span12
{% endblock %}

{% block headerarticle %}
    <h3><span class="badge">1</span> Datos Estudiante </h3>
{% endblock %}

{% block article %}
    {% set documento = '123' %}
    <div>
       {# <input type="text" name="search" placeholder="Documento Estudiante" > #}
        
        {# <a href="{{ path('ConsultarEstudiante') }}">ASD</a> #}
    </div>
    
     <div class="table-responsive">

      
      
       <span class="badge badge-info">Nombres:</span> <strong> {{ entities.idEstudiante.primerApellido }} {{ entities.idEstudiante.segundoApellido }}, {{ entities.idEstudiante.primerNombre }} {{ entities.idEstudiante.segundoNombre }}</strong><br>
       <span class="badge badge-warning">Curso:</span>  <strong>{{ grupos.nombre }}</strong><br>
       <span class="badge badge-success">  Año  :</span>    <strong>{{ parametro.periodoEscolar.descripcion }}</strong>
      
    </div>	
        

{% endblock %}

{% block extras %}
{% embed 'TemasTemasBundle::span.html.twig' %}
{% block spanclase %}
span12
{% endblock %}

{% block headerspan %}
    <h3><span class="badge badge-success">2</span> Informe Académico</h3>
{% endblock %}
    
{% block articlespan %} 
<div class="alert alert-dismissable alert-success">

    <button class="close" data-dismiss="alert" type="button"></button>
    <strong></strong>
    <span class="label label-success"><i class="icon-star"></i> SUPERIOR </span>: 4.5 a 5.0 |  
     <span class="label label-info"><i class="icon-star-empty"></i> ALTO </span>: 3.8 a 4.49 |
    <span class="label label-warning"><i class="icon-exclamation-sign"></i> BASICO </span>: 3.0 a 3.79 |
     <span class="label label-important"> <i class="icon-warning-sign"></i> BAJO </span>: 0 a 2.99
     
    </div>
 <div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Materias</th>
          {% for datoPeriodo in datosPeriodos %}
                <th>{{ datoPeriodo.periodo }}</th>
          {% else %}
                <th></th>

          {% endfor %}
            <th>Promedio</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                  {% for asignatura in asignaturas %}
                  <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ asignatura.idAsignatura.nombre }}</td>
                      {% for datoPeriodo in datosPeriodos %}
                          <td>  

                     {# Caso de que el periodo se califique por Nota Final, en cuyo caso el id es uno #}
                     {% if  datoPeriodo.tipoCalificacion.id == 1 %}
                            


                                {% for nota in notas %}
                             
                                           {% if asignatura.id == nota.grupoBoletin.grupoasignatura.id %}
                                                          
                                                       {% if nota.grupoBoletin.periodo.id == datoPeriodo.id %}
                     
                     

                                              {# FORMULARIO QUE DESPLIEGA EL VALOR DE LA NOTA FINAL  #}
                                                 <form action="" method="POST">
                                                    <input name="calificacion" type="number" min="0" max="5" step="0.1" value="{{ nota.calificacion }}" class="span1"/>

                                                    <input name="fallas" type="number" min="0" step="1" value="{{ nota.fallas }}" class="span1"/>
                                                    
                                                    <input name="id" type="hidden" value="{{ nota.id }}" />
                                                    <button type="submit" class="btn btn-primary btn-mini">
                                                    <span class="icon-refresh"></span> 
                                                  </button>   
                                                      <a href="#eliminar{{ nota.id }}" role="button" class="btn btn-danger btn-mini" data-toggle="modal"/>
                                                      <span class="icon-remove"></span> 
                                                      </a> 
                                                  </form> 
                                               {# FIN FORMULARIO VALOR TOTAL NOTA #}   

                                      <!-- Modal -->
                                                  <div id="eliminar{{ nota.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                  <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                  <h3 id="myModalLabel">Eliminar Calificación   </h3>
                                                  </div>
                                                        <div class="modal-body">
                                                          <div class="alert alert-error">
                                                              Recuerda que esta operación <strong>no se puede deshacer</strong>
                                                          </div>
                                                                                                      

                                                              <form action="" method="POST">
                                                                    <input type="hidden" value="{{ nota.id }}" name="noticaid" />
                                                                    <input type="hidden" value="eliminar" name="eliminar" />
                                                                     <div class="modal-footer">
                                                                                      <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                                                                      <button type="submit" class="btn btn-primary">  <span class="icon-refresh"></span> Eliminar, seguro?</button>
                                                                     </div>
                                                              </form> 
                                                        </div>
                                                      
                                                      </div>
                             
                                                          {% else %}
                                    
                                                          {% endif %} 
                                                       
                                          
                                                      
                                           {% endif %}      
                                        
                                
                               {% endfor %}

              {% else  %}

                             {# Validamos la asignatura y luego validamos por periodo#}


            {# Caso cuando se califica por Logros id = 2 #}             
            {% for notalogro in notalogros %}    
                                <!-- Button to trigger modal -->
                      {% if asignatura.idAsignatura.id == notalogro.logro.idBoletin.asignatura.id %}
                     

                                  {% if notalogro.logro.idBoletin.periodo.id == datoPeriodo.id %}
                                     {% set prome = 0 %} 
                                     {% set cantidad = 0 %}
                                            {% for notastotalesp in notalogrostotal if notastotalesp.logro.idBoletin.id == notalogro.logro.idBoletin.id %} 
                                                          {% set promedioss = notastotalesp.calificacion %}
                                                          {% set prome = promedioss + prome %}
                                                          {% set iteraciones = loop.index %}

                                                          {% set cantidad = iteraciones %}
                                                          
                                            {% endfor %}
                                      


                                     <a href="#notalogro{{ notalogro.logro.idBoletin.id }}" role="button" class="btn btn-default btn-mini" data-toggle="modal"> {{ (prome / cantidad)|number_format(1, '.', ',') }} </a>
                                     
                                        <div id="notalogro{{ notalogro.logro.idBoletin.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                   
                                            
                                              <div class="modal-header">
                                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                 <h3 id="myModalLabel">Listado de Logros</h3>
                                              </div>
                                              <div class="modal-body">
                                               

                                                        <table>
                                                          <thead>
                                                            <tr>
                                                              <th>Categoria</th>
                                                              <th>Detalle</th>
                                                              <th>Valoración</th> 
                                                              <th></th> 
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                      
                                                             {% for notastotales in notalogrostotal %} 
                                                      
                                                       {% if notastotales.logro.idBoletin.id == notalogro.logro.idBoletin.id %} 
                                                            
                                                            <tr>
                                                               <td><strong><i>{{ notastotales.logro.categoria.categoria }}</i></strong> </td>
                                                               <td>{{ notastotales.logro.descripcion }}</td>
                                                               <td>
                                                                <form  method="POST">
                                                                    <input name="calificacionlogro" type="number" min="0" max="5" step="0.1" value="{{ notastotales.calificacion }}" class="span1"/>
                                                                    <input name="idlogro" type="hidden" value="{{ notastotales.id }}" />
                                                                 <td>
                                                                    <button type="submit" class="btn btn-primary btn-mini">
                                                                    <span class="icon-refresh"></span> 
                                                                 
                                                                  </button>   
                                                                      <a href="#eliminarlogronota{{ notastotales.id }}" role="button" class="btn btn-danger btn-mini" data-toggle="modal"/>
                                                                      <span class="icon-remove"></span> 
                                                                      </a> 
                                                                  </form> 

                                                                </td>
                                                            </tr> 
                                                            <!-- Modal -->
                                                  <div id="eliminarlogronota{{ notastotales.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                  <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                  <h3 id="myModalLabel">Eliminar Calificación   </h3>
                                                  </div>
                                                        <div class="modal-body">
                                                          <div class="alert alert-error">
                                                              Recuerda que esta operación <strong>no se puede deshacer</strong>
                                                          </div>
                                                                                                      

                                                              <form action="" method="POST">
                                                                    <input type="hidden" value="{{ notastotales.id }}" name="noticalogroid" />
                                                                    <input type="hidden" value="eliminarnotalogro" name="eliminarnotalogro" />
                                                                     <div class="modal-footer">
                                                                                      <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                                                                      <button type="submit" class="btn btn-primary">  <span class="icon-refresh"></span> Eliminar, seguro?</button>
                                                                     </div>
                                                              </form> 
                                                        </div>
                                                      
                                                      </div>

                                                      {% endif %}
                                                {% endfor %}          
                                                          </tbody>
                                                        </table>    
                                                         <p> </p>

                                                 
                                              </div>
                                              <div class="modal-footer">
                                                  <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                                  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Entendido</button>
                                              </div>
                                                                
                                        
                                        </div> 
                                  {% endif %}
                       {% else %}
                               
                      {% endif %}
              
                                          
            {% endfor %}
                             {% endif %}         

                             </td>
                    
                      {% endfor %} 
                          
                          <td>
              
                              {% set notaTotal = "" %}
                              {% for promedio in promedios %}  
                               {% if asignatura.id == promedio[0].grupoBoletin.grupoAsignatura.id %}
                                  {% set notaTotal = promedio.notatotal %}
                               {% endif %} 
                              {% endfor %}
                              
                              {% set notaLogros = "" %}
                              {% for promediologro in promedioslogros %}
                                {% if asignatura.idAsignatura.id == promediologro[0].logro.idBoletin.asignatura.id %}
                                    {% set notaLogros = promediologro.notatotal %}
                                {% endif %}    
                              {% endfor %} 

                              {% if notaTotal == "" %}
                                  {% set TOTAL = notaLogros %}
                              {% elseif notaLogros == "" %}
                                  {% set TOTAL = notaTotal %}
                              {% else %}
                                  {% set TOTAL = (notaTotal + notaLogros)/2 %}
                              {% endif %}
                              


                              <a class="btn btn-mini"> {{ TOTAL|number_format(1, '.', ',') }} </a>
                                  {% if TOTAL < 3 %}
                                      <span class="label label-important"> <i class="icon-warning-sign"></i> BAJO </span>
                                  {% elseif TOTAL < 3.8 %}
                                      <span class="label label-warning"><i class="icon-exclamation-sign"></i> BASICO </span>
                                  {% elseif TOTAL < 4.5 %}
                                      <span class="label label-info"><i class="icon-star-empty"></i> ALTO </span>
                                  {% elseif TOTAL <= 5 %}
                                      <span class="label label-success"><i class="icon-star"></i> SUPERIOR </span>
                                  {% endif %}
                                                          
                             

                           </td>
                           <td>   
                                  <!-- Button to trigger modal -->
                                    <a href="#insertar{{ asignatura.id }}" role="button" class="btn btn-warning btn-mini" data-toggle="modal"><i class="icon-list-alt "></i> Agregar</a>
                                     
                                    <!-- Modal -->
                                    <div id="insertar{{ asignatura.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel">Insertar Nuevas Calificaciones   </h3>
                                    </div>
                                    <div class="modal-body">
                                    {{ asignatura.idAsignatura.nombre }}
                                                    <form action="" method="POST">
                                                        <input name="calificacioncilla" type="number" class="span1"  min="0" max="5" step="0.1" required/>
                                                        <input name="fallascilla" type="number" min="0" step="1" value="0" class="span1"/>
                                                        <select name="boletincillo" required>
                                                                <option selected>--- Escoge un Boletin ---</option>
                                                          {% for tipos in boletines %}       
                                                                  
                                                              {% if tipos.grupoAsignatura.id == asignatura.id %}
                                                              {# Nos aseguramos que solo aparezcan boletines que no permitan Logros individuales #}
                                                                  {% if tipos.periodo.tipoCalificacion.id == 1 %}  
                                                                    <option value="{{ tipos.id }}">{{ tipos.grupoAsignatura.idAsignatura.nombre }} {{ tipos.periodo.periodo }}</option>
                                                                  {% endif %}
                                                              {% endif %}

                                                          {% endfor %} 
                                                        </select>

                                                                <div class="alert alert-info">
                                                                ...Escoge un Boletín que concuerde con el Periodo <br>
                                                                <strong>Recomendación:</strong> Dar clic en Insertar "Una sola vez", para evitar reenvio... perdón las molestias
                                                                </div>                                                        
                                                           <div class="modal-footer">
                                                              <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                                                              <button type="submit" class="btn btn-primary">  <span class="icon-refresh"></span> Insertar</button>
                                                           </div>
                                                    </form>
                                    </div>
                                    
                                    </div>

                              

                          </td>
                     
                  
                  </tr>    
                  {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}
{% endembed %}

{% embed 'TemasTemasBundle::span.html.twig' %}
{% block spanclase %}
span12
{% endblock %}

{% block headerspan %}
    <h3><span class="badge badge-warning">3</span> Otros</h3>
{% endblock %}
    
{% block articlespan %} 


                


{% endblock %}
{% endembed %}




{% endblock %}


{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
                $(document).ready(function() {
                    $('#dataTables-example').dataTable();
                    $('#dataTables-example2').dataTable();
                });
    </script>
{% endblock %}


