{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span3
{% endblock %}

{% block headerarticle %}
    <h3><span class="badge">1</span> Selecciona Sede y Año </h3>
{% endblock %}

{% block article %}
    {% set documento = '123' %}
    <div>
       {# <input type="text" name="search" placeholder="Documento Estudiante" > #}
        
        {# <a href="{{ path('ConsultarEstudiante') }}">ASD</a> #}
    </div>
    
      <div class="table-responsive">
        {{ form(form) }}
      </div>	
        

{% endblock %}

{% block extras %}
{% embed 'TemasTemasBundle::span.html.twig' %}
{% block spanclase %}
span4 
{% endblock %}

{% block headerspan %}
    <h3><span class="badge badge-success">2</span> Selecciona un Grupo {{ periodoEscolar }}</h3>
{% endblock %}
    
{% block articlespan %} 


<table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Grupos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for grupo in grupos %}
              <tr>
                     <td>{{ loop.index }}</td>
                     <td>{{ grupo.nombre }}</td>
                     <td>
                    <a href="{{ path('nota', { 'grupo': grupo.id , 'sede': sedes, 'parametros': periodo  }) }}" class="btn btn-success btn-mini"><i class="icon-user"></i></a>
                    </td>

              </tr>

         {% else %}

           

        {% endfor %}      
      </tbody>
</table>
       

{% endblock %}
{% endembed %}

{% embed 'TemasTemasBundle::span.html.twig' %}
{% block spanclase %}
span5 
{% endblock %}

{% block headerspan %}
    <h3><span class="badge badge-warning">3</span> Selecciona {% if datogrupos == null %}{% else %}en {{ datogrupos.nombre|upper }} (<em>{{ datogrupos.periodoEscolar }}</em>){% endif %} </h3>
{% endblock %}
    
{% block articlespan %} 

<table class="table table-striped table-bordered table-hover" id="dataTables-example2">
        <thead>
            <tr>
                <th>No.</th>
                <th>Estudiantes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for estudiante in estudiantes %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ estudiante.idEstudiante.primerApellido }} {{ estudiante.idEstudiante.segundoApellido }}, {{ estudiante.idEstudiante.primerNombre }} {{ estudiante.idEstudiante.segundoNombre }} <em>({{ estudiante.periodoEscolar }})</em></td>
                <td>
                  <a href="{{ path('estudiante_admin', { 'matricula': estudiante.id, 'parametros': periodo, 'grupo': grupo }) }}" class="btn btn-warning btn-mini" target="popup" onclick="window.open('', 'popup', 'width=800,height=700')"><i class="icon-paste"></i> </a>
                </td>
              </tr>

         {% else %}

          

        {% endfor %}      
      </tbody>
</table>
                


{% endblock %}
{% endembed %}




{% endblock %}


{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
                $(document).ready(function() {
                    $('#dataTables-example').dataTable({
                      "paging": true,
                      "lengthChange": true,
                      "searching": true,
                      "ordering": true,
                      "info": true,
                      "autoWidth": true,
                      "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                      }
                    });
                    $('#dataTables-example2').dataTable({
                      "paging": true,
                      "lengthChange": true,
                      "searching": true,
                      "ordering": true,
                      "info": true,
                      "autoWidth": true,
                      "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                      }
                    });
                    $('#colegio_estudiantebundle_noticas_parametros').val("{{ periodo }}");
                    
                });
    </script>
{% endblock %}


