{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Nota</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>No.</th>
                <th>Matricula</th>
                <th>Asignatura</th>
                <th>Calificacion</th>
                <th>Descripcion</th>
                <th>Fecha</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.matricula }}</td>
                <td>{{ entity.grupoBoletin }}</td>
                <td>{{ entity.calificacion }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('nota_edit', { 'id': entity.id }) }}" class="btn btn-small btn-success"><i class="icon-edit"> </i></a>
        {{ form(delete_form) }}
    </li>
    <li>
        <a href="{{ path('nota') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    </li>
</ul>
{% endblock %}

