<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf  Author="Tu Compu al día" Title="Boletín de  calificaciones">
    <dynamic-page>

<table border-color="white">
        <tr>
                <td width="10%" border-color="white"><img src="{{ logo }}" width="100px" height="100px" /></td> 
                <td width="120%" border-color="white">
                        {% autoescape %}
                            {{ formato.encabezado|raw }} {# var won't be escaped #}
                        {% endautoescape %}
                </td>
             </tr>

</table>



<p text-align="justify">
        {{ formato.textoExtra|raw }}
        </p>
        <br/>
        <br/>
        <p>
       <h1 text-align="center"> CERTIFICAN: </h1>
        </p>{% for n in principal %}
        <p text-align="justify">Que el(la) estudiante <span style="text-decoration: underline;"> {{ estudiante.primerNombre|raw  }} {{ estudiante.segundoNombre|raw  }} {{ estudiante.primerApellido|raw  }} {{ estudiante.segundoApellido|raw  }} </span> debidamente identificado(a) con Documento de Identidad No.{{ estudiante.numeroDocumento }} SE ENCUENTRA CURSANDO en el grupo "{{ n.idGrupo.nombre }}" (Grado {{ n.idGrupo.idNivel.detalleNivel }}) durante el año Lectivo {{ "now"|date("Y") }} obteniendo las siguientes valoraciones:
		</p>            
		
		<p>Fecha de Expedición de la presente certificación <strong>{{ "now"|date("D, d M/Y") }}</strong></p>



<table>
<tr>
        <td  width="35%"><strong>Materia</strong></td>
        <td  width="5%"></td>
        <td width="55%"><strong>Indicadores de Logro</strong></td>
        <td width="20%"><strong>Calificación</strong></td>
</tr>
{% for entity in boletin %}
<tr >
        <td> {{ entity.logro.idboletin.asignatura }} </td>
        <td><img src="{{ entity.logro.categoria.getWebPath() }}" width="20px" height="20px" /> </td>
        <td >
              {{ entity.logro.descripcion }} 

        </td>
        <td>{{ entity.calificacion }}</td>
</tr>
<tr></tr>
{% else %}

        NADA POR ACA
{% endfor %}
</table>





	
{% else %}
        <h2>No hay informes para mostrar</h2>
{% endfor %}
    </dynamic-page>
</pdf>
