{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
<style type="text/css">
	.celda{
		border: 1px solid; padding: 3px; width:5%
	}
	.celdaPpal{
		background-color: #f5f5f5;
	}
	#body {
		font-family: Arial,Helvetica,sans-serif; font-size:{{ tamano }}px;
	}
</style>

{% endblock %}
{% block title %}
{{ estudiante.numeroDocumento }}_{{ estudiante.primerApellido|raw|upper  }}_{{ estudiante.primerNombre|raw|upper  }}_Periodo_{{ periodo }}_{{ "now"|date("Y") }}
{% endblock %}

{% block body %}

<div class="container" style="padding: 10px">

<div class="panel panel-default">
  <div class="panel-body">
  <div align="center">
     <table class="table" style="padding:5px">
        <tr>
                <td width="20%" height="100px" border-color="white"><img src="{{ app.request.getSchemeAndHttpHost() ~asset(logo) }}" width="100px" height="100px" /></td> 
                <td width="60%" height="100px" border-color="white">
                    
                           <h6> {{ formato.encabezado|raw }} </h6>
                     			<h6 align="center">{{ formato.titulo|raw }} </h6>
                </td>
                <td width="20%"></td>
        </tr>
        
	</table>
	</div>
	
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
           <p>
     {{ formato.textoExtra|raw }}
        </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
   
        <p>El(la) estudiante  <em>{{ estudiante.primerNombre|raw|upper  }} {{ estudiante.segundoNombre|raw|upper  }} {{ estudiante.primerApellido|raw|upper  }} {{ estudiante.segundoApellido|raw|upper  }}</em> {#debidamente identificado(a) con Documento de Identidad No.<strong>{{ estudiante.numeroDocumento }}</strong>#}. {% if periodo.periodoEscolar.fechaFin|date("Y") < "now"|date("Y")  %} Cursó {% else %} Se encuentra cursando en {% endif %} el grado "<strong>{{ principal.idGrupo.idNivel.detalleNivel|upper }}</strong>" (Grupo {{ principal.idGrupo.nombre|title }}) en el año Lectivo <strong> {{ periodo.periodoEscolar.fechaFin|date("Y") }}</strong> en el Período "<strong>{{ periodo|upper }}</strong>" obteniendo las siguientes valoraciones:
        </p>            
        
        <p>Fecha de Expedición de la presente certificación <strong>{{ "now"|date("D, d M/Y") }}</strong></p>

  </div>
</div>

{% set promedio = 0 %}
{% set contador = 0 %}
{% set totalFallas = 0 %}
{% for grupo in grupos %}
<div class="panel panel-default">
  
  <div class="panel-heading">
    <table width="100%">
    	<td width="40%">Asignatura: <strong>{{ grupo.idAsignatura }}</strong></td>
    	<td width="40%">Profesor(a): <strong>{{ grupo.idDocente }}</strong></td>
                <td width="20%">Promedio acumulado: <strong>
                        {% for notaAcumulada in notasAcumuladas %}
                             
                           {% if notaAcumulada.nata == grupo.id %}
                           	{{ notaAcumulada.promedio|number_format(1) }} 
                           {% endif %}	
                        {% endfor %}
            </strong></td>
    </table>
  </div>
  {% if formato.logros == true  %}
  <div class="panel-body">
    <div align="center">	
		
		    	{% for matriculas in grupo.idGrupo.grupoEstudiantes %}
		    		{% for nota in matriculas.notas  %}
		    			{% for grupoBoletin in grupo.gruposBoletines %}
		    				{% if grupoBoletin.id == nota.grupoBoletin.id %}
		    				<table width="80%">
							  <tr style="height: 35px; padding: 3px ">
							    <th class="celda celdaPpal">DESEMPEÑO: </th>
							    <th class="celda" style="width: 5%; text-align:center">
									{% set promedio = promedio + nota.calificacion %}
									{% set contador = contador + 1 %}
				    				
				    				{{ nota.calificacion|number_format(1) }}
				    			</th>
							    <th class="celda" style="text-align:center">
							    	{% for parametros in grupoBoletin.periodo.periodoEscolar.parametros %}
							    		{% for item in  parametros.parametrositems %}
							    			{% if item.limiteInferior <= nota.calificacion|number_format(1) and nota.calificacion|number_format(1) <= item.limiteSuperior %}
							    				{{ item.item.descripcion }}

							    			{% endif %}	
							    		
							    		{% endfor %}
							    	
							    	{% endfor %}
							    </th>
							    <th style="width: 20%"></th>
							    <th class="celda celdaPpal" style="text-align:center">FALLAS:</th>
							    <th class="celda" style="width: 5%;text-align:center">
									{% set totalFallas = totalFallas + nota.fallas %}
							    	{{ nota.fallas }}
							    </th>
							  </tr>
							</table>
		    				{% endif %}
		    			{% endfor %}

		    		
		    		{% endfor %}
		    	{% endfor %}
		   
		<br />

		<table class="table table-bordered" >
			<thead>
				<th>No.</th>
			{% if formato.categoria == true %}
				<th>Categoría</th>
			{% endif %}	
				<th>Descripción Indicador de Logro</th>
				{#<th style="text-align:center">F</th>
				<th style="text-align:center">D</th>#}
			</thead>
			<tbody>
				{% for boletines in grupo.gruposBoletines %}
				{% for logros in boletines.boletin.logros %}
				<tr>
					<td>{{ loop.index }}</td>
					{% if formato.categoria == true %}
					<td align="center"><img src="{{ app.request.getSchemeAndHttpHost() ~asset(logros.categoria.getWebPath()) }}" width="20px" height="20px" />   </td>
					{% endif %}
					<td>{{ logros.descripcion }}</td>

					{#% set fortaleza = null %}
					{% set debilidad = null %}
					{% for notaLogros in logros.notalogro %}
						{% for matriculas in grupo.idGrupo.grupoEstudiantes %}
							{% if matriculas.id == notaLogros.matricula.id %}

								{% set fortaleza = notaLogros.fortaleza %} 
								{% set debilidad = notaLogros.debilidad %}
							
							{% endif %}
						{% endfor %}
					{% endfor %}
					<td style="text-align:center">{% if fortaleza == 1 %}X{% endif %}</td>
					<td style="text-align:center">{% if debilidad == 1 %}X{% endif %}</td>#}
				</tr>
				{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>

  </div>
  {% endif %}
</div>
{% endfor %}

<div class="panel panel-default">
  <div class="panel-heading">
 	<table width="100%">
    	<td width="50%"><strong>COMPORTAMIENTO SOCIAL</strong></td>
    	<td width="50%">Profesor(a): {% if observacion == ""%}{% else %}<strong>{{ observacion.creador }}</strong>{% endif %}</td>
    </table>
  </div>
  <div class="panel-body">
   	<div align="center">
    	<table width="80%">
		  <tr style="height: 35px; padding: 3px ">
		    <th class="celda celdaPpal">COMPORTAMIENTO: </th>
		    <th class="celda" style="width: 5%; text-align:center">
			  {% if observacion == null %}	

			  {% else %}
				{{ observacion.calificacion|number_format(1) }}
			  {% endif %}
			</th>
		   
		    <th style="width: 20%"></th>
		    <th class="celda celdaPpal" style="text-align:center">FALLAS:</th>
		    <th class="celda" style="width: 5%;text-align:center">{{ totalFallas|number_format(1) }}</th>
		  </tr>
		</table>
	</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
  	<table width="100%">
    	<td width="20%"><strong>OBSERVACIONES </td>
    	<td width="20%">PROMEDIO GENERAL:  <strong>
    	{% if contador > 0 %}
 			  {% if observacion == null %}	

			  {% else %}
				{#{ ((promedio + observacion.calificacion)/(contador + 1))|number_format(1) }#}
				{{ ((promedio)/(contador))|number_format(1) }}
			  {% endif %}
    	{% endif %}</strong> </td>
    	<td width="20%">PROMEDIO ACUMULADO:  
    		<strong>
    		{% for notaAcumulada in notaAcumuladaFinal %}
                  {{ notaAcumulada.promedio|number_format(1) }}
            {% endfor %}
    			
    		</strong>
    	</td>
    	{% if formato.posicion == true %}
    	<td width="20%"><strong>PUESTO:  {{ posicion }} / {{ contadores }} </strong></td>
    	{% endif %}
    </table>
  </div>
  <div class="panel-body">
  			{% if observacion == null %}	

			{% else %}
			    {{ observacion.descripcion|raw }}
			{% endif %}
     
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
  <br/>
  <br/>
    <table border="0px" cellspacing="0" >
		<tr>
		        <td  width="25%"  align="center"><strong>______________________________________</strong></td>
		       
		        <td width="20%"  align="center"><strong>______________________________________</strong></td>
		         <td width="20%"  align="center"><strong>______________________________________</strong></td>
		</tr>
		<tr>
		        <td  width="25%"  align="center"><strong>Firma Rector(a)</strong></td>
		       
		        <td width="20%"  align="center"><strong>Firma Docente</strong></td>
		        <td width="20%"  align="center"><strong>Firma Padre de Familia</strong></td>
		</tr>
	</table>
  </div>
</div>

</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}

  <script src="{{ asset('bundles/temastemas/js/select/jquery.minimalect.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
    <script>
    $(document).ready(function() {
          
    });
    </script>  
{% endblock %}