{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">-->

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>-->
<style type="text/css">
      .cuerpo {
        font-size:{{ tamano }}px;
        line-height: 1 !important;
      }
      
      p{
        line-height: 1 !important;  
      }
      
      span{
        line-height: 1 !important;  
      }
</style>
{% endblock %}
{% block title %}
{{ estudiante.numeroDocumento }}_{{ estudiante.primerApellido|raw|upper  }}_{{ estudiante.primerNombre|raw|upper  }}_Periodo_{{ periodo }}_{{ "now"|date("Y") }}
{% endblock %}

{% block body %}

<div class="container">

<div class="cuerpo">
<div class="panel panel-default">
    <div class="panel-body" style="padding:0px; height: auto; width: auto;"> 
    <div style="float: left; width: 10%;">
       <img src="{{ app.request.getSchemeAndHttpHost() ~asset(logo) }}"  style="margin-top: 5px; margin-left: 10px;" /> 
    </div>
    <div style="float: left; width: 90%; text-align: center; line-height: 1 !important; margin-top: 5px !important;">
         {{ formato.encabezado|raw }}
    </div>
    </div>
</div>
    


<div class="panel panel-default" style="padding:5px; margin:3px;">
  <div class="panel-body " style="padding:0px"> 
      {{ include(template_from_string(formato.textoExtra)) }} 
  </div>
</div>

<div class="col-lg-6 col-md-offset-3"  style="margin-top:3px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <table style="border: 1px solid; border-collapse: collapse;">
        <thead>
          <tr style="border: 1px solid; border-collapse: collapse; padding: 2px;">
            <th style="border: 1px solid; border-collapse: collapse;width: 25%; text-align: center; padding: 2px;" rowspan="2">ASIGNATURA</th>
            <th style="border: 1px solid; border-collapse: collapse;width: 5%; text-align: center;" rowspan="2">IHS</th>
            {% set cantidad = 0 %}
             {% for item in items %}
                 {% set cantidad = loop.length %}
             {% endfor %}
            
            <th colspan="{{ cantidad }}" style="text-align: center;">ESCALA VALORATIVA</th>

          </tr>
          <tr>
            {% for item in items %}
            <th style="border: 1px solid; border-collapse: collapse;width: 5%; text-align: center;">
                {% if principal.idGrupo.tipoCalificacion == "Cuantitativo" %}
                    {{ item.nombre }} 
                {% else %}
                    {{ item.notaCualitativa }}
                {% endif %}
            </th>  
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for inscripcion in inscripcionesAsignatura %}
              <tr style="border: 1px solid; border-collapse: collapse;">
                  <td style="border: 1px solid; border-collapse: collapse; padding: 2px;">{{ inscripcion.grupoAsignatura.idAsignatura }}</td>
                  <td style="border: 1px solid; border-collapse: collapse;text-align: center;  padding: 2px;">{{ inscripcion.grupoAsignatura.intensidadHoraria }}</td>
                
                {% for item in items %}  
                  <td style="border: 1px solid; border-collapse: collapse;text-align: center;  padding: 2px;">
                        {%  if (inscripcion.acumulado|number_format(1)  >= item.limiteInferior)  and (inscripcion.acumulado|number_format(1) <= item.valor)  %}
                            {% if principal.idGrupo.tipoCalificacion == "Cuantitativo" %}
                                {{ inscripcion.acumulado|number_format(1) }}
                            {% else %}
                                    x
                            {% endif %}    
                        {% endif %}  
                  </td>
                {% endfor %} 
                
              </tr>
          {% endfor %}
        </tbody>    
        </table>

        <div style="text-align: center; margin-top: 5px;">
           
            {% for item in items %}
                {% if principal.idGrupo.tipoCalificacion == "Cuantitativo" %}
                    <span><strong>{{ item.nombre }}:</strong>  {{ item.limiteInferior }} a {{ item.valor }} </span> 
                {% else %}
                     <span><strong>{{ item.notaCualitativa }}:</strong> {{ item.descripcionCualitativa }}</span>
                {% endif %}    
            {% endfor %}
            
        </div>   
      </div>
    </div>
</div>
{# Validacion de Logros en ModeloBoletin #}

{% if formato.logros == true %}

<div class="col-lg-12">
      <div class="panel panel-default"  style="margin:3px;">

      <div class="panel-heading" style="padding:2px; padding-bottom:0px;">DETALLE DE CALIFICACIONES</div>
        <div class="panel-body">

      <table class="table table-condensed" style="width: 50%">
            <tr>
              <td  width="5%"  align="center"><strong>Materia</strong></td>
              <td></td>
              <td width="65%"  align="center"><strong>Indicadores de Logro</strong></td>
              <td width="10%"  align="center"><strong>Valoración</strong></td>
            </tr>
        {% for entity in boletin %}
              <tr style="page-break-before: always;height: 30px;">
                  <td>
                      <div style="display:none" id="{{ entity.logro.idboletin.asignatura.id }}">   <strong>{{ entity.logro.idboletin.asignatura }}</strong></div>
                  </td>
                  <td align="center" width="30px" valign="middle"><img src="{{ app.request.getSchemeAndHttpHost() ~asset(entity.logro.categoria.getWebPath()) }}" width="20px" height="20px" />   </td>
                  <td width="50%" > {{ entity.logro.descripcion }}</td>
                  <td  align="center"><strong>{{ entity.calificacion }}</strong></td>
              </tr>
        {% endfor %}

        </table>
       </div>
      </div>
</div>
{% endif %}


{% if formato.textoExtraSegundoMostrar == true %}
<div class="col-lg-12">
     <div class="panel panel-default"  style="margin:3px;">
        <div class="panel-body">
        {{ include(template_from_string(formato.textoExtraSegundo)) }}           
        </div>
    </div>
</div>
{% endif %}    

<div class="col-lg-12">
     <div class="panel panel-default"  style="margin:3px;">
        <div class="panel-body">
            EL ESTUDIANTE <strong><u> &nbsp;{{ estudiante.primerNombre|raw|upper }} {{ estudiante.segundoNombre|raw|upper  }} 
                    {{ estudiante.primerApellido|raw|upper  }}  {{ estudiante.segundoApellido|raw|upper  }}&nbsp; </u></strong><br>
                  
            RESULTADO PROMOCIÓN: 
            <strong><u> &nbsp;
                  {% if principal.descripcionAprobacion == null %}
                    MATRÍCULA EN CURSO
                  {% else %}
                      {% if principal.aprobado %}
                        PROMOVIDO AL GRADO: 
                        {% set nivelNuevo = principal.idGrupo.idNivel.orden + 1 %}
                        {% for nivel in niveles if nivel.orden == nivelNuevo %}
                              {{ nivel.detalleNivel|upper }}
                        {% endfor %}  
                            (Obs. sistema: {{ principal.descripcionAprobacion }} {% if principal.fechaAprobacion %}{{ principal.fechaAprobacion|date('d-M-Y H:i:s') }} {% endif %})
                      {% else %}
                        NO PROMOVIDO: (Obs. sistema: {{ principal.descripcionAprobacion }} {% if principal.fechaAprobacion %}{{ principal.fechaAprobacion|date('d-M-Y H:i:s') }} {% endif %})
                      {% endif %}
                  {% endif %}
                  &nbsp; </u></strong><br>
                  FECHA DE EXPEDICIÓN: <u><strong> {{ "now"|date('d-M-Y') }} </strong></u>
           
        </div>
    </div>
</div>     
              
{% if formato.observaciones == true  %}               
<div class="col-lg-12">
      <div>
            <div class="panel panel-default"  style="margin:3px;">

                <div class="panel-heading">
                      <h6 class="panel-title">OBSERVACIONES</h6>
                </div>
                      <div class="panel-body" style="padding: 5px;">
            {# Validamos si el ModeloBoletin acepta Observaciones  #}

                              
                          {% if observaciones == null %}
                              <h5>No hay Observaciones por el docente</h5>
                          {% else %}
                              <div class="cuerpo">
                              {{ observaciones.descripcion|raw }}
                              </div>
                              <p><br></p>
                          <p><br></p>
                          {% endif %}
                      </div>
            </div>
      </div>
</div>
{% endif %}
{# Fin de validacion de Boletines #}

{% if formato.bloqueFirmasMostrar == true %}
<div class="col-lg-12">
     <div style="margin:3px;">
        <div>
            <p><br></p>
            <p><br></p>
        {{ include(template_from_string(formato.bloqueFirmas)) }}           
        </div>
    </div>
</div>
{% endif %}

{% if formato.footerMostrar == true %}
<div class="col-lg-12">
     <div  style="margin:3px;">
        <div class="panel-body">
        {{ include(template_from_string(formato.footer)) }}           
        </div>
    </div>
</div>
{% endif %} 



</div>
</div>
    

{% endblock %}
{% block javascripts %}


<script>

 $(document).ready(function(){
    var font = "{{ tamano + 1 }}";
    $( "span" ).removeAttr( "style" );
    $( "span" ).css( 'font-size',font+"px" );   
 });

{% for validacion in boletin %}
    $("#{{ validacion.logro.idboletin.asignatura.id }}").css("display", "block");
{% endfor %}
</script>
{% endblock %}