{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span6
{% endblock %}

{% block headerarticle %}
    <h3><span class="badge">1</span> Selecciona</h3>
{% endblock %}
{% block article %}

  <label>Sede</label>
  <select id="sede">
    {% for sede in sedes %}
    <option value="{{ sede.id }}"> {{ sede }}</option>
    {% endfor %}
  </select>
  
  <label>Consolidado</label>
  <select id="consolidado">
    <option value="1">Por período</option>
    <option value="2">Por Año</option>
  </select>
  
  <div id="seccionPeriodoEscolar" style="display: none">
  <label>Año</label>
  <select id="periodoEscolar">
    {% for periodoEscolar in periodosEscolares %}
    <option value="{{ periodoEscolar.id }}" {% if periodoEscolar.id == idPeriodoEscolar %}selected{% endif %}> {{ periodoEscolar }}</option>
    {% endfor %}
  </select>
  </div>

  <div id="seccionPeriodo">
  <label>Período</label>
  <select id="periodo">
    {% for periodo in periodosTotal %}
    <option value="{{ periodo.id }}" {% if periodo.id == idPeriodoActual %}selected{% endif %}> {{ periodo }}</option>
    {% endfor %}
  </select>
  </div>

 <label>Tipo Estadística</label>
 <select id="estadistica">
    <option value="0"> Seleccione Tipo Estadística</option> 
    <option value="1"> Trabajos</option> 

 </select>

  <a href="#" class="btn btn-primary" id="cargar">Cargar</a>
{% endblock %}

{% block extras %}
{% embed 'TemasTemasBundle::span.html.twig' %}
{% block spanclase %}
span6
{% endblock %}

{% block headerspan %}
    <h3><span class="badge badge-success">2</span> Consolidado</h3>
{% endblock %}
    
{% block articlespan %} 

<table class="table" id="tablaConsolidado"  width="80%">
    <thead>
            <tr>
                <th>Trabajo</th>
                <th>Total</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
 
        <tbody>
         
           
           
        </tbody>
</table>


{% endblock %}

{% endembed %}


{% embed 'TemasTemasBundle::span.html.twig' %}
{% block spanclase %}
span12
{% endblock %}

{% block headerspan %}
    <h3><span class="badge badge-warning">3</span> Gráfico</h3>
{% endblock %}
    
{% block articlespan %} 
    <div id="grafico" style="width: auto; height: auto;"></div>
{% endblock %}

{% endembed %}


{% endblock %}

{% block javascripts %}

{{ parent() }}


{% set rutaTrabajosPeriodo = path('service_trabajos_periodo',{'periodo':"Periodo"}) %}
{% set rutaTrabajosPeriodoConsolidado = path('service_trabajos_periodo_consolidado',{'periodo':"Periodo",'tipotrabajo':"TipoTrabajo" }) %}


        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    <script>
    rutaTrabajosPeriodo = "{{ rutaTrabajosPeriodo }}";
    rutaTrabajosPeriodoConsolidado = "{{ rutaTrabajosPeriodoConsolidado }}";
           
                $(document).ready(function() {
                    tabla = $('#tablaConsolidado').DataTable();
                });
    </script>
    <script src="{{ asset('bundles/colegioadmin/estadistica.js') }}" type="text/javascript"></script>
{% endblock %}