{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span6
{% endblock %}
{% block headerarticle %}
<i class="icon-file"></i>
              <h3> Configuraciones Básicas</h3>

{% endblock %}
{% block article %}
     {% include 'ColegioAdminBundle:Default:conf.html.twig' %}
{% endblock %}

{% block extras %}

{% embed 'TemasTemasBundle::span.html.twig' %}
{% block spanclase %}
span6     
{% endblock %}

{% block headerspan %}
<i class="icon-file"></i>
    <h3>Otras configuraciones</h3>
{% endblock %}
    
{% block articlespan %}  

 <div class="widget-content">
              <div class="shortcuts"> <a href="{{ path('periodoescolar') }}" class="shortcut"><i class="shortcut-icon icon-flag"></i><span
                                        class="shortcut-label">Año</span> </a><a href="{{ path('parametros') }}" class="shortcut"><i
                                            class="shortcut-icon icon-cogs"></i><span class="shortcut-label">Parámetros</span> </a><a href="#" class="shortcut"><i class="shortcut-icon icon-signal"></i> <span class="shortcut-label">Reports</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-comment"></i><span class="shortcut-label">Comments</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-user"></i><span
                                                class="shortcut-label">Users</span> </a><a href="javascript:;" class="shortcut"><i
                                                    class="shortcut-icon icon-file"></i><span class="shortcut-label">Notes</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-picture"></i> <span class="shortcut-label">Photos</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-tag"></i><span class="shortcut-label">Tags</span> </a> </div>
              <!-- /shortcuts --> 
            </div>
            <!-- /widget-content --> 
          </div>


 
 {% endblock %}
{% endembed %}
{% endblock %}   
