<div class="widget-content">
<div class="shortcuts" > <a href="{{ path('periodo') }}" class="shortcut"><i class="shortcut-icon icon-list-alt"></i><span
                                        class="shortcut-label">Periodos</span> </a><a href="{{ path('categoria') }}" class="shortcut"><i
                                            class="shortcut-icon icon-bookmark"></i><span class="shortcut-label">Categorias</span> </a><a href="{{ path('modeloboletin') }}" class="shortcut"><i class="shortcut-icon icon-signal"></i> <span class="shortcut-label">Modelo Reportes</span> </a><a href="{{ path('ColegioAdminBundle_reporte') }}" class="shortcut"> <i class="shortcut-icon icon-comment"></i><span class="shortcut-label">Generar Reportes</span> </a><a href="{{ path('estudiante') }}" class="shortcut"><i class="shortcut-icon icon-user"></i><span
                                                class="shortcut-label">Estudiantes</span> </a><a href="{{ path('nota') }}" class="shortcut"><i
                                                    class="shortcut-icon icon-file"></i><span class="shortcut-label">Notas</span> </a><a href="{{ path('tipotrabajo') }}" class="shortcut"> <i class="shortcut-icon icon-tag"></i><span class="shortcut-label">Tipo Trabajos</span> </a> 
</div></div>
     
