{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/temastemas/js/guidely/jquery-tourbus.min.css') }}" rel="stylesheet" type="text/css" media="all">

{% endblock %}


{% block prueba %}
<ol class='tourbus-legs' id='tour'>
		<li data-el='#inicio' data-orientation='top' data-width='200'>
			<h2>Visita guiada</h2>
                       
			<a href='javascript:void(0);' class='tourbus-stop'><i class="icon-off"></i> Salir...</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0);' class='tourbus-next'><i class="icon-share-alt"></i> Siguiente...</a>
		</li>

		<li data-el='#tour1' data-orientation='left' data-width='400'>
			<h2>¡Este eres Tú!</h2>
			<p>En esta sección puedes encontrar el Perfil (sedes) y el Cerrar Sesión</p>
			<a href='javascript:void(0);' class='tourbus-next'>Siguiente...</a>
		</li>

                <li data-el='#tour2' data-orientation='top' data-width='400'>
			<h2>¡Algunos accesos clave!</h2>
			<p>Veremos uno a uno...</p>
			<a href='javascript:void(0);' class='tourbus-next'>Siguiente...</a>
		</li>
		
                <li data-el='#tour3' data-orientation='right' data-width='300'>
			<h2>¡Menú Principal!</h2>
			<p></p>
			<a href='javascript:void(0);' class='tourbus-next'>Siguiente...</a>
		</li>
                 <li data-el='#tour4' data-orientation='right' data-width='300'>
			<h2>¡Prueba!</h2>
			<p>Este es el menú donde encontrarás la mayoría de funcionalidades de la Plataforma</p>
			<a href='javascript:void(0);' class='tourbus-next'>Siguiente...</a>
		</li>
                <li data-el='#tour5' data-orientation='right' data-width='300'>
			<h2>¡Conócenos!</h2>
			<p>Puedes ver la Empresa que hace todo esto Posible!</p>
			<a href='javascript:void(0);' class='tourbus-next'>Salir...</a>
		</li>
	
	</ol>
{% endblock %}


{% block span %}
span8
{% endblock %}



{% block article %}
        

{% if is_granted('ROLE_SUPER_ADMIN') %} {% else %} 
    
    

              <div class="widget big-stats-container">
                <div class="widget-content">
                  <h6 class="bigstats">Estas son solo unas estadísticas del rendimiento académico de tu Institución Educativa.  Esperamos te sean útiles. Att <a href="http://www.tucompualdia.net" target="_blank">TuCompualdia.net</a></h6>
                  <div id="big_stats" class="cf">
                    <div class="stat"><h3>Promedio</h3><i class="icon-anchor"></i> 
                      
						<span class="value">
							
						</span>
					</div>
                                                        
         
                        
                    {% for item in items %}
                    	<div class="stat"><h3>{{ item.nombre }}</h3><i class="{{ item.icon }}"></i> <span class="value"><a class="btn btn-success btn-sm">0%</a></span></div>
                    {% endfor %}

                  </div>
                </div>
			   </div>
                  
     <div class="alert alert-info">

    <button class="close" data-dismiss="alert" type="button"></button>
    <strong></strong>

    Tomado de {#{ total }#} Estudiantes
    …

	</div>
                    


  <div class="span4">
                                <canvas id="donut-chart" class="chart-holder" width="538" height="250">
                                   
                                </canvas>
                                <!-- /bar-chart -->
  </div>          
  <div class="span2">
 {% for item in items %}
	<span class="{{ item.span }}"><i class="{{ item.icon }}"></i> {{ item.nombre }} </span>: {{ item.limiteInferior }} a {{ item.valor }} <br>  
   
 {% endfor %}
  	{#<span class="label label-success value"><i class="icon-star"></i> SUPERIOR </span>: 4.5 a 5.0 <br>  
     <span class="label label-info"><i class="icon-star-empty"></i> ALTO </span>: 3.8 a 4.49 <br>
    <span class="label label-warning"><i class="icon-exclamation-sign"></i> BASICO </span>: 3.0 a 3.79 <br>
     <span class="label label-important"> <i class="icon-warning-sign"></i> BAJO </span>: 0 a 2.99#}
     
     <hr>
{#<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Escala</th>
			<th>Total Estudiantes</th>
			<th>%</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Superior</td>
			<td>{{ promedioTotalSuperior|number_format(0) }}</td>
			<td>{{ promSup|number_format(1)  }}%</td>
	    <tr>
	    <tr>
			<td>Alto</td>
			<td>{{ promedioTotalAlto|number_format(0) }}</td>
			<td>{{ promAlt|number_format(1)  }}%</td>
	    <tr>
	    <tr>
			<td>Básico</td>
			<td>{{ promedioTotalBasico|number_format(0) }}</td>
			<td>{{ promBas|number_format(1)  }}%</td>
	    <tr>
	    <tr>
			<td>Bajo</td>
			<td>{{ promedioTotalBajo|number_format(0) }}</td>
			<td>{{ promBajo|number_format(1)  }}%</td>
	    <tr> 
	</tbody>	
</table>#}


  </div>                  

                        {% endif %}


{% endblock %}
{% block extras %}

{% embed 'TemasTemasBundle::span.html.twig' %}
            {% block spanclase %}
            span4
            {% endblock %}
            {% block headerspan %}

             <i class="icon-bookmark"></i>
              <h3>Tour</h3>

            {% endblock %}
     {% block articlespan %}
  



<div class="widget-content">
<div class="shortcuts"> 
	
       <a href="#" class="tour shortcut" id="inicio"><i class="shortcut-icon icon-flag"></i><span
                                        class="shortcut-label">Haz el Tour!!</span> </a> 

       {% if is_granted('ROLE_SUPER_ADMIN') %} {% else %} <a href="#" class="shortcut"><span class="shortcut-label"><img class="img-circle" src="{{ asset(app.user.idColegio.detalle.webPath) }}" width="80px" height="80px"/></span> </a> {% endif %}                                                                    
</div></div>
     
     {% endblock %}
                

    {% endembed %}


    {% embed 'TemasTemasBundle::span.html.twig' %}
            {% block spanclase %}
            span4
            {% endblock %}
            {% block headerspan %}

             <i class="icon-rss"></i>
              <h3>Noticias Plataforma</h3>

            {% endblock %}
     {% block articlespan %}
 
<a class="twitter-timeline" href="https://twitter.com/hashtag/Tucolegioaldia" data-widget-id="492175391511961602">Tweets sobre #Tucolegioaldia</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>





             
     {% endblock %}
                

    {% endembed %}







    {% embed 'TemasTemasBundle::span.html.twig' %}
            {% block spanclase %}
            span12
            {% endblock %}
            {% block headerspan %}

             <i class="icon-bookmark" id="tour2"></i>
              <h3>Accesos Importantes </h3>

            {% endblock %}
     {% block articlespan %}
 {% include 'ColegioAdminBundle:Default:conf.html.twig' %}
             
     {% endblock %}
                

    {% endembed %}







{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/temastemas/js/guidely/tourbus_scroll.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/temastemas/js/guidely/jquery-tourbus.min.js') }}" type="text/javascript"></script>

<script>
$(document).ready(function() {
		var tour = $('#tour').tourbus({ autoDepart: true });
		$("a.tour").bind("click",function(e){ e.preventDefault();$('#tour').trigger('depart.tourbus'); });
	});

</script>

<script type="text/javascript">
		
 		var bajo = parseInt($("#bajo").val());
 		var basico = parseInt($("#basico").val());
 		var alto = parseInt($("#alto").val());
 		var superior = parseInt($("#superior").val());
 		
        var doughnutData = [
				{
				    value: bajo,
				    color: "#953B39"
				},
				{
				    value: basico,
				    color: "#C67605"
				},
				{
				    value: alto,
				    color: "#2D6987"
				},
				{
				    value: superior,
				    color: "#356635"
				},
				{
				    value: 0,
				    color: "#4D5360",
                    labels: "hola",
                    text: "cambios"
				}

			];

        var myDoughnut = new Chart(document.getElementById("donut-chart").getContext("2d")).Doughnut(doughnutData);
</script>        


{% endblock %}
