{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

<table class="table" id="dataTables-example">
	<thead>
		<tr>
			<th>No.</th>
			<th>Sede</th>
			<th>Grupo</th>
			<th>Materia</th>
			<th>Docente</th>
		  {% for periodos in periodosTotal %} 	
			<th>{{ periodos.periodo|title }}</th>
		  {% endfor %} 		
		</tr>
	</thead>
	<tbody>
	   {% for asignatura in gruposAsignatura %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ asignatura.idGrupo.idSede }}</td>
			<td>{{ asignatura.idGrupo.nombre }}</td>
			<td>{{ asignatura.idAsignatura }}</td>
			<td>{{ asignatura.idDocente }}</td>
		  {% for periodos in periodosTotal %} 	
			<td>
				{#<a href="{{ path('ColegioDocenteBundle_planillas_docentes', {'grupoAsignatura': asignatura.id, 'periodo': periodos.id, 'formato': "pdf" }) }}" class="btn btn-danger btn-sm" target="_blank" id="#"><i class="fa fa-file-pdf-o"></i></a>#}
                <a href="{{ path('ColegioDocenteBundle_planillas_docentes', {'grupoAsignatura': asignatura.id, 'periodo': periodos.id, 'formato': "html" }) }}" class="btn btn-warning btn-sm" target="_blank"> <i class="fa fa-file-pdf-o"></i></a>
			</td>
		  {% endfor %} 	
		</tr>
	   {% endfor %}
	</tbody>
</table>    
    
{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  