{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link href="{{ asset('bundles/temastemas/js/select/jquery.minimalect.min.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block span %}
span4
{% endblock %}
{% block article %}
<div style="height: 600px">
{{ form(form) }}
</div>
{% endblock %}

{% block extras %}

{% embed 'TemasTemasBundle::span.html.twig' %}
{% block spanclase %}
span8  
{% endblock %}

{% block headerspan %}
    <h3>Estudiante</h3>
{% endblock %}
    
{% block articlespan %} 
{% for prueba in datos %}

<div class="table-responsive">
<table class="table" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Grupo</th>
                <th>Identificación</th>
                 <th>Nombres</th>
      
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in matriculas %}
            <tr id="fila{{ entity.id }}">
               <td>{{ loop.index }}</td>
                <td>{{ entity.idGrupo.nombre }}</td>
                <td>{{ entity.idEstudiante.idTipoIdentificacion }} {{ entity.idEstudiante.numeroDocumento }}</td>
                <td>{{ entity.idEstudiante }} </td>
                <td>
                      <a href="{{ path('ColegioAdminBundle_generar', { '_format': "html", 'matricula': entity.idEstudiante.id, 'formato': prueba.formato, 'periodo': prueba.periodo, 'tamano': prueba.tamano }) }}" class="btn btn-mini btn-success botonInfo" target="_blank" id="{{ entity.id }}"><i class="fa fa-desktop"></i></a>
                      {#<a href="{{ path('ColegioAdminBundle_generar', { '_format': "pdf", 'matricula': entity.idEstudiante.id, 'formato': prueba.formato, 'periodo': prueba.periodo, 'tamano': prueba.tamano }) }}" class="btn btn-danger btn-mini botonInfo" target="_blank" id="{{ entity.id }}"><i class="fa fa-file-pdf-o"></i></a>#}
                      <a href="#" class="btn btn-danger btn-mini botonInfo disabled" onclick="alert('Esta función está deshabilitada... estamos trabajando para mejorarla. Muchas gracias.'); return false;"><i class="fa fa-file-pdf-o"></i></a>
                      <a href="{{ path('ColegioAdminBundle_boletin_nuevo', { '_format': "html", 'matricula': entity.id, 'formato': prueba.formato, 'periodo': prueba.periodo, 'tamano': prueba.tamano }) }}" class="btn btn-warning btn-mini" target="_blank"> <i class="fa fa-file-pdf-o"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
       
</div>       
{% else %}

{% endfor %}





{% endblock %}
{% endembed %}
{% endblock %}



{% block javascripts %}
{{ parent() }}

  <script src="{{ asset('bundles/temastemas/js/select/jquery.minimalect.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
    <script>
    $(document).ready(function() {
        $( '#dataTables-example' ).dataTable();
        $( ".selector" ).minimalect({theme: "bubble", placeholder: "Seleccione"});
        $( ".selector" ).css('width', '100px');
        $( ".botonInfo" ).click(function(){
            var id = $(this).attr("id");
            $('#fila'+id).addClass("success");
           
        });
    
    });
    </script>  
{% endblock %}

