{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span12
{% endblock %}
{% block headerarticle %}
 <i class="icon-file"></i>
              <h3> Listado de tareas</h3>

{% endblock %}
{% block article %}
	   <h2>Trabajos</h2> <hr>
<div class="span4">
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody>
           
             <tr>
                <th>Tipo de trabajo</th>
                <td>{{ entity.tipoTrabajo }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Grupo</th>
                <td>{{ entity.grupoAsignatura }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('d-M/y') }}</td>
            </tr>
            <tr>
                <th>Fecha de entrega máxima</th>
                <td>{{ entity.fechaEntrega|date('d-M/y') }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ entity.detalle | raw }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if  entity.estado == 1 %}
                    PUBLICADA
                {% else %}SIN PUBLICAR{% endif %}</td>
            </tr>
             <tr>
                <th>Logros</th>
                <td>
                {% for logro in entity.logros %}
                    {{ logro }}<br>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="span4">
    <h2>Visto por:</h2>

    <table class="table table-bordered" id="#dataTables-example">
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.matricula.idEstudiante }}</td>
                <td>{{ estudiante.fechaVisita|date("d-M-Y H:m:s") }}</td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
</div>
{% endblock %}