{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span12
{% endblock %}
{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('bundles/temastemas/js/datepicker/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ app.request.schemeAndHttpHost~asset('bundles/temastemas/css/notifIt.css') }}">
{% endblock %}
{% block headerarticle %}
 <i class="icon-file"></i>
              <h3> Listado de tareas</h3>

{% endblock %}
{% block article %}
<div class="table-responsive">
	<table class="table" id="dataTables-example">
		<thead>
			<th>No.</th>
			<th>Publicado</th>
			<th>Código</th>
			<th>Período</th>
			<th>Grupo</th>
			<th>Asignatura</th>
			<th>Fecha Entrega</th>
			<th>Fecha Edición</th>
			<th>Acciones</th>			
		</thead>
		<tbody>
			{% for tarea in tareas %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>
					<div style="display:none;">{{ tarea.estado }}</div>
					{% if tarea.estado == true %}
						<span class="label label-success"><i class="fa fa-check"></i></span>
					{% else %}
						<span class="label label-important"><i class="fa fa-plus"></i></span>
					{% endif %}
				</td>
				<td>{{ tarea.id }}</td>
				<td>{{ tarea.periodo.periodo }} - {{ tarea.periodo.periodoEscolar }}</td>
				<td>{{ tarea.grupoAsignatura.idGrupo.nombre }}</td>
				<td>{{ tarea.grupoAsignatura.idAsignatura }}</td>
				<td><a href="#" id="{{ tarea.id }}" class="fechaEntrega">{{ tarea.fechaEntrega|date('d, M-Y H:m:s') }}</a>
					<input type="text" id="fecha{{ tarea.id }}" class="fecha" value="{{ tarea.fechaEntrega|date('Y-m-d H:m:s') }}" style="width:150px; display:none;" /></td>
				<td>{{ tarea.fechaEdicion|date('d, M-Y') }}</td>
				{#<td>

					<a href="#myModal{{ tarea.id }}" class="btn btn-success btn-mini detalle" role="button" data-toggle="modal">Ver</a
					>
					<!-- Modal -->
						<div id="myModal{{ tarea.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="myModalLabel">{{ tarea.tipoTrabajo }}</h3>
						  </div>
						  <div class="modal-body">
						  Profesor: <em>{{ tarea.grupoAsignatura.idDocente|title }}</em><br>
						    <div id="detalleTarea{{ tarea.id }}">{{ tarea.detalle|raw }}</div>
						  </div>
						  <div class="modal-footer">
						    <button class="btn" data-dismiss="modal" aria-hidden="true">Gracias</button>
						    
						  </div>
						</div>
				</td>#}
				<td>
					<a href="{{ path('colegio_admin_tareas_detalle', { 'id': tarea.id }) }}" class="btn btn-success btn-mini detalleTotal" target="_blank">Ver</a>
				</td>
						
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

 
 {% block javascripts %}
{{ parent() }}
{% set rutaTarea = path('service_actualizar-tarea',{'tarea':"Tarea", 'fecha':"Fecha"}) %}
      
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('bundles/temastemas/js/datepicker/js/moment.min.js') }}"></script>
         <script src="{{ asset('bundles/temastemas/js/datepicker/js/moment-with-locales.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/datepicker/js/bootstrap-datetimepicker.js') }}" type="text/javascript"></script>
         

		<script type="text/javascript" src="{{ app.request.schemeAndHttpHost~asset('bundles/temastemas/js/notifIt.js') }}"></script>


 
     <script>
	    //$('.fecha').datetimepicker({format: 'yyyy-mm-dd'});
	    //$('#colegio_estudiantebundle_grupoestudiante_fechaFin').datepicker({format: 'yyyy-mm-dd'});
   </script> 
    <script type="text/javascript">
    var rutaTarea = "{{ rutaTarea }}";
    $('.fecha').hide();
    $(document).ready(function(){
  	
  	   $.eventoClick = function(){
    	$('.fechaEntrega').click(function(event){
    		
    		$(this).hide('up');

    		var id = $(this).attr('id');
    		console.log('Id de la tarea'+id);
    		$('#fecha'+id).show('slide');
    		
    	})};



    	$.eventoChange = function(){
	    	$('.fecha').change(function(){
    		event.preventDefault();

	    		var id1 = $(this).attr('id');
	    		var id = id1.replace("fecha","");

	    		var fecha = $('#fecha'+id).val();

	    		var rutaTarea2 = rutaTarea.replace("Tarea",id);
	    		var rutaTarea3 = rutaTarea2.replace("Fecha",fecha);
	    		$.get(rutaTarea3,function(){

	    		})
	              .done(function() {
	    				$.mensaje();
				  })
				  .fail(function() {
					    alert( "Error en el formato" );
				  })		
    	})};


 		$('#dataTables-example').dataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
          }
        }).click(function(){
    		event.preventDefault();
 			
 			$( ".fecha" ).off("click");
 			$( ".fecha" ).off("change");
 			$(".detalleTotal").on("click")
 			$.eventoClick();
        	$.eventoChange(); 
 		});
 			
    	  $.mensaje = function(){
                 notif({
                  msg: "<b>Felicitaciones:</b> Editado correctamente",
                  type: "success"
                });
            }

          $('.detalleTotal').click(function(){
          	var href = $(this).attr('href');
          	window.open(href,'','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes,width: 1000, height: 1000, left: 0, top: 0')
          })
       /* $('.detalle').click(function(event){
        	event.preventDefault();
        	var href = $(this).attr('href');
        	var id = href.replace('#','');
        	id = id.replace('myModal','');
        	var textoLimpio = $('#detalleTarea'+id).html();
        	var texto = $.parseHTML(textoLimpio);
        	$('#detalleTarea'+id).html(texto);
        	//$('#id').modal('show');

        }) */   
    });
    </script>
{% endblock %}  
