{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
    <h3>Tipo de Calificación</h3>
{% endblock %}


{% block article %}
    <h1>Editar Tipo Calificacion</h1>

    {{ form(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('tipocalificacion') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
