{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
    <h3>Tipo Calificación</h3>
{% endblock %}


{% block article %}
    <h1>TipoCalificacion creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipocalificacion') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
