{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Editar Circulares</h1>
 {{ tinymce_init() }}
    
    <hr>


        <a href="{{ path('circularesDocente') }}" class="btn btn-success">
            Volver al listado
        </a>
        <hr>
    {{ form(edit_form) }}

       
  {{ form(delete_form) }}
{% endblock %}
