{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Lista de Circulares </h1>

    <hr>

            <a href="{{ path('circulares_newDocente') }}" class="btn btn-success">
                Crear nueva circular
            </a>
    <hr>
    <table class="table table-bordered" id="#dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Destinatarios</th>
                <th>Publicado</th>
                <th>Titulo</th>
                
                <th>Fecha de Creación</th>
                <th>Última Edición</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('circulares_showDocente', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>
                    {% for destino in entity.destinatarios %}
                         {{ destino }}<br>
                    {% endfor %}
                </td>
                <td> {% if entity.publicado == true %}
                        <i class="fa fa-check-circle-o fa-2x"></i>
                    {% else %}
                        <i class="fa fa-times fa-2x"></i>
                    {% endif %}</td>
                <td>{{ entity.titulo }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaVisita %}{{ entity.fechaVisita|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                        
                        <a href="{{ path('circulares_showDocente', { 'id': entity.id }) }}" class="btn btn-success">Ver</a>
                   {% if entity.publicado == true  %}

                   {% if  entity.fechaVisita|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                        <a href="{{ path('circulares_editDocente', { 'id': entity.id }) }}"  class="btn btn-warning">Editar</a>
                   {% endif %}

                   {% else %}
                        <a href="{{ path('circulares_editDocente', { 'id': entity.id }) }}"  class="btn btn-warning">Editar</a>

                   {% endif %}
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

           
       
    {% endblock %}

    {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/tablesD/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/tablesD/dataTables.bootstrap.js') }}" type="text/javascript"></script>
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
          }
        });
    });
    </script>
{% endblock %}  