{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Creación de Circulares</h1>
     <a href="{{ path('circularesDocente') }}" class="btn btn-success"> 
            Volver al listado
        </a>
        <hr>
 {{ tinymce_init() }}
    {{ form(form) }}

        
       
    
{% endblock %}
