{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Circulares</h1>
<div class="col-lg-6">
<hr>
        <a href="{{ path('circularesDocente') }}" class="btn btn-success">
            Volver al listado
        </a>
  
         {% if entity.publicado == true  %}

                   {% if  entity.fechaVisita|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                        <a href="{{ path('circulares_editDocente', { 'id': entity.id }) }}"  class="btn btn-warning">
            Editar
        </a>
                   {% endif %}

           {% else %}
              <a href="{{ path('circulares_editDocente', { 'id': entity.id }) }}"  class="btn btn-warning">
            Editar
        </a>
           {% endif %}   
  
        
<hr>
    <table class="table">
        <tbody>
            
            <tr>
                <th>Titulo</th>
                <td><strong>{{ entity.titulo|upper }}</strong></td>
            </tr>
            <tr>
                <th>Publicado</th>
                <td>{{ entity.publicado }}</td>
            </tr>
           
            <tr>
                <th>Detalle</th>
                <td>{{ entity.detalle|raw }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha Edición</th>
                <td>{{ entity.fechaVisita|date('Y-m-d H:i:s') }}</td>
            </tr>
             <tr>
                <th>Destinatarios</th>
                <td>{% for destino in entity.destinatarios %}
                         {{ destino }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

     
     {% if entity.publicado == true  %}

                   {% if  entity.fechaVisita|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                        {{ form(delete_form) }}
                   {% endif %}

   {% else %}
       {{ form(delete_form) }}
   {% endif %}   

</div>

<div class="col-lg-6">
    <h2>Visto por:</h2>

    <table class="table table-bordered" id="#dataTables-example">
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.matricula.idEstudiante }}</td>
                <td>{{ estudiante.fecha|date("d-M-Y H:m:s") }}</td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
</div>
{% endblock %}
    {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/tablesD/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/tablesD/dataTables.bootstrap.js') }}" type="text/javascript"></script>
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
          }
        });
    });
    </script>
{% endblock %}  