{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Listado de Inscripcion Asignatura</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha inscripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('docenteinscripcionasignatura_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaInscripcion %}{{ entity.fechaInscripcion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('docenteinscripcionasignatura_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('docenteinscripcionasignatura_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('docenteinscripcionasignatura_new') }}"  class="btn btn-success bt-sm">
                Crear
            </a>
        </li>
    </ul>
    {% endblock %}
