{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Crear Inscripcion Asignatura</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
       {# <a href="{{ path('docenteinscripcionasignatura') }}"  class="bnt btn-success btn-sm">
            Volver al Listado
        </a>#}
    </li>
</ul>
{% endblock %}
