{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Inscripcion Asignatura</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha Inscripción</th>
                <td>{{ entity.fechaInscripcion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('docenteinscripcionasignatura') }}">
            Volver al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('docenteinscripcionasignatura_edit', { 'id': entity.id }) }}"  class="bnt btn-success btn-sm">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
