{% extends "::base2.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{#<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">#}
{% stylesheets output='css/styledocentes.css' filter='cssrewrite,yui_css' debug=false 
'bundles/colegioestudiante/css/bootstrap.css'
'bundles/colegioestudiante/css/bootstrap3-switch.css'
'bundles/colegioestudiante/css/sb-admin.css'
'bundles/colegioestudiante/font-awesome/css/font-awesome.min.css'
 -%}
    <link href="{{ app.request.schemeAndHttpHost~asset_url }}" rel="stylesheet" type="text/css" media="screen" />
{% endstylesheets %}

<link rel="stylesheet" type="text/css" href="{{ app.request.schemeAndHttpHost~asset('bundles/temastemas/css/notifIt.css') }}">
{% endblock %}

{% block body %}

     <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('tucolegio_ppal_homepage') }}">Tu Colegio al día ({{ app.user.idColegio }}) {{ text|date("d-M,y") }}</a>
         {% if is_granted('ROLE_PREVIOUS_ADMIN') %}  <a class="navbar-brand"  href="{{ path('colegio_admin_homepage', { _cambiar_usuario: '_exit' }) }}">Finalizar impersonación</a>  {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

{{ knp_menu_render('TemasTemasBundle:Builder:docenteMenu', {'currentClass':'active', 'template': 'TemasTemasBundle:Menu:knp_menu.html.twig'}) }}

          

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown messages-dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Mensajes <span class="badge"><div id="totalmensajes">0</div></span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Mensajes</li>
                {#<li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">Danilo:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">John Smith:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">{{ app.user.nombres }}</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>#}
                <li class="divider"></li>
                <li><a href="{{ path('service_docente_chat') }}">Ver todos  <span class="badge"><div id="totalmensajes2">0</div></span></a></li>
              </ul>
            </li>
{#}            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alertas <span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>#}
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.nombres }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('colegio_docente_perfil') }}"><i class="fa fa-user"></i> Perfil</a></li>
                <li><a href="{{ path('service_docente_chat') }}"><i class="fa fa-envelope"></i> Mensajes <span class="badge"><div id="totalmensajes3">0</div></span></a></li>
                
                <li class="divider"></li>
                <li><a href="{{ path('docente_logout') }}"><i class="fa fa-power-off"></i> Salir </a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
           {% set bloquearPeriodo = '' %}
           <div class="alert alert-info alert-dismissable"> Periodo Actual 
             {% for entity in periodos %}
              {{ entity.periodo }} hasta el <strong>{{ entity.fechaFin|date('d M-Y') }}</strong>. 
                {% if entity.cerrarPeriodo == true %}
                 <i>El administrador ha bloqueado las planillas.</i>
                {% endif %}

                {% if entity.fechaFin|date_modify('-15days')|date("Y-m-d") < "now"|date("Y-m-d")  %}
                <span class="label label-warning">Quedan 15 días o menos, ¡ánimo! Recuerda crear al menos un logro por cada planilla que llenas para que el sistema vaya calculando correctamente</span>
                   
                {% else %}
                 
                {% endif %}
                ---
                
             {% endfor %}
                      
              
              {% for parametro in dato %} <span class="brand"> {{ parametro.periodoEscolar.descripcion }} </span> 



              {% else %} 
              <a href="#myModal" role="button" class="btn" data-toggle="modal"> <i class="icon-off"></i> hay un Error!</a>{% endfor %}
               
              <!-- Modal -->
              <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">Gracias por usar tucolegioaldia.net</h3>
                </div>
                <div class="modal-body">
                  <p>Debes solicitar al administrador que cree el año escolar </p>
                   <p>Este error produce que no puedas accesar a Periodos entre otros</p>
                </div>
                <div class="modal-footer">
                  <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
                  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Entendido!</button>
                </div>
              </div>
            </div>
           
            <ol class="breadcrumb">
             {#<div class="col-lg-6">
             <iframe src="http://files.bannersnack.com/iframe/embed.html?hash=bxk90hhvl&userId=17336581&bgcolor=%232B2318&wmode=opaque&clickTag=https%3A%2F%2Ffacebook.com%2Ftucompualdia&t=1426534590" width="400" height="50" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
              </div>#}
              {% block detalle %} {% endblock %}
            </ol>
          

{% for flashMessage in app.session.flashbag.get('notice') %}      
  <div class="alert alert-success alert-dismissable">            
                  <strong>{{ flashMessage }}</strong>
                   </div>
{% endfor %}
                  
           
          </div>
        </div><!-- /.row -->

   

      {% block contenido %}
      
      {% endblock %}
         </div><!-- /#page-wrapper -->
      
    </div><!-- /#wrapper -->
    
    
{% endblock %}
    
    
    
   
{% block javascripts %}
{% javascripts output='js/scriptdocentes.js' filter='yui_js' 
debug=false
'bundles/colegioestudiante/js/jquery-1.10.2.js'
'bundles/colegioestudiante/js/bootstrap.js'
'bundles/colegioestudiante/js/bootstrap3-switch.js'
'bundles/colegioestudiante/js/tablesorter/jquery.tablesorter.js'
'bundles/colegioestudiante/js/tablesorter/tables.js'
-%}
    <script src="{{ app.request.schemeAndHttpHost~asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript" src="{{ app.request.schemeAndHttpHost~asset('bundles/temastemas/js/notifIt.js') }}"></script>
{#} <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>#}

{% set rutasMensajes = path('service_nuevos_total_docentes',{'docente': app.user.id }) %}

<script type="text/javascript">
    var rutasMensajes = "{{ rutasMensajes }}";

$(document).ready(function(){
  setInterval(function() {
                $.alertaMensajes();
                
            }, 10000);

});

     
$.alertaMensajes= function(){
  $.get(rutasMensajes,function(data){
      $('#totalmensajes').text(data);
      $('#totalmensajes2').text(data);
      $('#totalmensajes3').text(data);

    });
}
    


</script>





{% endblock %}
