{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NotaLogro list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Calificacion</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('notadocentelogro_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.calificacion }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('notadocentelogro_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('notadocentelogro_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('notadocentelogro_new') }}">
                Crear nueva
            </a>
        </li>
    </ul>
    {% endblock %}
