{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NotaLogro creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('notadocentelogro') }}">
            Volver al Listado
        </a>
    </li>
</ul>
{% endblock %}
