{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span6
{% endblock %}
{% block article %}
    <h1>Listado de Parámetros</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Periodo escolar</th>
                <th>Logo</th>
                <th>Colegio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('parametros_show', { 'id': entity.id }) }}" >{{ loop.index }}</a></td>
                <td>{{ entity.periodoEscolar }}</td>
                <td>{{ entity.logo }}</td>
                <td>{{ entity.colegio }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('parametros_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('parametros_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('parametros_new') }}" class="btn btn-success btn-sm">
                Crear Parámetros
            </a>
        </li>
    </ul>
    {% endblock %}
