{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span6
{% endblock %}
{% block article %}
    <h1>Crear Parametros</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('parametros') }}" class="btn btn-success btn-sm">
            Volver al Listado
        </a>
    </li>
</ul>
{% endblock %}
