{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span5
{% endblock %}
{% block article %}
    <h3>Parámetros: {{ entity.periodoEscolar|title }}</h3>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Periodo escolar</th>
                <td>{{ entity.periodoEscolar }}</td>
            </tr>
            
            <tr>
                <th>Norma</th>
                <td>{{ entity.norma }}</td>
            </tr>
            <tr>
                <th>Nota Mínima</th>
                <td>{{ entity.notaMinima }}</td>
            </tr>
        </tbody>
    </table>

       
        <a href="{{ path('parametros') }}" class="btn btn-info btn-mini">
            Volver al Listado
        </a>
        <a href="{{ path('parametros_edit', { 'id': entity.id }) }}" class="btn btn-success btn-mini">
            Editar
        </a>
        <hr>
        <a href="#myModalPromover" role="button" class="btn btn-block btn-large btn-warning" data-toggle="modal" data-loading-text="Iniciando...">Promover</a>
 
        <!-- Modal -->
        <div id="myModalPromover" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Promover estudiantes</h3>
          </div>
          <div class="modal-body">
            <p>Recuerde que este proceso debe ejecutarse luego de calcular los promedios acumulados de los estudiantes en la opción de períodos, este proceso puede tardar un poco, le recomendamos no cerrar esta ventana.</p>

            <hr>
            <label>Iniciar proceso sólo con aquellos que no fueron promovidos</label>
            <input type="checkbox" id="calculoParcial" class="form-control" checked="checked" />
            <hr>
            <a href="#" id="calculoPromocion" role="button" class="btn btn-block btn-large btn-danger" data-toggle="modal" data-loading-text="Iniciando...">Iniciar proceso...</a>

            <hr>
            <div id="barraCarga" style="display:none;">
            <p style="text-align: center;">...Estamos procesando su solicitud, gracias por la amable espera...</p>
             <div class="progress progress-striped active" >

              <div class="bar" style="width: 100%;"></div>
            </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Gracias</button>
          </div>
        </div>
       
    {{ form(delete_form) }}


{% endblock %}
{% block extras %}
            

            
{% embed 'TemasTemasBundle::span.html.twig' %}
            
{% block spanclase %}
    span7
{% endblock %}        
    
{% block headerspan %}
    <i class="icon-th-list"></i><h3> Items Norma</h3>
{% endblock %}

{# bloque del contenido, por defecto vacio #}
{% block articlespan %}
<div class="alert alert-success" id="cargando" style="display:none" >

                    </div>
    <table class="table">
        <thead>
        <th>Item</th>
        <th>Descripción cualitativa</th>
        <th>Símbolo cualitativa</th>
        <th>Limite Inferior y Superior</th>

        </thead>
        <tbody>
                {% for item in items %}
                    
                <tr>
                    <td>{{ item.nombre|upper }}</td>
                    <td>
                         {% for param in itemsValores %}
                                {% if (param.parametro == parametrosPrueba) and (param.item == item)  %}

                                  <input class="descripcion" id="descripcion{{ item.id }}" type="text" style="width: 100px" value="{{ param.descripcionCualitativa }}" disabled="true" />
                                
                                {% endif %}
                         
                            {% endfor %}      
                        <input class="descripcion" type="text" id="{{ item.id }}" style="width: 100px" />
                    </td>
                    <td>
                           {% for param in itemsValores %}
                                {% if (param.parametro == parametrosPrueba) and (param.item == item)  %}

                                  <input class="nota" id="nota{{ item.id }}" type="text" style="width: 30px" value="{{ param.notaCualitativa }}" disabled="true" />
                                
                                {% endif %}
                         
                            {% endfor %}      
                        <input class="nota" type="text" id="{{ item.id }}" style="width: 30px" />
                    </td>
                    <td>
                           {% for param in itemsValores %}
                                {% if (param.parametro == parametrosPrueba) and (param.item == item)  %}

                                  <input class="input" id="resulInf{{ item.id }}" type="number" step="0.1" max="5" min="0" style="width: 80px" value="{{ param.limiteInferior }}" disabled="true" /> A
                                 <input class="input" id="resul{{ item.id }}" type="number" step="0.1" max="5" min="0" style="width: 80px" value="{{ param.limiteSuperior }}" disabled="true" /> 
                                
                                {% endif %}
                         
                            {% endfor %}  
                    <input class="input" id="inf{{ item.id }}" type="number" step="0.1" max="5" min="0" style="width: 80px" value=""/> A <input class="input" id="{{ item.id }}" type="number" step="0.1" max="5" min="0" style="width: 80px" value=""/ >
                    </td>
                  
                </tr>
                    
                {% endfor %}    
        </tbody>
    </table>

     
    {% endblock %}
{% endembed %}   
{% endblock %}
{% block javascripts %}
    {{ parent() }}
 
{% set ruta = path('service_actualizar_items', { 'parametro': entity.id, 'item': "itemreemplazar", 'limite': "limitereemplazar", 'inferior':"limiteInferior", 'descripcionCualitativa':"DescripcionCualitativa", 'notaCualitativa':"NotaCualitativa" }) %}    

<script>
        var rutaAjustada = "{{ ruta }}";
        $(document).ready(function(){

            $('.descripcion').change(function(){
                var id = $(this).attr('id');
                var descripcion = $(this).val();
                 var rutaAjustada2 = rutaAjustada.replace("limiteInferior","null");
                 var rutaAjustada3 = rutaAjustada2.replace("limitereemplazar","null");  
                 var rutaAjustada4 = rutaAjustada3.replace("itemreemplazar",id);   
                 var rutaAjustada5 = rutaAjustada4.replace("DescripcionCualitativa",$(this).val());   
                 var rutaAjustada6 = rutaAjustada5.replace("NotaCualitativa","null");

                  $.get(rutaAjustada6,function(data){
                   
                   // $('#resultado'+id+'').html(data);
                    //$('#resultado'+id+'').hide('slide');
                                    $('#cargando').text(data);
                                    $('#cargando').fadeIn();
                                        
                                    setTimeout(function() {
                                         
                                           $('#descripcion'+id).val(descripcion);
                                             $('#cargando').fadeOut(250);
                                    },2500)
                    
                    
                     })
                 
            });



            $('.nota').change(function(){
                var id = $(this).attr('id');
                var descripcion = $(this).val();
                 var rutaAjustada2 = rutaAjustada.replace("limiteInferior","null");
                 var rutaAjustada3 = rutaAjustada2.replace("limitereemplazar","null");  
                 var rutaAjustada4 = rutaAjustada3.replace("itemreemplazar",id);   
                 var rutaAjustada5 = rutaAjustada4.replace("DescripcionCualitativa","null");   
                 var rutaAjustada6 = rutaAjustada5.replace("NotaCualitativa",$(this).val());

                  $.get(rutaAjustada6,function(data){
                   
                   // $('#resultado'+id+'').html(data);
                    //$('#resultado'+id+'').hide('slide');
                                    $('#cargando').text(data);
                                    $('#cargando').fadeIn();
                                        
                                    setTimeout(function() {
                                         
                                           $('#nota'+id).val(descripcion);
                                             $('#cargando').fadeOut(250);
                                    },2500)
                    
                    
                     })
                 
            });

            $('.input').change(function(){

                var id = $(this).attr("id");


                if( id.substring(0,3) === 'inf'){
                    
                     var idajustado = id.replace('inf','');
                     
                     var rutaAjustada2 = rutaAjustada.replace("limiteInferior",$(this).val());
                     var rutaAjustada3 = rutaAjustada2.replace("limitereemplazar","null");  
                     var rutaAjustada4 = rutaAjustada3.replace("itemreemplazar",idajustado);   
                     var rutaAjustada5 = rutaAjustada4.replace("DescripcionCualitativa","null");   
                     var rutaAjustada6 = rutaAjustada5.replace("NotaCualitativa","null");   

                }else{
                     var rutaAjustada2 = rutaAjustada.replace("limitereemplazar",$(this).val()); 
                     var rutaAjustada3 = rutaAjustada2.replace("limiteInferior","null");
                     var rutaAjustada4 = rutaAjustada3.replace("itemreemplazar",$(this).attr("id"));

                     var rutaAjustada5 = rutaAjustada4.replace("DescripcionCualitativa","null");   
                     var rutaAjustada6 = rutaAjustada5.replace("NotaCualitativa","null");  

                }
                //alert('Presionaste')
               
                
                

                $.get(rutaAjustada6,function(data){
                   
                   // $('#resultado'+id+'').html(data);
                    //$('#resultado'+id+'').hide('slide');
                                    $('#cargando').text(data);
                                    $('#cargando').fadeIn();
                                        
                                    setTimeout(function() {
                                          
                                            if( id.substring(0,3) === 'inf'){
                                                var idajustado2 = id.replace('inf','');
                                                $('#resulInf'+idajustado2+'').val($('#'+id+'').val());
                                            }else{
                                                $('#resul'+id+'').val($('#'+id+'').val());
                                            }
                                             $('#cargando').fadeOut(250);
                                    },2500)
                    
                    
                })
            });
        });
    </script>

    {% set periodoActual = "" %}
    {% for entitys in periodos  %} 
        {% set periodoActual = entitys.id %} 
    {% endfor %}
    {% set periodoEscolarRecibido = entity.periodoEscolar.id %}
    {% set ruta = path('service_promover_estudiantes',{'periodoEscolar':periodoEscolarRecibido, 'periodoActual': periodoActual, 'parcial': "CalculoParcial" }) %}
   

    <script type="text/javascript">
    var ruta = "{{ ruta }}";
    $('#calculoPromocion').click(function(){
        $(this).attr('disabled',true);
            
        if(confirm("¿Confirma el inicio del proceso?")){
             $('#calculoPromocion').hide();
             $('#barraCarga').show('slide');
             var parcial = $('#calculoParcial').prop('checked');
             var rutaAjustada = ruta.replace('CalculoParcial',parcial);

             var request = $.ajax({
               method: "POST",
               url: rutaAjustada,
               dataType: "text"               
             });

             request.done(function(){
                $('#barraCarga').hide('slide');
                $('#myModalPromover').modal('hide'); 
                alert("Proceso finalizado correctamente");
             });

             request.fail(function(){
                alert("Ha habido un error en el servidor, por favor inténtelo más tarde, si persiste el problema comuníquese con soporte.")
             })
        }else{
            $(this).attr('disabled',false);
            return false;
        }
    })
    </script>
{% endblock %}