{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Editar Categoria Logro</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('categoria') }}" class="btn btn-success btn-sm">
            Volver al Listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
