{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Listado de Categorias de Logros</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Categoria</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categoria_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.categoria }}</td>
                <td><img src="{{ asset('uploads/documents/categoria/'~ entity.path) }}" WIDTH=30 HEIGHT=30 BORDER=0 ALT="tu colegio al día"></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('categoria_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('categoria_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('categoria_new') }}" class="btn btn-success btn-sm">
                Crear nueva
            </a>
        </li>
    </ul>
    {% endblock %}
