{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Categoria Logro</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ entity.categoria }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img src="{{ asset('uploads/documents/categoria/'~ entity.path) }}" WIDTH=30 HEIGHT=30 BORDER=0 ALT="tu colegio al día"></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('categoria') }}" class="btn btn-success btn-sm">
           Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('categoria_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
