{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Lista Tipo Trabajo </h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha creacion</th>
                <th>Detalle</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tipotrabajo_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.detalle }}</td>
                <td>{{ entity.estado }}</td>
                <td>                
                        <a href="{{ path('tipotrabajo_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm">Mostrar</a>
                        <a href="{{ path('tipotrabajo_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tipotrabajo_new') }}" class="btn btn-primary btn-sm">
                Crear Nuevo Tipo de Trabajo
            </a>
        </li>
    </ul>
    {% endblock %}
