{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Crear Tipo de Trabajo</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipotrabajo') }}" class="btn btn-success btn-sm">
            Volver al Listado
        </a>
    </li>
</ul>
{% endblock %}
