{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/temastemas/js/select/jquery.minimalect.min.css') }}" rel="stylesheet" type="text/css" media="screen" />

{% endblock %}
{% block article %}
    <h1>Editar Grupo Boletin</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('grupoboletin') }}" class="btn btn-success btn-sm">
            Volver al Listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
<div style="height:300px">
<p> </p>
<p> </p>
<p> </p>
<p> </p>

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('bundles/temastemas/js/select/jquery.minimalect.min.js') }}" type="text/javascript"></script>
    <script>
    $("select").minimalect();
    </script>
{% endblock %}
