{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Listado de Boletines asociados</h1>
 <ul>
        <li>
            <a href="{{ path('grupoboletin_new') }}" class="btn btn-success btn-sm">
                Crear nuevo
            </a>
        </li>
    </ul>

    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Boletin</th>
                <th>Grupo Asignatura</th>
                <th>Período</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('grupoboletin_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.boletin }}</td>
                <td>{{ entity.grupoAsignatura }}</td>
                <td>{{ entity.periodo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('grupoboletin_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('grupoboletin_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
    
    {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  

