{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/temastemas/js/select/jquery.minimalect.min.css') }}" rel="stylesheet" type="text/css" media="screen" />

{% endblock %}
{% block article %}
    <h1>Asociar Boletines a Grupos</h1>

    {{ form(form) }}

        <ul class="table table-striped table-bordered">
    <li>
        <a href="{{ path('grupoboletin') }}" class="btn btn-success btn-sm">
            Volver al Listado
        </a>
    </li>
</ul>
<div style="height:300px">
<p> </p>
<p> </p>
<p> </p>
<p> </p>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('bundles/temastemas/js/select/jquery.minimalect.min.js') }}" type="text/javascript"></script>
    <script>
    $("select").minimalect();
    </script>
{% endblock %}

