{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>GrupoBoletin</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('grupoboletin') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('grupoboletin_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
