{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Editar Período Académico</h1>
{% set validacionPeriodoActual = '' %}
{% set periodosAnteriores = '' %}
{% for entitys in periodos if entitys.id == entity.id  %} 
  {% set validacionPeriodoActual = 'igual' %}
    {{ form(edit_form) }}
    {{ form(delete_form) }}
{% else %}
   {% if ("now"|date("m") - entity.fechaFin|date("m") ) >= 1  %}
    {% set periodosAnteriores = 'bloquer' %}
    <h3>No es posible editar, contacte con el administrador del sistema</h3>
   {% else %}
     {{ form(edit_form) }}
     {{ form(delete_form) }}
   {% endif %}
{% endfor %}
   
    <hr>
        <a href="{{ path('periodo') }}" class="btn btn-info btn-mini"><i class="icon-arrow-left"> Volver a la lista</i></a>
    <hr>

{% endblock %}