{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Lista de periodos Académicos</h1>


            <a href="{{ path('periodo_new') }}" class="btn btn-success btn-sm">
                <i class="icon-plus-sign"></i>
                Crear nuevo
            </a>
    <hr>   
 <div class="table-responsive">  
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Año Escolar</th>
                <th>Período</th>
                <th style="text-align:center;">Fecha inicio</th>
                <th style="text-align:center;">Fecha fin</th>
                <th style="text-align:center;">Estado</th>
                <th style="text-align:center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('periodo_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.periodoEscolar }}</td>
                <td>{{ entity.periodo }}</td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                
                        <a href="{{ path('periodo_show', { 'id': entity.id }) }}"  class="btn btn-success"><i class="icon-list"> </i></a>
                  {% for parametro in dato %} 
                      {% if parametro.periodoEscolar.descripcion == entity.periodoEscolar  %}
                           <a href="{{ path('periodo_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-edit"> </i></a>
                      {% endif %}
                  {% endfor %}
                       
                  
                </td>
                <td style="text-align:center;">
                  {% if entity.cerrarPeriodo == true %}
                    <span class="btn btn-default">Cerrado</span>
                  {% else %}
                    <span class="btn btn-info">Abierto</span>
                  {% endif %}  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        
    {% endblock %}

{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
          }
        });
    });
    </script>
{% endblock %}  
