{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span5
{% endblock %}
 
{% block headerarticle %}
<i class="icon-th-list"></i><h3> PERIODO</h3>
{% endblock %}

{% block article %}    

{% set validacionPeriodoActual = '' %}
{% set periodosAnteriores = '' %}
{% for entitys in periodos if entitys.id == entity.id  %} 
  {% set validacionPeriodoActual = 'igual' %}
 
{% else %}
   {% if ("now"|date("m") - entity.fechaFin|date("m") ) >= 1  %}
    {% set periodosAnteriores = 'bloquer' %}

   {% else %}
   
   {% endif %}
{% endfor %}



    <h1>Período Académico</h1>
    <hr>
        <a href="{{ path('periodo') }}" class="btn btn-info btn-mini"><i class="icon-arrow-left"> Volver a la lista</i></a>
    <hr>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Período</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Estado</th>
                <th>Calcular</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.periodoEscolar }} -- {{ entity.periodo }} </td>
                <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.fechaFin|date('Y-m-d H:i:s') }}</td>
                <td>
                {% if periodosAnteriores == "bloquer" %}

                {% else %}
                    <a href="#" {% if entity.cerrarPeriodo == true %}style="display: none;"{% endif %} id="cerrarPeriodo" class="btn btn-warning btn-mini">Cerrar</a>

                    <a href="#" {% if entity.cerrarPeriodo == false %}style="display: none;"{% endif %} id="abrirPeriodo" class="btn btn-success btn-mini">Abrir</a>
                {% endif %}    
                </td>
                <td>
                {% if periodosAnteriores == "bloquer" %}

                {% else %}
                  {% if entity.cerrarPeriodo == true %}
                   <a href="#" id="calcularAcumulado" class="btn btn-success btn-mini" >Acumulado</a>
                  {% else %}
                   <a href="#" id="calcularAcumulado" class="btn btn-success disabled btn-mini " disabled>Acumulado</a>
                  {% endif %} 
                {% endif %} 
                   
                </td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <label>Porcentaje Estándar</label>
    <input type="checkbox" id="porcentajeEstandar" name='porcentajeEstandar' onchange="actualizarEstandar()" {% if entity.porcentajeEstandar == true %}checked{% endif %}>
    
     <label>Establecer</label>
    <input type="checkbox" class="establecer form-control" name='establecer' id="establecer" onchange="actualizarEstablecer()" {% if entity.establecer == true %}checked{% endif %}>

     <label>¿Docentes pueden crear y/o editar Logros y boletines?</label>
    <input type="checkbox" class="establecer form-control" name='boletinDocente' id="boletinDocente" {% if entity.boletinDocente == true %}checked{% endif %}>

      <label>¿Identificar Fortalezas en Logros?</label>
    <input type="checkbox" class="establecer form-control" name='fortalezaLogros' id="fortalezaLogros" {% if entity.fortaleza == true %}checked{% endif %}>

      <label>¿Identificar Debilidades en Logros?</label>
    <input type="checkbox" class="establecer form-control" name='debilidadesLogros' id="debilidadesLogros" {% if entity.debilidad == true %}checked{% endif %}>
       {# <a href="{{ path('periodo_edit', { 'id': entity.id }) }}" class="btn btn-small btn-success"><i class="icon-edit"> </i></a>#}
        {{ form(delete_form) }}
   
    
 
 <div id="calculoPromediosAcumulados" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">CÁLCULO DE PROMEDIOS ACUMULADOS</h3>
  </div>
  <div class="modal-body">
    <p><strong>ATENCIÓN: </strong>Por favor no cierre la ventana hasta que termine el cálculo, este proceso podría tardar un poco…</p>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 100%;"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Gracias</button>
  </div>
</div>    

{% endblock %}



{# Halamos el bloque extras de admin.html.twig 
y usamos la etiqueta embed para duplicar un span que por defecto es span6
#}
{% block extras %}
            

            
{% embed 'TemasTemasBundle::span.html.twig' %}
            
{% block spanclase %}
    span7
{% endblock %}        
    
{% block headerspan %}
    <i class="icon-th-list"></i><h3> PORCENTAJES TRABAJOS</h3>
{% endblock %}

{# bloque del contenido, por defecto vacio #}
{% block articlespan %}
    <div class="alert alert-info" style="text-align: center">
        <strong> <h1 id="totalAlert">
            {% if total <= 100 %}
                {{ total|number_format(2) }}
            {% else %}
                Hay un problema, las sumas de los porcentajes no puede ser mayor a 100%
            {% endif %}    
            </h1>%</strong>
    </div>
    <div class="progress progress-striped active" id="totalProgress">
        <div class="bar" style="width: {{ total|number_format(2) }}%;"></div>
    </div>
   
     <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Detalle</th>
                <th>Porcentaje</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entitys in tipoTrabajos %}
            <tr>
                <td>{{ entitys.id }}</td>
                <td>{{ entitys.detalle }}</td>
               
                <td>
               
                    <div style="float:left"> 
                        {% for porce in entities %}
                           {% if porce.tipoTrabajo.id == entitys.id %}
                                <input type="text" value="{{ porce.porcentaje }}" id="consolidado{{ entitys.id }}" style="width:40px" disabled/>
                            {% endif %}  
                        {% endfor %}
                        
                    </div>
                    <div style="float:left"><input id="valPorcentaje{{entitys.id}}" type="number" min="0" max="100" step="10" style="width:60px" onchange="cargarPorcentajes({{ entitys.id }},this.value)" class="entrada"/></td></div>
                   
                    <div class="alert alert-success" id="cargando{{ entitys.id }}" style="display:none" >

                    </div>
                       
    
                        
                  <td>
                      
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
    {% endblock %}
{% endembed %}

    
        
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
{% set ruta = path('service_porcentajes',{'tipotrabajo': "tipoTrabajo",'periodo': entity.id,'porcentaje': "valorporcentaje"}) %}
{% set periodoTotal = entity.id %}
{% set rutaTotal = path('service_porcentajes_total',{'periodo': periodoTotal }) %} 
{% set rutaEstandar = path('service_actualizar_estandar',{'periodo': periodoTotal, 'valor': "checked" }) %}   
{% set rutaEstablecer = path('service_actualizar_establecer',{'periodo': periodoTotal, 'valor': "checked" }) %}  
{% set rutaBoletinDocente = path('service_actualizar_boletindocente',{'periodo': periodoTotal, 'valor': "checked" }) %} 
{% set rutaFortaleza = path('service_actualizar_fortalezas',{'periodo': periodoTotal, 'valor': "checked" }) %} 
{% set rutaDebilidad = path('service_actualizar_debilidades',{'periodo': periodoTotal, 'valor': "checked" }) %} 

    <script type="text/javascript">
         var xmlhttpPorcentajes = new XMLHttpRequest();
         var xmlhttpTotal       = new XMLHttpRequest();
         var xmlhttpEstandar    = new XMLHttpRequest();
         var xmlhttpEstablecer  = new XMLHttpRequest();

         var periodoTotal = "{{ periodoTotal }}"
         
         function cargarPorcentajes(tipoTrabajo,porcentaje){
             ruta = "{{ ruta }}"
            
                    var rutaAjustada = ruta.replace('tipoTrabajo',tipoTrabajo)
                    var rutaAjustada2 = rutaAjustada.replace('valorporcentaje',porcentaje)

                    xmlhttpPorcentajes.onreadystatechange = function() {
                           if (xmlhttpPorcentajes.readyState == 4 && xmlhttpPorcentajes.status == 200) {
                             
                               $(document).ready(function() {
                                   $('#cargando'+tipoTrabajo+'').fadeIn();

                                    setTimeout(function() {
                                           $('#cargando'+tipoTrabajo+'').fadeOut(500);
                                    },2500);

                               });
                               document.getElementById("cargando"+tipoTrabajo).innerHTML = xmlhttpPorcentajes.responseText;
                               
                              
                            if(porcentaje <= 100){
                               cargarTotal() 
                               document.getElementById("consolidado"+tipoTrabajo).value = porcentaje +" %";  
                               
                             }
                           }


                       }
		xmlhttpPorcentajes.open("GET",rutaAjustada2, true);
		xmlhttpPorcentajes.send();
            
         }
         
         function cargarTotal(){
                rutaTotal = "{{ rutaTotal }}"
                var resultado = ""
                xmlhttpTotal.onreadystatechange = function() {
                           if (xmlhttpTotal.readyState == 4 && xmlhttpTotal.status == 200) {
                                document.getElementById("totalAlert").innerHTML = xmlhttpTotal.responseText;
                                document.getElementById("totalProgress").innerHTML = "<div class='bar' style='width:"+xmlhttpTotal.responseText+"%;'></div>";
                                resultado = xmlhttpTotal.responseText;
                                
                                if(resultado > 100){
                                    document.getElementById("totalAlert").innerHTML = "La suma de los porcentajes no puede ser mayor a 100%";
                                }
                                
                           }


                       }
		xmlhttpTotal.open("GET",rutaTotal, true);
		xmlhttpTotal.send();
                return resultado;
         }
         
         function actualizarEstandar(){
              var rutaEstandar = "{{ rutaEstandar }}"
              var chekeado = 0;
              if(document.getElementById("porcentajeEstandar").checked == true){
                  chekeado = 1;
               }
              
              var rutaAjustada = rutaEstandar.replace("checked",chekeado)
              xmlhttpEstandar.onreadystatechange = function() {
                           if (xmlhttpEstandar.readyState == 4 && xmlhttpEstandar.status == 200) {
                                //document.getElementById("totalAlert").innerHTML = xmlhttpEstandar.responseText;
                                //document.getElementById("totalProgress").innerHTML = "<div class='bar' style='width:"+xmlhttpTotal.responseText+"%;'></div>";
                                
                           }


                       }
              xmlhttpEstandar.open("GET",rutaAjustada, true);
	      xmlhttpEstandar.send();
                         
         }
         
         function actualizarEstablecer(){
              var rutaEstandar = "{{ rutaEstablecer }}"
              var chekeado = 0;
              if(document.getElementById("establecer").checked == true){
                  chekeado = 1;
               }
              
              var rutaAjustada = rutaEstandar.replace("checked",chekeado)
              xmlhttpEstablecer.onreadystatechange = function() {
                           if (xmlhttpEstablecer.readyState == 4 && xmlhttpEstablecer.status == 200) {
                               alert("Se han guardado las configuraciones del período");                                
                           }
                       }
              xmlhttpEstablecer.open("GET",rutaAjustada, true);
	      xmlhttpEstablecer.send();
         }
         
    </script>    
    <script>
        //$("[name='porcentajeEstandar']").bootstrapSwitch();   
        //$("[name='establecer']").bootstrapSwitch();   
    </script>

<script>
$(document).ready(function(){
    var rutaBoletinDocente = "{{ rutaBoletinDocente }}";
    var rutaFortaleza = "{{ rutaFortaleza }}";
    var rutaDebilidad = "{{ rutaDebilidad }}";
    var chekeado = 0;

    if( $( "[name='establecer']" ).attr( 'checked' ) ) 
    {
    //alert('Seleccionado');
    $( '.entrada' ).prop( 'disabled',true );
    }
       
    $( "[name='establecer']").click(function() 
    {  
         if( $("[name='establecer']" ).is(':checked')) 
         {  
            $( '.entrada' ).prop( 'disabled',true );
         }
         else 
         {  
         $('.entrada').prop('disabled',false);
         }  
    });  

    $('#boletinDocente').change(function()
    {
        if( $( "#boletinDocente" ).is( ':checked' )) 
        {  
        chekeado = 1;  
        }
        else
        {  
        chekeado = 0;  
        }   

        var rutaBoletinDocente2 = rutaBoletinDocente.replace("checked",chekeado); 

        $.get(rutaBoletinDocente2,function(data){

        }).done(function(){
          alert("Guardado correctamente");
        }).fail(function(){
          alert("Ha ocurrido un error, revise su conexión o verifique con nuestro Soporte");
        });
    })

    $('#fortalezaLogros').change(function()
    {
        if( $( "#fortalezaLogros" ).is( ':checked' )) 
        {  
        chekeado = 1;  
        }
        else
        {  
        chekeado = 0;  
        }   

        var rutaFortaleza2 = rutaFortaleza.replace("checked",chekeado); 

        $.get(rutaFortaleza2,function(data){

        }).done(function(){
          alert("Guardado correctamente");
        }).fail(function(){
          alert("Ha ocurrido un error, revise su conexión o verifique con nuestro Soporte");
        });
    })

    $('#debilidadesLogros').change(function()
    {
        if( $( "#debilidadesLogros" ).is( ':checked' )) 
        {  
        chekeado = 1;  
        }
        else
        {  
        chekeado = 0;  
        }   

       var rutaDebilidad2 = rutaDebilidad.replace("checked",chekeado); 

        $.get(rutaDebilidad2,function(data){

        }).done(function(){
          alert("Guardado correctamente");
        }).fail(function(){
          alert("Ha ocurrido un error, revise su conexión o verifique con nuestro Soporte");
        });
    })

});
</script>
 
{% set validacionPeriodo = '' %}
{% for parametro in dato if parametro.periodoEscolar.id == entity.periodoEscolar.id %} 
     {% set validacionPeriodo = 'true' %} 
{% else %}
     {% set validacionPeriodo = 'false' %}
{% endfor %}


{% set validacionPeriodoActual = '' %}
{% set periodosAnteriores = '' %}
{% for entitys in periodos if entitys.id == entity.id  %} 
  {% set validacionPeriodoActual = 'igual' %}
  <h4>Mismo período</h4>
{% else %}
   {% if ("now"|date("m") - entity.fechaFin|date("m") ) >= 1  %}
    {% set periodosAnteriores = 'bloquer' %}
   {% else %}
   {% endif %}
{% endfor %}


{% if periodosAnteriores == "bloquer" %}
     {% set validacionPeriodo = 'false' %}
{% endif %}

{% set rutaCalculo = path('service_promedios_acumulados',{'periodoRecibido': entity.id }) %}
{% set cerrarPeriodo = path('service_cerrar_periodo', {'periodo': entity.id, 'estado': 'cerradodefecto'}) %}
<script type="text/javascript">
var validacionPeriodo = "{{ validacionPeriodo }}";
var rutaCalculo = "{{ rutaCalculo }}";
var cerrarPeriodo = "{{ cerrarPeriodo }}";

(function(){
  if(validacionPeriodo == 'false'){
    $('input').attr('disabled',true);
    $('button').attr('disabled',true);
    $('#cerrarPeriodo').hide();
    $('#abrirPeriodo').hide();
    $('#calcularAcumulado').hide();
  }
})();


    $('#cerrarPeriodo').click(function(event){
        event.preventDefault();
        if(confirm("ATENCIÓN: ¿Está seguro de cerrar el período? esta acción bloqueará las planillas de los docentes...")){
            $.cerrarPeriodo('cerrar');
        }else{
            return false;
        }
    });

    $('#abrirPeriodo').click(function(event){
        event.preventDefault();
        if(confirm("ATENCIÓN: ¿Está seguro de abrir el período? esta acción desbloqueará las planillas de los docentes...")){
            $.cerrarPeriodo('abrir');
        }else{
            return false;
        }
    });

    $.cerrarPeriodo = function(estado){
       
        var cerrarPeriodoAjustado = cerrarPeriodo.replace('cerradodefecto',estado);
       
        $.get(cerrarPeriodoAjustado,function(data){

        }).done(function(){
            
            if(estado == 'cerrar'){
                alert("ATENCIÓN: Se ha cerrado el período, las planillas del respectivo período se han cerrado");
                 $('#calcularAcumulado').attr('disabled',false);
                 $('#calcularAcumulado').removeClass('disabled');
                 $('#cerrarPeriodo').hide();
                 $('#abrirPeriodo').show();
            }else if(estado == 'abrir'){
                alert("ATENCIÓN: Se abierto el período, ahora los docentes pueden editar las planillas si aún están en las fechas del período");
                $('#abrirPeriodo').hide();
                $('#cerrarPeriodo').show();
                $('#calcularAcumulado').attr('disabled',true);
                $('#calcularAcumulado').addClass('disabled');
            }
           
        });
    }

    $('#calcularAcumulado').click(function(event){
        event.preventDefault();
        if($(this).hasClass('disabled')){
            return false;
        }else{
            if(confirm("ATENCIÓN: ¿Está seguro de calcular los promedios acumulados?")){
                $('#calculoPromediosAcumulados').modal('show');
                $.get(rutaCalculo,function(data){

                }).done(function(){
                    alert("Promedios acumulados calculados correctamente");
                    $('#calculoPromediosAcumulados').modal('hide');
                }).fail(function(){
                    $('#calculoPromediosAcumulados').modal('hide');
                    alert("Ha habido un error al procesar la solicitud");
                });
                
            }else{
                return false;
            }
         }
    })
</script>

{% endblock %}    