{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
    <h3>Lista de Asignaturas</h3>
{% endblock %}

{% block article %}

<ul>
        <li>
            <a href="{{ path('asignatura_new') }}">
                <i class="icon-plus-sign"></i>
                Crear nueva Asignatura
            </a>
        </li>
    </ul>
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre</th>
                <th>Tipo Asignatura</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.tipoAsignatura }}</td>
                <td>
                
                        <a href="{{ path('asignatura_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
    {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  


