{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Asignatura</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo Asignatura</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.tipoAsignatura }}</td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('asignatura_edit', { 'id': entity.id }) }}" class="btn btn-small btn-success"><i class="icon-edit"> </i></a>
        {{ form(delete_form) }}
    </li>
    <li>
        <a href="{{ path('asignatura') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    </li>
</ul>
{% endblock %}