{% block form_row %}
{% spaceless %}
    <div class="control-group">
        <fieldset>
            <div class="controls">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
            </div>
        </fieldset>
    </div>
{% endspaceless %}
{% endblock form_row %}
