{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
<h2>Editar Notas</h2>
 <div class="col-xs-5">
{{ form(edit_form) }}

<a href="{{ path('ColegioDocente_matriculas', {'id': grupo, 'asignatura': asignatura }) }}" class="btn btn-success btn-sm"> <i class="icon-arrow-left"> Volver a la lista</i></a> 
</div>
{% endblock %}

    
