{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
<h3>Lista de Notas</h3>

    {% set documento = '123' %}
    <div class="span6">
        <input type="text" name="search" placeholder="Documento Estudiante" />
        
        {# <a href="{{ path('ConsultarEstudiante') }}">ASD</a> #}
    </div>
    <div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estudiante</th>
                
                <th>Calificación</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{#{ entity.GrupoEstudiante }#}</td>
               
                <td>{{ entity.calificacion }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('notadocente_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div>
        <ul>
        <li>
            <a href="{{ path('notadocente_new') }}">
                <i class="icon-plus-sign"></i>
                Registrar Nota
            </a>
        </li>
    </ul>

{% endblock %}
