{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}


    <strong>Registrar Notas para: {{ GrupoEstudiante.idEstudiante|title }}</strong>


{% if ("now"|date("m/d/Y") >=  periodoactual.fechaFin|date_modify("-2 weeks")|date("m/d/Y")) and ("now"|date("m/d/Y") <= periodoactual.fechaFin|date("m/d/Y")) %}

<div class="alert alert-success">
		Tendrás habilitadas las calificaciones desde {{ periodoactual.fechaFin|date_modify("-2 weeks")|date("d, M-Y") }} hasta {{ periodoactual.fechaFin|date("d, M-Y") }}
	</div>

{% if verificacion == null %}
{# Vamos a verificar si hay boletines en el periodo actual para este estudiante en este grupo #}
	
	{% if gruposBoletines == null %}
		
		<div class="alert alert-success alert-dismissable">
		No hay boletines cargados en este momento, comunícate con Rectoría
		</div>
    
	{% else %}
	
	{#
		<a href="#div1" class="MO btn btn-success btn-sm"><i class="fa fa-bar-chart-o"></i> Mostrar Final</a>  <a href="#div2" class="MO btn btn-warning btn-sm"><i class="fa fa-edit"></i> Mostrar Logros</a>
		#}	

		{% if parametro.id == 1 %}	
				{# ACa va la cosa por materia definitiva #}	
				{# <div id="div1" class="oculto"> #}
					{{ form(form) }}

				{#</div> #}
		{% else %}

						{# Aca va la cosa por logros #}
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>No.</th>
						<th>Categoría</th>
						<th>Descripcion</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for entity in gruposBoletines %}
						{% for logro in entity.boletin.logros %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ logro.categoria }}</td>
								<td>{{ logro.descripcion}}</td>
								<td>
														
									{% for cal in logro.notalogro if cal.matricula.id == matricula %}
										<a href="#" id="nota{{ cal.logro.id }}" class="btn btn-default btn-sm">{{ cal.calificacion|number_format(1) }}</a>
										<input type="number"  min="0" max="5" step="0.1" style="width: 40px" id="{{ cal.logro.id }}" class="editarNota" />
										<div id="mensaje{{ cal.logro.id }}"></div>	
									{% else %}	
										<input name="notas" type="number" min="0" max="5" step="0.1" style="width: 40px" id="logro{{ logro.id }}" class="nuevaCalificacion"/>
									{% endfor %}
							
								
								</td>
							</tr>
						 {% endfor %}       
					{% endfor %}
				</tbody>
			</table>
	
		{% endif %}									 
    {% endif %}
{% else %}

								{% for entity in verificacion %}

									<hr>
										Calificación <h1>{{ entity.calificacion|number_format(1) }}</h1> 
									<hr>	
										  <a href="{{ path('notadocente_edit', { 'id': entity.id, 'matricula': matricula, 'asignatura': asignatura, 'grupo': grupo }) }}" class="btn btn-warning btn-sm">Editar </i></a>
									<hr>
												{# Aca va la cosa por logros #}
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>No.</th>
						<th>Categoría</th>
						<th>Descripcion</th>
						{% if periodoactual.fortaleza %}<th>Fortalezas</th>{% endif %}
						{% if periodoactual.debilidad %}<th>Debilidades</th>{% endif %}
						{% if periodoactual.tipoCalificacion.id == 2  %}<th>Acciones</th>{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for entity in gruposBoletines %}
						{% for logro in entity.boletin.logros %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ logro.categoria }}</td>
								<td>{{ logro.descripcion}}</td>
								
									{% if periodoactual.fortaleza %}
										<td><input type="checkbox" class="fortaleza form-control" id="fortaleza{{ logro.id }}" 
										{% for cal in logro.notalogro if cal.matricula.id == matricula %}
											{% if cal.fortaleza == true %}checked{% endif %}
											{% endfor %} />
										</td>
									{% endif %}
								
									{% if periodoactual.debilidad %}
										<td><input type="checkbox" class="debilidad form-control"  id="{{ logro.id }}"
										{% for cal in logro.notalogro if cal.matricula.id == matricula %}
											{% if cal.debilidad == true %}checked{% endif %}
										{% endfor %} />
										</td>
									{% endif %}
								
								{% if periodoactual.tipoCalificacion.id == 2  %}<td>
														
										{% for cal in logro.notalogro if cal.matricula.id == matricula %}
																																									
											<a href="#" id="nota{{ cal.logro.id }}" class="btn btn-default btn-sm">{{ cal.calificacion|number_format(1) }}</a>
											<input type="number"  min="0" max="5" step="0.1" style="width: 40px" id="{{ cal.logro.id }}" class="editarNota" />
											<div id="mensaje{{ cal.logro.id }}"></div>	
										{% else %}	

												<input name="notas" type="number" min="0" max="5" step="0.1" style="width: 40px" id="logro{{ logro.id }}" class="nuevaCalificacion"/>
																				
									    {% endfor %}
							
								
								</td>
								{% endif %}
							</tr>
						 {% endfor %}       
					{% endfor %}
				</tbody>
			</table>


								{% else %}
									No hay nada	
								{% endfor %}


	

{% endif %}


{% else %}

	<div class="alert alert-success">
		Tendrás habilitadas las calificaciones desde {{ periodoactual.fechaFin|date_modify("-2 weeks")|date("d, M-Y") }} hasta {{ periodoactual.fechaFin|date("d, M-Y") }}
	</div>

{% endif %}

{#<a href="{{ path('ColegioDocente_matriculas', {'id': grupo, 'asignatura': asignatura }) }}" class="btn btn-success btn-sm"> <i class="icon-arrow-left"> Volver a la lista</i></a> #}
             
{% endblock %}
{% block javascripts %}
{{ parent() }}

{% set rutaLogros = path('service_notalogro_docente',{ 'matricula': matricula,'logro':"Logro",'calificacion': "Calificacion" }) %} 
{% set rutaFortaleza = path('service_notalogro_fortaleza',{ 'matricula': matricula,'logro':"Logro",'fortaleza': "Fortaleza" }) %} 
{% set rutaDebilidad = path('service_notalogro_debilidad',{ 'matricula': matricula,'logro':"Logro",'debilidad': "Debilidad" }) %} 


<script>

var rutaLogros = "{{ rutaLogros }}";
var rutaFortaleza = "{{ rutaFortaleza }}";
var rutaDebilidad = "{{ rutaDebilidad }}";

$(document).ready(function(){
	
	
	
	$('.editarNota').change(function(){
		var id = $(this).attr('id');
		var calificacion = $(this).val();
		$('#nota'+id).text(calificacion);
		$.insertarNotaLogro(id,calificacion);

	});

	$('.nuevaCalificacion').change(function(){
		//// preparamos la insersion
		var id1 = $(this).attr('id');
		var id = id1.replace("logro","");
		var calificacion = $(this).val();
		$.insertarNotaLogro(id,calificacion);

	});

	$('.debilidad').change(function(){
		var id = $(this).attr('id');
		var marcado = $(this).prop("checked");

		if( $(this).is( ':checked' )) 
        {  
       		chekeado = 1;
			$('#fortaleza'+id).attr('disabled','disabled');

        }
        else
        {  
	        chekeado = 0;
	        $('#fortaleza'+id).attr('disabled',false);
			console.log("Desmarcado");  
        }   


        var rutaDebilidad2 = rutaDebilidad.replace("Debilidad",chekeado); 
        var rutaDebilidad3 = rutaDebilidad2.replace("Logro",id); 

        $.get(rutaDebilidad3,function(data){
        	
        });
		
	});


	$('.fortaleza').change(function(){
		var id1 = $(this).attr('id');
		var id = id1.replace("fortaleza","");
		var marcado = $(this).prop("checked");

		if( $(this).is( ':checked' )) 
        {  
        chekeado = 1;
			$('#'+id).attr('disabled','disabled');

        }
        else
        {  
	        chekeado = 0;
	        $('#'+id).attr('disabled',false);
			console.log("Desmarcado");  
        }   
        var rutaFortaleza2 = rutaFortaleza.replace("Fortaleza",chekeado); 
        var rutaFortaleza3 = rutaFortaleza2.replace("Logro",id); 

        $.get(rutaFortaleza3,function(data){

        });
		
	});
});

$.insertarNotaLogro = function(logro,calificacion){
		//var rutaLogros2 = rutaLogros.replace("Matricula",matricula);
		var rutaLogros3 = rutaLogros.replace("Logro",logro);
		var rutaLogros4 = rutaLogros3.replace("Calificacion",calificacion);
		if(calificacion>5){
			$('#mensaje'+logro).html("<i class='fa fa-times'></i> Error");
		}else if(calificacion<0){
			$('#mensaje'+logro).html("<i class='fa fa-times'></i> Error");
		}else{
			$.get(rutaLogros4,function(data){
				console.log("calificando a un chico");
				$('#mensaje'+logro).html("<i class='fa fa-refresh fa-spin'></i>");
				$('#mensaje'+logro).fadeOut( 1600 );
			});
		}
	
}

</script>
{% endblock %}