{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Nota</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Matricula</th>
                <th>Boletin</th>
                <th>Calificacion</th>
                <th>Fallas</th>
                <th>Descripcion</th>
                <th>Fecha</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.matricula}}</td>
                <td>{{ entity.grupoBoletin}}</td>
                <td>{{ entity.calificacion }}</td>
                <td>{{ entity.fallas }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('notadocente_edit', { 'id': entity.id, 'matricula': matricula, 'asignatura': asignatura, 'grupo': grupo }) }}" class="btn btn-small btn-success"><i class="icon-edit"> Editar</i></a>
     {#  {{ form(delete_form) }}
    </li> #}
    <li>
		<a href="{{ path('ColegioDocente_matriculas', {'id': grupo, 'asignatura': asignatura }) }}" class="btn btn-success btn-sm"> <i class="icon-arrow-left"> Volver a la lista</i></a> 
    </li>
</ul>
{% endblock %}

