{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Listado Porcentaje Trabajo</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>TIPO DE TRABAJO</th>
                <th>Fecha creación</th>
                <th>Porcentaje</th>
                <th>Estado</th>
                <th>Fecha modificación</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('porcentaje_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.tipoTrabajo }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.porcentaje }} %</td>
                <td>{{ entity.estado }} </td>
                <td>{% if entity.fechaModificacion %}{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                        <a href="{{ path('porcentaje_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm">Mostrar</a>
                        <a href="{{ path('porcentaje_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">Editar</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('porcentaje_new') }}" class="btn btn-primary">
                Crear nueva asignación de porcentaje
            </a>
        </li>
    </ul>
    {% endblock %}
