{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Asignación de Porcentaje Trabajo</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('porcentaje') }}" class="btn btn-primary">
            Volver al Listado
        </a>
    </li>
</ul>
{% endblock %}
