{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Porcentaje Trabajos</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>No.</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha Creación</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Porcentaje</th>
                <td>{{ entity.porcentaje }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Fecha modificación</th>
                <td>{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('porcentaje') }}" class="btn btn-primary bt-sm">
            Volver al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('porcentaje_edit', { 'id': entity.id }) }}" class="btn btn-success">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
