{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Localidad list</h1>
            <a href="{{ path('localidad_new') }}">
                Crear nuevo
            </a>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre localidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('localidad_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombreLocalidad }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('localidad_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('localidad_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
