{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
<hr>        
<div class="alert">
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
<hr>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
