{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}
    
{{ matricula.idGrupo.nombre }} con el profesor(a)  {{ matricula.idGrupo.idDocenteResponsable }}<br>
<a href="{{ path('colegio_estudiante_tareas_nuevas') }}" class="btn btn-info btn-sm"> Ver tareas de este Período</a>    
<table class="table">
    <thead>
    <th>No.</th>
    <th>Asignatura</th>
    <th>Acciones</th>
    </thead>
    <tbody>
        {% for asignatura in asignaturas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ asignatura.idAsignatura }}</td>
                <td><a href="{{ path('colegio_estudiante_trabajos',{'grupoAsignatura': asignatura.id, 'periodo': periodo.id }) }}" class="btn btn-success"><i class="fa fa-list-alt"></i> Tareas</a></td>

            </tr>
        {% endfor %}    
    </tbody>
</table>

{% endblock %}    