{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}
<div class="row">
<div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Usuarios {{ grupo }}</h3>
                            </div>



                            <div class="panel-body">


<div class="product-head"> 
  <strong>Buscar</strong> 
    <div id="form"></div>
    <br>
    <div class="clear"></div>

                                <div class="list-group" id="list">
									
								<em>Administradores</em>
								 {% for administrador in administradores %}
	                                   <li style="list-style:none;" class="listadoAdmin" id="admin{{ administrador.id }}"> 
	                                    <a href="#" class="list-group-item">
	                                        <span class="badge">0</span>
	                                        <i class="fa fa-bell"></i> {{ administrador.idColegio|title }}
	                                    </a>
	                                    </li>
                                   {% endfor %}
                                 

                                <hr>



								<em>Docentes</em>
								 {% for docente in docentes %}
	                                   <li style="list-style:none;" class="listadoDocentes" id="{{ docente.idDocente.id }}"> 
	                                    <a href="#" class="list-group-item">
	                                        <span class="badge">0</span>
	                                        <i class="fa fa-book"></i> {{ docente.idDocente|title }} ---<em>{{ docente.idAsignatura|capitalize }}</em>
	                                    </a>
	                                    </li>
                                   {% endfor %}
                                 

                                <hr>
                                <em>Compañeros</em>
                                  {% for estudiante in estudiantes %}
	                               	{% if  estudiante.idEstudiante == app.user %}

	                               	{% else %}   
	                                   <li style="list-style:none;" class="listadoEstudiantes" id="estudiante{{ estudiante.idEstudiante.id }}"> 
	                                    <a href="#" class="list-group-item">
	                                        <span class="badge">0</span>
	                                        <i class="fa fa-users"></i> {{ estudiante.idEstudiante|title }}
	                                    </a>
	                                    </li>
                                   {% endif %}
                                   {% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </div>




</div>

<div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Mensajes <div id="persona"></div></h3>
                            </div>



                            <div class="panel-body">
                            		<div id="global" style="height: 250px;width: auto;padding: 10px;	border: 1px solid #E0DFDF;	background: #EEEDED;overflow-y: scroll;">
                            		<div id="resultados"></div>
                            		</div>

                            		<div>
                            		    <input type="asunto" class="form-control" placeholder="Escribe el asunto" id="asunto"/>
                            			<textarea id="respuesta" placeholder="Escribe el mensaje asegurate de no usar ningun simbolo..." class="form-control" rows="3"></textarea>
                            			<button class="btnEnviar btn btn-success btn-lg btn-block"> Enviar</button>
                            		</div>
							 </div>
                        </div>
</div>



{% endblock %}

{% block javascripts %}
{{ parent() }}

{% set rutaMensajesDocente = path('service_estudiantes_mensajes_docentes',{'docente':"Docente"}) %}
{% set rutaMensajesDocenteNuevos = path('service_estudiantes_mensajes_docentes_nuevos',{'docente':"Docente"}) %}
{% set rutaMensajesADocente = path('service_mensaje_estudiante_docente',{'docente':"Docente",'mensaje':"Mensaje",'asunto':"Asunto"}) %}
{% set rutaNuevosMensajesProfe = path('service_nuevos_mensajes_docentes',{'docente':"Docente"}) %}


<script type="text/javascript">
	
var rutaMensajesDocente = "{{ rutaMensajesDocente }}";
var rutaMensajesDocenteNuevos = "{{ rutaMensajesDocenteNuevos }}";
var rutaMensajesADocente = "{{ rutaMensajesADocente }}";
var rutaNuevosMensajesProfe = "{{ rutaNuevosMensajesProfe }}";


$(document).ready(function(){
	$('.listadoAdmin').click(function(){
		event.preventDefault();
		alert("Estamos trabajando en esta funcionalidad");
	});

	$('.listadoDocentes').click(function(){
		event.preventDefault();
		  var id = $(this).attr('id');
		  $.mensajesDocentes(id);
					setInterval(function() {
					   $.mensajesDocentesNuevos(id);			                
				    }, 30000);
	});

	$('.listadoEstudiantes').click(function(){
		event.preventDefault();
		alert("Estamos trabajando en esta funcionalidad");
	});

					setInterval(function() {
					       $.recorrerDocentes();      
				    }, 30000);

});


$.recorrerDocentes = function(){

	 $('.listadoDocentes').each(function(indice, elemento) {
	 	var docente = $(elemento).attr('id');

		var rutaNuevosMensajesProfe2 = rutaNuevosMensajesProfe.replace("Docente",docente);
		$.get(rutaNuevosMensajesProfe2,function(data){
			
			if(data == "0"){
					$('#'+docente+' a span').addClass('badge');
					$('#'+docente+' a span').text(data);
			}else{
					$('#'+docente+' a span').hide('slow');
					$('#'+docente+' a span').show('slideDown');

					$('#'+docente+' a span').addClass('badge alert-danger');
					$('#'+docente+' a span').text(data);
			}
		})
		// console.log('El elemento con el índice '+indice+' contiene '+$(elemento).attr('id'));
	 });  
}

$('.btnEnviar').click(function(){
	event.preventDefault();
	if($('#respuesta').val()=="" || $('#asunto').val()==""){
		alert("Debes escribir algo");
	}else{ 

		$.mensajesADocentes($(this).attr("id"),$('#respuesta').val(),$('#asunto').val());
		$('#respuesta').val("");
		$('#asunto').val("");
	}
})


$.mensajesADocentes = function(docente,mensaje,asunto){
	var rutaMensajesADocente2 = rutaMensajesADocente.replace("Docente",docente);
	var rutaMensajesADocente3 = rutaMensajesADocente2.replace("Mensaje",mensaje);
	var rutaMensajesADocente4 = rutaMensajesADocente3.replace("Asunto",asunto);
	$.get(rutaMensajesADocente4,function(data){
		$.mensajesDocentes(docente);
		
	});
}


$.mensajesDocentes = function(docente){
	var rutaMensajesDocente2 = rutaMensajesDocente.replace("Docente",docente);

	 $('#resultados').html("");
	 $('.btnEnviar').removeAttr('id');
	 $('.btnEnviar').attr('id',docente);

	 $.ajax({
             url: rutaMensajesDocente2,
             dataType: "text",
             success: function(data) {

                 var json = $.parseJSON(data);

				 for (var i in json) {

                 	if(json == "No hay mensajes"){
							$('#resultados').text("No hay Mensajes");
                 	}else{

				                 	if(!json[i]['identDocenteDestinatario']) {
					                 	

				                 		$('#resultados')
					                 		.append("<div id="+json[i]['id']+"><strong>"+json[i]['nombreDocente']+" "+json[i]['apellidoDocente']+"</strong><br>")
					                 		.append("<strong>"+json[i]['asunto']+"</strong>")
					                 		.append(" "+json[i]['fechaModificacion']['date']+"")
					                 		.append("<br>")
					                 		.append("<i>"+json[i]['mensaje']+"</i></div><hr>");

					                 	
				                 	}else if(!json[i]['identEstudianteDestinatario']){
										
					                 	$('#resultados')
					                 		.append("<div class='text-right'><strong> Yo</strong><br></div>")
					                 		.append("<div class='text-right'><strong>"+json[i]['asunto']+"</strong></div>")
					                 		.append("<div class='text-right'> "+json[i]['fechaModificacion']['date']+"</div>")
					                 		.append("<div class='text-right'><i>"+json[i]['mensaje']+"</i></div><hr>");

				                 	}
										

										
				                 	

				                 }


                 }
             }
          });

}

	$.mensajesDocentesNuevos = function(docente){
	var rutaMensajesDocenteNuevos2 = rutaMensajesDocenteNuevos.replace("Docente",docente);

	 //$('#resultados').html("");
	 //$('.btnEnviar').removeAttr('id');
	 //$('.btnEnviar').attr('id',docente);

	 $.ajax({
             url: rutaMensajesDocenteNuevos2,
             dataType: "text",
             success: function(data) {

                 var json = $.parseJSON(data);

				 for (var i in json) {

                 	if(json == "No hay mensajes"){
							//$('#resultados').text("No hay Mensajes");
                 	}else{

				                 	if(!json[i]['identDocenteDestinatario']) {
					                 	

				                 		$('#resultados')
					                 		.prepend("<div id="+json[i]['id']+"><strong>"+json[i]['nombreDocente']+" "+json[i]['apellidoDocente']+"</strong><br><strong>"+json[i]['asunto']+"</strong> "+json[i]['fechaModificacion']['date']+"<br><i>"+json[i]['mensaje']+"</i></div><hr>");

					                 	
				                 	}
				                 	
				                 }


                 }
             }
          });

}





</script>









	<script type="text/javascript">
		(function ($) {
  // custom css expression for a case-insensitive contains()
  jQuery.expr[':'].Contains = function(a,i,m){
      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
  };
 
  function filterList(header, list) { 
  // header is any element, list is an unordered list
    // create and add the filter form to the header
    var form = $("<form>").attr({"class":"filterform","action":"#"}),
        input = $("<input>").attr({"class":"filterinput form-control","type":"text"});
    $(form).append(input).appendTo(header);
 
    $(input)
      .change( function () {
        var filter = $(this).val();
        if(filter) {
 	  
		  $matches = $(list).find('a:Contains(' + filter + ')').parent();
		  $('li', list).not($matches).slideUp();
		  $matches.slideDown();
		    
        } else {
          $(list).find("li").slideDown();
        }
        return false;
      })
    .keyup( function () {
        // fire the above change event after every letter
        $(this).change();
    });
  }
 
 
  //ondomready
  $(function () {
    filterList($("#form"), $("#list"));


  });
}(jQuery));

	</script>

{% endblock %}