{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}

<h1>Circulares </h1>
 <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Destinatarios</th>
                <th>Enviada por</th>
                <th>Titulo</th>
                <th>Fecha creación</th>
                <th>Ultima Modificación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="fila{{ entity.id }}">
                <td><a href="{{ path('circulares_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>
                    {% for destino in entity.destinatarios %}
                         {{ destino }}<br>
                    {% endfor %}
                </td>
                <td>  
                                            {% if (entity.docente == null) %}
                                                Administrador
                                            {% else  %}
                                                Profe: {{ entity.docente|title  }}
                                            {% endif %}
                </td>
                <td>{{ entity.titulo }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaVisita %}{{ entity.fechaVisita|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    
                       
  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal{{ entity.id }}" id="{{ entity.id }}"> Ver </button>
<!-- Modal -->
<div class="modal fade" id="myModal{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-lg-6">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>Circular: {{ entity.titulo }}</strong></h4>
       Para:
        {% for destino in entity.destinatarios %}
                         {{ destino.nombre }} - 
                    {% endfor %}
      </div>
      <div class="modal-body">
      <h3>Detalle</h3>
     Escrita por
      {% if (entity.docente == null) %}
                                                Administrador
                                            {% else  %}
                                                Profe {{ entity.docente|title  }}
                                            {% endif %}
      <hr>
    
      {{ entity.detalle|raw }}  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Gracias</button>
        
      </div>
    </div>
  </div>
</div>         
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}
{% block javascripts %}

{{ parent() }}

{% set idUsado = circular  %}

	<script type="text/javascript">
	$(document).ready(function(){
		var idUsado1 = "{{ idUsado }}";
		if(idUsado1 === ""){

            
        }else{
            $('#myModal'+"{{ circular }}").modal('show');
            $('#fila'+"{{ circular }}").addClass("success")
            

        }

        $('button').click(function(){
           var id = $(this).attr("id");
           
           $('#fila'+id).addClass("success")
       })
	});
	</script>
{% endblock %}