{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}


<h1>Noticias Plataforma </h1>



<div class="row">
  <div class="col-sm-6 col-md-4">

  	<p>Contáctanos @tucompualdia, facebook.com/tucompualdia Tel: 7433563 en Tunja, o al 318 2951734</p> 
<a class="twitter-timeline"  href="https://twitter.com/tucompualdia"  data-widget-id="467845563124183040">Tweets por @tucompualdia</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


  </div>
  <div class="col-sm-6 col-md-6">
    <a href="{{ path('colegio_estudiante_tareas_nuevas') }}" class="btn btn-info btn-sm">Revisar Tareas Periodo</a>
  	<hr>
  	<div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Ultimas circulares</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                {% for entity in entities %}
                                    <a href="{{ path('colegio_estudiante_circulares',{ 'circular':entity.id }) }}" class="list-group-item">
                                        <span class="badge">{{ entity.fechaVisita|date('d, M') }}</span>
                                        <i class="fa fa-fw fa-calendar"></i> <strong>{{ entity.titulo }}</strong>  
                                        <em>
                                            {% if (entity.docente == null) %}
                                                por Administrador
                                            {% else  %}
                                                por {{ entity.docente|title  }}
                                            {% endif %}
                                        </em>

                                    </a>
                                {% endfor %}
                                </div>
                                <div class="text-right">
                                    <a href="{{ path('colegio_estudiante_circulares') }}">Ver todas las circulares <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
  </div>
</div>

{% endblock %}
