{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}

<h1>Juegos </h1>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://upload.wikimedia.org/wikipedia/en/9/94/Duolingo_logo.png" alt="Logo Duolingo" width="100" height="100">
      <div class="caption">
        <h3>Idiomas</h3>
        <p>Si quieres aprender idiomas, pero no se te da, o te cuesta trabajo, te recomendamos esta aplicación, es super fácil, puedes registrarte con tu facebook o con un correo electrónico, competir con tus amigos y sobretodo, aprender...</p>
        <p><a href="https://www.duolingo.com/" class="btn btn-primary" role="button" target="_blank">Web</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.ajedrezdeataque.com/04%20Articulos/00%20Otros%20articulos/Salud/Foto3.jpg" alt="Logo Ajedrez" width="100" height="100">
      <div class="caption">
        <h3>Ajedrez</h3>
        <p>Si eres de los que gustan de una buena partida de Ajedrez, acá tenemos algo para ti...</p>
        <p><a href="http://www.minijuegostop.com.mx/items/estrategia/0/14444_ajedrez-sangriento/" class="btn btn-primary" role="button" target="_blank">Web</a></p>
      </div>


    </div>
  </div>







  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.google.com/url?sa=i&source=images&cd=&docid=YAyzdOhWtT2PEM&tbnid=Q2VaKPb8dOWaVM&ved=0CAUQjBw&url=http%3A%2F%2Fwww.plusarts.es%2Fstyle%2Fimages%2Fart%2Fjuegos%2520de%2520mesa%25201.jpg&ei=__h6U9OnGoOWqAbJh4CADA&psig=AFQjCNE8qcOuoB-rilOf0MV6o9xOK5V6Sw&ust=1400654463541589" alt="Logo Duolingo" width="100" height="100">
      <div class="caption">
        <h3>Muchos Mini Juegos</h3>
        <p>En esta página encontrarás cientos de juegos para distraerte un poco, recuerda, ¡Un Poco! </p>
        <p><a href="http://www.minijuegostop.com.mx/" class="btn btn-primary" role="button" target="_blank">Jugar</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.google.com/url?sa=i&source=images&cd=&docid=8OnJC0nUlornvM&tbnid=KQbQXeJ-eMhi7M&ved=0CAUQjBw&url=http%3A%2F%2F3.bp.blogspot.com%2F-CpxNOxXlhhQ%2FUbdziPXctZI%2FAAAAAAAAGCw%2FLc3xNslB-9k%2Fs1600%2Fjuegos-friv.png&ei=MPl6U6WeEsuRqgaAjYDoDw&psig=AFQjCNGhGYNvEWLRiqsyWS7_xTM41t56FQ&ust=1400654512383354" alt="Logo Duolingo" width="100" height="100">
      <div class="caption">
        <h3>Juegos FRIV</h3>
        <p>No puede faltar en ninguna lista de Juegos.</p>
        <p><a href="http://friv.com/" class="btn btn-primary" role="button" target="_blank">Jugar</a></p>
      </div>
    </div>
  </div>
 

</div>


{% endblock %}
