{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}

<h1>Mis matrículas </h1>
  <div class="table-responsive">
 <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                
                <th>Matricula</th>
                
                <th>Fecha Matricula</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>Notas</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.idGrupo }} ({{ entity.id }})</td>
				<td>{% if entity.fechaMatricula %}{{ entity.fechaMatricula|date('d-M,Y H:i:s') }}{% endif %}</td>
				<td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d-M,Y') }}{% endif %}</td>
				<td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d-M,Y') }}{% endif %}</td>
				<td><i class="fa fa-calendar"></i> {% if entity.aprobado %} Aprobado {% else %} No aprobado {% endif %}</td>
                <td>{{ entity.descripcionAprobacion }} 
                   {% if entity.fechaAprobacion %} {{ entity.fechaAprobacion|date('d-M-Y H:i:s') }} {% endif %}
                </td>
                <td> 
                 <a href="#" role="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal{{ entity.id }}">Resumen</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% for matri in entities %}

<div class="modal fade" id="myModal{{ matri.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ matri.periodoEscolar|upper }} Nivel: {{ matri.idGrupo.idNivel|upper }}</h4>
      </div>
      <div class="modal-body">
       <table class="table table-bordered">
       <thead>
           <tr>
               <th>Asignatura</th>
               <th>Docente</th>
               <th>Promedio acumulado</th>
               <th>Descripción</th>
           </tr>
       </thead>
       <tbody>
       {% for inscripcion in inscripciones if inscripcion.matricula.id == matri.id and inscripcion.grupoAsignatura.isActive == true %}
            <tr> 
                <td>{{ inscripcion.grupoAsignatura.idAsignatura }}</td>   
                <td>{{ inscripcion.grupoAsignatura.idDocente }}</td>   
                <td style="text-align: center;">{{ inscripcion.acumulado|number_format(1) }}</td>
                <td>{{ inscripcion.descripcionAcumulado }} 
                {% if inscripcion.fechaAcumulado %}
                    ({{ inscripcion.fechaAcumulado|date('d-M-Y H:i:s') }})
                {% endif %}
                </td>
            </tr>    
       {% endfor %}
       </tbody>
       </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Gracias</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}
