{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}

<h1>Reporte </h1>


 {% if pension == true %}

    <div class="alert alert-dismissable alert-success">

    <button class="close" data-dismiss="alert" type="button"></button>
    <strong></strong>

 {% for item in items %}
  <span class="{{ item.spanBoostrap3 }}"><i class="{{ item.iconBoostrap3 }}"></i> {{ item.nombre }} </span>: {{ item.limiteInferior }} a {{ item.valor }} | 
   
 {% endfor %}

    </div><div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Observaciones</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    
                                     {%  for observacion in observaciones %}

                                        <a href="#" class="list-group-item" data-toggle="modal" data-target="#myObs{{ observacion.id }}">
                                            <span class="badge">Ver</span>
                                            <i class="fa fa-fw fa-calendar"></i> {{ observacion.periodo }}
                                        </a>
                                                                          <!-- Modal -->
                                      <div class="modal fade" id="myObs{{ observacion.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              <h4 class="modal-title" id="myModalLabel">Observaciones {{ observacion.periodo|title }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                {{ observacion.descripcion|raw }}
                                            </div>
                                            <div class="modal-footer">

                                              <button type="button" class="btn btn-primary" data-dismiss="modal">Gracias</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    {% endfor %}

                                   
                                </div>
                                
                            </div>
                        </div>
                    </div>
 <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Comportamiento</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    
                                     {%  for observacion in observaciones %}

                                        <a href="#" class="list-group-item">
                                            <span class="badge">{{ observacion.calificacion }}</span>
                                            <i class="fa fa-bookmark-o"></i> {{ observacion.periodo }}
                                        </a>


                                    {% endfor %}

                                   
                                </div>
                                
                            </div>
                        </div>
                    </div>

  </div><div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Calificaciones</h3> <em>Presiona sobre la nota para ver los logros</em>
                            </div>
                            <div class="panel-body">

  <div class="table-responsive" style="padding: 50px">
 <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>        
                <th>No.</th>
               
                <th>Asignatura</th>
                {% for periodo in periodosConsulta %}
                <th>
                      <a href="#" class="btn btn-default btn-sm"><i class="fa fa-comment"></i> {{ periodo.periodo }}</a>
                </th>
        {% endfor %}
                <th>Promedio</th>
                
                
            </tr>
        </thead>
        <tbody>


  {% for notas in grupoEstudiante %}
  {% for asignatura in notas.idGrupo.gruposAsignaturas if asignatura.isActive == true %}
  <tr>
       
      <td>{{ loop.index }}</td>

      <td> {{ asignatura.idAsignatura.nombre }} </td>
      {% for periodo in periodosConsulta %}
      {# Para periodos con tipo de calificacion FINAL #}
      {% if periodo.tipoCalificacion.id == 1 %}
          <td>
          {% for entity in entities %}
            {% if asignatura.id == entity.grupoBoletin.grupoAsignatura.id %}
                {% if entity.grupoBoletin.periodo.id == periodo.id %}
                

                    <a href="#" class="btn btn-default btn-sx" data-toggle="modal" data-target="#myModal{{ entity.id }}"><i class="fa fa-folder-o"></i>
                    
                    {% if notas.idGrupo.tipoCalificacion == "Cuantitativo" %} {{ entity.calificacion|number_format(1) }} 
                    {% else  %} 
                               {% for item in items %}

                                   {%  if item.limiteInferior <= entity.calificacion|number_format(1) and entity.calificacion|number_format(1) <= item.valor   %}

                                <span> {{ item.notaCualitativa }}</span>
                               
                                {% else %}
                                  
                                {% endif %}
                               {% endfor %}


                    {% endif %}
                    </a>
               

                      <!-- Modal -->
                      <div class="modal fade" id="myModal{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Logros de {{ asignatura.idAsignatura.nombre|capitalize   }}</h4>
                              <em>Docente: {{ entity.grupoBoletin.grupoAsignatura.idDocente|title }} </em>
                            </div>
                            <div class="modal-body">
                              {% for logros in entity.grupoBoletin.boletin.logros %}
                                      <i class="fa fa-newspaper-o"></i> {{ loop.index }}. <em>{{ logros }}</em><br>
                                 {% endfor %} 
                            </div>
                            <div class="modal-footer">

                              <button type="button" class="btn btn-primary" data-dismiss="modal">Gracias</button>
                            </div>
                          </div>
                        </div>
                      </div>


                {% endif %}
            {% endif %}

              {% endfor %}
          </td>    

      {% else %}
      {# Para periodos con tipo de calificacion LOGROS #}
          <td>
               {% for entity in calificacionesLogrosBoletin %}

                        {% if asignatura.idAsignatura.id == entity.logro.idBoletin.asignatura.id %}

                              {% if entity.logro.idBoletin.periodo.id == periodo.id %}
                                        {% set prome = 0 %} 
                                        {% set cantidad = 0 %}

                    {% for notastotalesp in calificacionesLogros if notastotalesp.logro.idBoletin.id == entity.logro.idBoletin.id  %} 
                                            {% set promedioss = notastotalesp.calificacion %}
                                            {% set prome = promedioss + prome %}
                                            {% set iteraciones = loop.index %}

                                            {% set cantidad = iteraciones %}
                                            
                    {% endfor %}




<button class="btn btn-default btn-sx" data-toggle="modal" data-target="#notalogro{{ entity.logro.idBoletin.id }}">
 {{ (prome / cantidad)|number_format(1) }}
</button>

<!-- Modal -->
<div class="modal fade" id="notalogro{{ entity.logro.idBoletin.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Detalle de Calificación</h4>
      </div>
      <div class="modal-body">
             <div class="table-responsive">
                            <table class="table">
                                <thead>
                                                            <tr>
                                                              <th>Categoria</th>
                                                              <th>Detalle</th>
                                                              <th>Valoración</th> 
                                                              <th></th> 
                                                            </tr>
                                </thead>
                                <tbody>
                                          
                                    {% for notastotales in calificacionesLogros %} 
                                          
                                           {% if notastotales.logro.idBoletin.id == entity.logro.idBoletin.id %} 
                                                
                                                <tr>
                                                   <td><strong><i>{{ notastotales.logro.categoria.categoria }}</i></strong> </td>
                                                   <td>{{ notastotales.logro.descripcion }}</td>
                                                   <td>
                                                    {{ notastotales.calificacion }}
                                                    </td>
                                                </tr> 
                                          {% endif %}
                                    {% endfor %}          
                                </tbody>
                            </table>  
             </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>




                                {% endif %}
                          {% endif %}  

                {% endfor %}


            </td>
        {% endif %}

        {% endfor %}
        <td>
                {% set notaTotal = "" %}
                  {% for promedio in promedios %}  
                   {% if asignatura.id == promedio[0].grupoBoletin.grupoAsignatura.id %}
                      {% set notaTotal = promedio.notatotal %}
                   {% endif %} 
                  {% endfor %}
                  
                  {% set notaLogros = "" %}
                  {% for promediologro in promedioslogros %}
                    {% if asignatura.idAsignatura.id == promediologro[0].logro.idBoletin.asignatura.id %}
                        {% set notaLogros = promediologro.notatotal %}
                    {% endif %}    
                  {% endfor %} 

                  {% if notaTotal == "" %}
                      {% set TOTAL = notaLogros %}
                  {% elseif notaLogros == "" %}
                      {% set TOTAL = notaTotal %}
                  {% else %}
                      {% set TOTAL = (notaTotal + notaLogros)/2 %}
                  {% endif %}
                  


                  <a class="btn btn-mini"> {{ TOTAL|number_format(1, '.', ',') }} </a>
                     {% for item in items %}

                       {%  if item.limiteInferior <= TOTAL|number_format(1) and TOTAL|number_format(1) <= item.valor   %}
                             <span class="{{ item.spanBoostrap3 }}"><i class="{{ item.iconBoostrap3 }}"></i> {{ item.nombre }} </span>
                        {% else %}
                          
                        {% endif %}
                      {% endfor %}

         </td>
        

    </tr>           
    {% endfor %}
         {% endfor %} 

    </tbody>
    </table>


</div>	

 </div>
                        </div>
                    </div>
{% else %}

<div class="jumbotron">
  <h1>Buen día</h1>
  <p>Para conocer tus resultados debes estar al día en el pago de tu pensión, favor dirígete a la Rectoría</p>
</div>
 
{% endif %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {

    
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}
