{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}



<div class="col-lg-6">



            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> Datos Personales</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <span class="badge">Nombres</span>
                    <i class="fa fa-calendar"></i>  {{ datos.primerNombre }} {{ datos.segundoNombre }} {{ datos.primerApellido }} {{ datos.segundoApellido }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Teléfono</span>
                    <i class="fa fa-comment"></i> {{ datos.telefono}}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Email / Usuario</span>
                    <i class="fa fa-truck"></i> {{ datos.email }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Número de documento</span>
                    <i class="fa fa-money"></i> {{ datos.numeroDocumento }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">email</span>
                    <i class="fa fa-user"></i> {{ datos.nui }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Password</span>
                    <i class="fa fa-user"></i> ********** 
                  	
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Nombre Madre</span>
                    <i class="fa fa-user"></i> {{ datos.nombreCompletoMadre }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Teléfono Madre</span>
                    <i class="fa fa-user"></i> {{ datos.telefonoMadre }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Nombre Padre</span>
                    <i class="fa fa-user"></i> {{ datos.nombreCompletoPadre }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Teléfono Padre</span>
                    <i class="fa fa-user"></i> {{ datos.telefonoPadre }}
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge">Alergias u observaciones</span>
                    <i class="fa fa-money"></i> {{ datos.alergias }}
                  </a>

                    <div id="datosForm" class="">
                    <br>
                       {{ form_start(form) }}
                          {{ form_row(form.telefono, { 'attr': {'class': 'form-control'} }) }}
                          {{ form_row(form.nui, { 'attr': {'class': 'form-control'} }) }}
                          {{ form_row(form.password, { 'attr': {'class': 'form-control'} }) }}
                          {{ form_row(form.nombreCompletoMadre, { 'attr': {'class': 'form-control'} }) }}
                          {{ form_row(form.telefonoMadre, { 'attr': {'class': 'form-control'} }) }}
                          {{ form_row(form.nombreCompletoPadre, { 'attr': {'class': 'form-control'} }) }}
                          {{ form_row(form.telefonoPadre, { 'attr': {'class': 'form-control'} }) }}
                          {{ form_row(form.alergias, { 'attr': {'class': 'form-control'} }) }}

                       {{ form_end(form)}}
                    </div>
                </div>

<!-- Button trigger modal -->
<button class="btn btn-primary" id="datos">
  Editar
</button>

                <div class="text-right">
                  <a href="#">Ver otros <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
  </div>        



<div class="col-lg-6">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar mis datos</h4>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
</div>
	

{% endblock %}
{% block javascripts %}

{{ parent() }}

<script type="text/javascript">
      $(document).ready(function(){
        $('#datosForm').hide();
        $('#datos').click(function(){
          
           $('#datosForm').show('slow');
        })
      });
</script>

{% endblock %}
