{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}

<h1>Consolidado Tareas Calificadas </h1>
<div class="table-responsive" style="padding:20px">
 <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                
                <th>Periodo</th>
                <th>Materia</th>
                <th>Tipo Trabajo</th>

                <th>Ultima Edición</th>                
                <th>Fecha Entrega</th>
                <th>Detalle</th>
                <th>Nota</th>
                
            </tr>
        </thead>
        <tbody>
        	{% for trabajo in trabajos %}
        		<tr id="fila{{ trabajo.id }}" class="">
        			<td>{{ loop.index }}</td>
        			<td>{{ trabajo.periodo.periodo }}</td>
        			<td>{{ trabajo.grupoAsignatura.idAsignatura }}</td>
        			<td>{{ trabajo.tipoTrabajo }}</td>

        			<td>{{ trabajo.fechaEdicion|date('d-M,Y H:m:s') }}</td>
        			<td>{{ trabajo.fechaEntrega|date('d-M,Y H:m:s') }}</td>
        			<td>
        					<button class="btn btn-primary btn-sm" id="{{ trabajo.id }}" data-toggle="modal" data-target="#trabajo{{ trabajo.id }}"> Ver</button>

        					<!-- Modal -->
									<div class="modal fade" id="trabajo{{ trabajo.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">Detalle Tarea</h4>
									        <em>
									           {% for revision in trabajo.trabajoMatriculas if revision.estado == true %}
									           		  <h4><span class="label label-success">La revisaste el {{ revision.fechaVisita|date('d, M-Y H:m:s') }}</span></h4>
								                 	
									           {% endfor %}
									        </em>
									      </div>
									      <div class="modal-body">
									      	<div class="table-responsive"
									        {{ trabajo.detalle|raw }}
									    	</div>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
									        <button type="button" class="btn btn-primary" data-dismiss="modal">Gracias!</button>
									      </div>
									    </div>
									  </div>
									</div>
        			</td>
        			<td>
        			{% for notas in trabajo.notasTrabajos if notas.inscripcionAsignatura.matricula.id == matricula %}
                      <h4><span class="label label-success">{{ notas.calificacion }}</span></h4>
                    {% endfor %}
                    </td>
        		</tr>
        	{% endfor %}
        </tbody>

</table>
        </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        
        $('#dataTables-example').dataTable();
        $( 'button' ).click(function(){
           var id = $(this).attr("id");
           $(this).addClass("btn-warning");
           $('#fila'+id).addClass("danger");
        });
    });
    </script>
{% endblock %}
