{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}

<h1>Tareas </h1>
{% set hoy = 'now'|date('d-M,Y') %}

 <div class="table-responsive">
 <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                
                <th>Materia</th>
                <th>Fecha Creación</th>                
                <th>Fecha Entrega</th>
                <th>Detalle</th>
                <th>Tipo Trabajo</th>
                <th>Nota</th>
                
            </tr>
        </thead>
        <tbody>

{% for grupo in grupos %}

	
	{% set no = 0 %}
		{% for asignaturas in grupo.idGrupo.gruposAsignaturas %}

						
				{% for trabajos in asignaturas.trabajos  %}
				{% set no = no +1 %}
				<tr>
						<td>{{ no }}</td>	
						
						<td>{{ asignaturas.idAsignatura.nombre }}</td>
						<td>{% if trabajos.fecha == null %}{% else %}{{ trabajos.fecha|date('d-M,Y') }} {% endif %}</td>
						<td>{% if trabajos.fechaEntrega == null %}{% else %}


							{{ trabajos.fechaEntrega|date('d-M,Y') }} 
							

							{% endif %}</td>
						<td>

									<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{ trabajos.id }}">
									  Ver
									</button>

									<!-- Modal -->
									<div class="modal fade" id="{{ trabajos.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title" id="myModalLabel">Detalle Tarea</h4>
									      </div>
									      <div class="modal-body">
									      	<div class="table-responsive"
									        {{ trabajos.detalle|raw }}
									    	</div>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
									        <button type="button" class="btn btn-primary" data-dismiss="modal">Gracias!</button>
									      </div>
									    </div>
									  </div>
									</div>

						</td>
						<td>{{ trabajos.tipoTrabajo.tipoTrabajo.detalle }} ({{ trabajos.tipoTrabajo.porcentaje }}%)</td>
						<td></td>
						
					
				</tr>			
					
				
				{% endfor %}

		{% endfor %}
		
{% else %}
<div class="alert alert-success"><strong>No tienes Tareas asignadas aún!!</strong></div>
{% endfor %}
</tbody>
</table>
</div>


{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}
