{% extends 'ColegioEstudianteBundle::layout.html.twig' %}

{% block contenido %}
    <a href="{{ path('colegio_estudiante_asignaturas') }}" class="btn btn-warning"> << Volver a Asignaturas</a> <a href="{{ path('colegio_estudiante_tareas_nuevas') }}" class="btn btn-info"> Ver tareas de este Período</a> <hr>
   <hr>
<h3>{{ grupo }}</h3>
</h3>

<table class="table">
    <thead>
    <th>No.</th>
    <th>Tipo Trabajo</th>
    <th>Fecha publicación</th>
    <th>Fecha de Entrega</th>
    <th>Acciones</th>
    <th>Nota</th>
    </thead>
    <tbody>
        {% for trabajo in trabajos %}
            <tr id="fila{{ trabajo.id }}" >
                <td>{{ loop.index }}</td>
                <td>{{ trabajo.tipoTrabajo }}</td>
                <td>{{ trabajo.fecha|date('d, M-Y') }}</td>
                <td>{{ trabajo.fechaEntrega|date('d, M-Y') }}</td>
                <td>
                    <!-- Small modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal{{ trabajo.id }}" id="{{ trabajo.id }}"> Ver </button>
<!-- Modal -->
<div class="modal fade" id="myModal{{ trabajo.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-lg-6">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>Tipo de Trabajo: </strong>{{ trabajo.tipoTrabajo }}</h4>
        <strong>Materia: </strong> {{ grupo }}
      </div>
      <div class="modal-body">
      <h3>Detalles</h3>
      <strong>Fecha de Publicación:</strong> {{ trabajo.fecha|date('d, M-Y') }} <br>
      <strong>Fecha de Entrega:</strong> {{ trabajo.fechaEntrega|date('d, M-Y') }} <br>
      
      <hr>
      <h3>Descripción:</h3>
        {{ trabajo.detalle|raw }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Gracias</button>
        
      </div>
    </div>
  </div>
</div>
                        
           
                </td>
                <td>
                {% for notas in trabajo.notasTrabajos %}
                    
                    {% if notas.inscripcionAsignatura.matricula.id == matricula %}
                     <h4><span class="label label-success">{{ notas.calificacion }}</span></h4>
                    {% endif %}

                {% endfor %}
                </td>

            </tr>

        {% endfor %}    
    </tbody>
</table>

{% endblock %}   
{% block javascripts %} 
{{ parent() }}
{% set rutaVerificar = path('service_estudiante_verificar',{'trabajo':"mitrabajo",'matricula': matricula }) %}
{% set idUsado = idTrabajo  %}
<script>
$(document).ready(function(){
        var rutaVerificada = "{{ rutaVerificar }}";
        var idUsado1 = "{{ idUsado }}";
        $.verificarTrabajo = function(trabajo){
            rutaVerificada1 = rutaVerificada.replace("mitrabajo",trabajo);
            $.get(rutaVerificada1,function(){

            });
        };

        if(idUsado1 === ""){

            
        }else{
            $('#myModal'+"{{ idTrabajo }}").modal('show');
            $('#fila'+"{{ idTrabajo }}").addClass("success")
            $.verificarTrabajo("{{ idTrabajo }}");

        }

       $('button').click(function(){
           var id = $(this).attr("id");
           $.verificarTrabajo(id);
           $('#fila'+id).addClass("success")
       })

});

</script>
{% endblock %}