{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
    <h3>Editar Estudiante</h3>
{% endblock %}
    
{% block article %}

    {{ form(edit_form) }}
    {{ form(delete_form) }}

    <a href="{{ path('estudiante') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
{% endblock %}
{% block javascripts %}
{{ parent() }}
            <script>
                $("[name='colegio_estudiantebundle_estudiante[isActive]']").bootstrapSwitch();  
                $("[name='colegio_estudiantebundle_estudiante[pension]']").bootstrapSwitch();        
                      
            </script>
{% endblock %}  


