{% extends 'TemasTemasBundle::admin.html.twig' %}
  
{% block span %}
span12
{% endblock %}

{% block headerarticle %}
    <h3>Listado total de Estudiantes</h3>
{% endblock %}
{% block article %}
  
            <a href="{{ path('estudiante_new') }}" class="btn btn-success btn-sm">
                <i class="icon-plus-sign"></i>
                Crear un nuevo estudiante
            </a>
       <hr>
 
 <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>No.</th>
                <th>Matricula</th>
                <th>Aprobado</th>
                <th>Usuario</th>
                <th>Identificación</th>
                 
                <th>Nombres</th>
               
                <th>Apellidos</th>
                
                <th>Teléfono</th>
                <th>Usuario</th>
              
              
                <th>Acciones</th>
                <th>Estado</th>
                <th>Pensión</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('estudiante_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>
                    {% for matriculas in entity.gruposEstudiantes %}
                        {% if loop.first %}
                             {{ matriculas.periodoEscolar }} {{ matriculas.idGrupo.idNivel }}                             
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                     {% for matriculas in entity.gruposEstudiantes %}
                        {% if loop.first %}
                            <span style="display: none;">{{ matriculas.aprobado }}</span>
                             {% if matriculas.aprobado == true %} 
                                <a href="#" class="btn btn-info btn-mini"><i class="fa fa-check-circle"></i></a>
                             {% else %} 
                                <a href="#" class="btn btn-danger btn-mini"><i class="fa fa-remove"></i></a>
                             {% endif %}
                        {% endif %}
                    {% endfor %}

                </td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.idTipoIdentificacion }} {{ entity.numeroDocumento }}</td>
                <td>{{ entity.primerNombre }} {{ entity.segundoNombre }}</td>
                
                <td>{{ entity.primerApellido }} {{ entity.segundoApellido }}</td>
                
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>               
               
                <td>
                    <a href="{{ path('estudiante_edit', { 'id': entity.id }) }}" class="btn btn-small btn-success"><i class="icon-edit"> </i></a>
                    <a href="{{ path('estudiante_show', { 'id': entity.id }) }}" class="btn btn-small btn-warning"><i class="fa fa-search"></i></a>
                </td>
                <td style="text-align: center;">{% if entity.isActive == true %}<i class="fa fa-check-square"></i>{% else %}<i class="fa fa-remove"></i> {% endif %}<span style="display: none;">entity.isActive</span></td>
                <td style="text-align: center;">{% if entity.pension == true %}<i class="fa fa-check-square"></i>{% else %}<i class="fa fa-remove"></i> <span style="display: none;">entity.pension</span>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
       
{% endblock %}

    
{% block extras %}
          
{% if notas != null %}
    
{% embed 'TemasTemasBundle::span.html.twig' %}
            
{% block spanclase %}
    span6
{% endblock %}        
    
{% block headerspan %}
    <i class="icon-th-list"></i><h3> Notas</h3>
{% endblock %}

{# bloque del contenido, por defecto vacio #}
{% block articlespan %}

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <th>Estudiante</th>
            <th>Asignatura</th>
            <th>Calificación</th>
            <th>Descripción</th>
        </tr>
        {% for nota in notas %}
            <tr>

                <td>{{ nota.id }}</td>
                <td>{{ nota.idEstudiante }}</td>
                <td>{{ nota.idAsignatura }}</td>
                <td>{{ nota.calificacion }}</td>
                <td>{{ nota.descripcion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


    {% endblock %}
{% endembed %}
{% endif %}

{% endblock %}  

{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
        
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
          }
        });
    });
    </script>
{% endblock %}  
