{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span4
{% endblock %}

{% block headerarticle %}
  <span> <i class="icon-user-md"> <h3> Ver Estudiante</h3></i></span>
{% endblock %}

{% block article %}

    <h1>Estudiante</h1>

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>CODIGO</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Tipo Identificación</th>
            <td>{{ entity.idTipoIdentificacion }}</td>
        </tr>
        <tr>
            <th>Primer Nombre</th>
            <td>{{ entity.primerNombre }}</td>
        </tr>
        <tr>
            <th>Segundo Nombre</th>
            <td>{{ entity.segundoNombre }}</td>
        </tr>
        <tr>
            <th>Primer Apellido</th>
            <td>{{ entity.primerApellido }}</td>
        </tr>
        <tr>
            <th>Segundo Apellido</th>
            <td>{{ entity.segundoApellido }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.telefono }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Número Documento</th>
            <td>{{ entity.numeroDocumento }}</td>
        </tr>
         <tr>
            <th>Nombre Madre</th>
            <td>{{ entity.nombreCompletoMadre }}</td>
        </tr>
         <tr>
            <th>Telefono Madre</th>
            <td>{{ entity.telefonoMadre }}</td>
        </tr>
         <tr>
            <th>Nombre Padre</th>
            <td>{{ entity.nombreCompletoPadre }}</td>
        </tr>
         <tr>
            <th>Teléfono Padre</th>
            <td>{{ entity.telefonoPadre }}</td>
        </tr>
         <tr>
            <th>Alergias</th>
            <td>{{ entity.alergias }}</td>
        </tr>
         <tr>
            <th>Estado</th>
            <td>{% if entity.isActive == true %}<i class="fa fa-check-square"></i>{% else %}<i class="fa fa-remove"></i> {% endif %}</td>
        </tr>
         <tr>
            <th>Pensión</th>
            <td>{% if entity.pension == true %}<i class="fa fa-check-square"></i>{% else %}<i class="fa fa-remove"></i> {% endif %}</td>
        </tr>


    </tbody>
</table>



        <a href="{{ path('estudiante_edit', { 'id': entity.id }) }}" class="btn btn-small btn-success"><i class="icon-edit"> </i> Editar </a>
        {{ form(delete_form) }}
 
        <a href="{{ path('estudiante') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>

{% endblock %}


{% block extras %}
              
{% embed 'TemasTemasBundle::span.html.twig' %}
            
{% block spanclase %}
    span8
{% endblock %}        
    
{% block headerspan %}
    <i class="icon-th-list"></i><h3> Matriculas</h3>
{% endblock %}

{# bloque del contenido, por defecto vacio #}
{% block articlespan %}

<div class="table-responsive">
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>No.</th>  
            <th>Matrícula</th>  
            <th>Nivel</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th>Resultado</th>
            <th>Notas</th>
            <th>Verificación</th>
            <th>Descripción</th>
            <th>Promocionar</th>
        </tr>
     <tbody>
        {% for matri in matriculas %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ matri.id }}</td>
            <td>{{ matri.idGrupo.nombre }}</td>
            <td>{{ matri.fechaInicio|date('d, M-Y') }}</td>
            <td>{{ matri.fechaFin|date('d, M-Y') }}</td>
            <td style="text-align: center;">{% if matri.isActive == true %}<i class="fa fa-check-square"></i>{% else %}<i class="fa fa-remove"></i> {% endif %}</td>
            <td>
                {% if matri.aprobado == true %}
                    Aprobado
                {% elseif matri.aprobado == false %}
                    No Aprobado 
                {% elseif matri.aprobado == null %}
                    En curso...
                {% endif %}
            </td>
            <td>
                <a href="#myModal{{ matri.id }}" role="button" class="btn" data-toggle="modal">Notas</a>
            </td>
            <td>{% if matri.fechaAprobacion %}{{ matri.fechaAprobacion|date('d-M-Y H:i:s') }}{% endif %}</td>
            <td>{{ matri.descripcionAprobacion }}</td>
             <td>
             {% for parametros in matri.periodoEscolar.parametros %}
                {% if loop.first %}
                    <input value="{{ parametros.notaMinima }}" type="hidden" id="notaMinima"/>
                    <input value="{{ matri.id }}" type="hidden" id="matricula"/>
                {% endif %}
             {% endfor %}
                <a href="#" class="btn btn-warning btn-mini recalcular"><i class="fa fa-repeat"></i></a>
            </td>
        </tr>
     {% endfor %}   
    </tbody>
</table>
</div>

{% for matri in matriculas %}
    <div id="myModal{{ matri.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{ matri.periodoEscolar|upper }} Nivel: {{ matri.idGrupo.idNivel|upper }}</h3>
      </div>
      <div class="modal-body">
       <table class="table table-bordered">
       <thead>
           <tr>
               <th>Asignatura</th>
               <th>Docente</th>
               <th>Promedio acumulado</th>
               <th>Descripción</th>

           </tr>
       </thead>
       <tbody>
       {% for inscripcion in inscripciones if inscripcion.matricula.id == matri.id and inscripcion.grupoAsignatura.isActive == true %}
            <tr> 
                <td>{{ inscripcion.grupoAsignatura.idAsignatura }}</td>   
                <td>{{ inscripcion.grupoAsignatura.idDocente }}</td>   
                <td style="text-align: center;">{{ inscripcion.acumulado|number_format(1) }}</td>
                <td>{{ inscripcion.descripcionAcumulado }} 
                {% if inscripcion.fechaAcumulado %}
                    ({{ inscripcion.fechaAcumulado|date('d-M-Y H:i:s') }})
                {% endif %}
                </td>                
            </tr>    
       {% endfor %}
       </tbody>
       </table>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Gracias</button>
        
      </div>
    </div>
{% endfor %}
{% endblock %}

{% endembed %}


{% embed 'TemasTemasBundle::span.html.twig' %}
            
{% block spanclase %}
    span8
{% endblock %}        
    
{% block headerspan %}
    <i class="icon-th-list"></i><h3> Notas</h3>
{% endblock %}

{# bloque del contenido, por defecto vacio #}
{% block articlespan %}


<table class="table table-striped table-bordered" id="notas">
    <thead>
        <tr>
            <th>No.</th>    
            <th>Nivel</th>
            <th>Periodo</th>
            <th>Materia</th>
            <th>Docente</th>
            <th>Nota</th>
            <th></th>          
        </tr>
     </thead>
     <tbody>
        {% for nota in notas if nota.grupoBoletin.grupoAsignatura.isActive == true %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ nota.matricula.idGrupo.idNivel }}</td>
            <td>{{ nota.grupoBoletin.periodo }}</td>
            <td>{{ nota.grupoBoletin.grupoAsignatura.idAsignatura }}</td>
            <td>{{ nota.grupoBoletin.grupoAsignatura.idDocente }}</td>
            <td>{{ nota.calificacion|number_format(1) }}

            </td>
            <td 
            {% set estado = "" %}
            {% for parametro in nota.matricula.periodoEscolar.parametros %}
                    {% if nota.calificacion >= parametro.notaMinima %}
                        {% set estado = "1" %} 
                        style="background: green;"  
                    {% else %}
                        {% set estado = "0" %}
                        style="background: red;"
                    {% endif %}
            {% endfor %}>

                 <span style="display: none;">{{ estado }}</span>
            </td>
           
        </tr>
     {% endfor %}   
    </tbody>
</table>
<hr/>
{#{ notasJson }}
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
#}

{% endblock %}

{% endembed %}

{% endblock %}  

{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/dataTables/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/dataTables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
      

    <script>
            $(document).ready(function() {
                $('#notas').dataTable({
                  "paging": true,
                  "lengthChange": true,
                  "searching": true,
                  "ordering": true,
                  "info": true,
                  "autoWidth": true,
                  "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                  }
                });
            });
    </script>

    {% set rutaCalculo = path('service_verificar_estudiante',{'matricula': "Matricula", 'notaMinima': "NotaMinima"}) %}
    <script type="text/javascript">
    var rutaCalculo = "{{ rutaCalculo }}";

    $('.recalcular').click(function(){
         var notaMinima = $(this).parent().find('#notaMinima').val();
         var matricula = $(this).parent().find('#matricula').val();

        if(confirm('¿Estás seguro de ejecutar este proceso? Se sobreescribirán los valores calculados anteriormente')){

            var rutaAjustada = rutaCalculo.replace("Matricula",matricula);
            var rutaAjustada2 = rutaAjustada.replace("NotaMinima",notaMinima);

            $.get(rutaAjustada2,function(){

            }).done(function(){
                alert("Se ha recalculado correctamente, esta página se recargará para verificar los cambios.");
                location.reload();
            }).fail(function(){
                alert("Ha habido un error, verifica tu conexión. O contáctate con soporte en caso de persistir el error");
            })
        }else{
            return false;
        }
    })
    </script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

{% set categorias = "" %}
{% set separador = "," %}
{% set array = [] %}
{% for nota in notas %}
    
    {% if loop.last %}
        {% set separador = "" %}
    {% endif %}
    {% set categorias = categorias ~ nota.grupoBoletin.grupoAsignatura.idAsignatura ~ separador %} 
    

    
{% endfor %}


<script type="text/javascript">

var categorias = "{{ categorias }}";

//alert(categorias);

    $(function () {
    $('#container').highcharts({
        title: {
            text: 'Rendimiento académico',
            x: -20 //center
        },
        subtitle: {
            text: '{{ entity }}',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Escala valorativa'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Berlin',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});

</script>

{#<script type="text/javascript" src="{{ asset('bundles/temastemas/jqueryVisualizer/js/example.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/temastemas/jqueryVisualizer/js/visualize.jQuery.js') }}"></script>

<link type="text/css" rel="stylesheet" href="{{ asset('bundles/temastemas/jqueryVisualizer/css/visualize.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/temastemas/jqueryVisualizer/css/visualize-light.css') }}">#}


{% endblock %}  