{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Detalle Colegio</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Idcolegio</th>
                <th>Actualyear</th>
                <th>Capacidades</th>
                <th>Discapacidades</th>
                <th>Modeloeducativo</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.idColegio }}</td>
                <td>{{ entity.actualYear }}</td>
                <td>{{ entity.capacidades }}</td>
                <td>{{ entity.discapacidades }}</td>
                <td>{{ entity.modeloEducativo }} {{ entity.path }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('detallecolegio') }}"><i class="icon-arrow-left"></i> Volver</a>
    </li>
    <li>
        <a href="{{ path('detallecolegio_edit', { 'id': entity.id }) }}"><i class="icon-edit"> Editar</i></a>
    </li>
    {% for rol in app.user.roles %}
            {#  Solo el Super Man puede eliminar #}
            {% if rol.role == 'ROLE_SUPER_ADMIN' %}
                <li>{{ form(delete_form) }}</li>
            {% else %}
            {% endif %}
    {% endfor %}
    
</ul>
{% endblock %}
