{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Editar Modelo de Boletin</h1>
{{ tinymce_init() }}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('modeloboletin') }}" class="btn btn-success btn-sm">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
{% block javascripts %}
{{ parent() }}
            <script>
                $("[name='colegio_adminbundle_modeloboletin[logros]']").bootstrapSwitch();   
                $("[name='colegio_adminbundle_modeloboletin[observaciones]']").bootstrapSwitch();     
                $("[name='colegio_adminbundle_modeloboletin[estado]']").bootstrapSwitch();        
                $("[name='colegio_adminbundle_modeloboletin[categoria]']").bootstrapSwitch(); 
                $("[name='colegio_adminbundle_modeloboletin[posicion]']").bootstrapSwitch();   
                $("[name='colegio_adminbundle_modeloboletin[textoExtraSegundoMostrar]']").bootstrapSwitch();   
                $("[name='colegio_adminbundle_modeloboletin[bloqueFirmasMostrar]']").bootstrapSwitch();   
                $("[name='colegio_adminbundle_modeloboletin[footerMostrar]']").bootstrapSwitch();   
            </script>
{% endblock %}
