{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Lista de Modelos de Boletin (Formatos)</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre</th>
                <th>Título</th>
                <th>Logros</th>
                <th>Observaciones</th>
                <th>Mostrar categoría</th>
                <th>Mostrar posición</th>
                <th>Fecha creacion</th>
                <th>Creado por</th>
                <th>Estado</th>
                <th>Editado por</th>
                <th>Fecha edición</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
          <tr><div class="success">
                <td><a href="{{ path('modeloboletin_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombre }}</td>
                
                <td>{{ entity.titulo|raw }}</td>
                <td>{% if entity.logros == true %}<a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>{% else %}<a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a>{% endif %}</td>
                <td>{% if entity.observaciones == true %}<a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>{% else %}<a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a>{% endif %}</td>
                <td>
                    {% if entity.categoria == true %}<a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>{% else %}<a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a>{% endif %}
                </td>
                <td>
                    {% if entity.posicion == true %}<a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>{% else %}<a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a>{% endif %}
                </td>

                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.creadoPor }}</td>
                <td>{% if entity.estado == true %}<a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>{% else %}<a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a>{% endif %}</td>
                <td>{{ entity.editadoPor }}</td>
                <td>{% if entity.fechaEdicion %}{{ entity.fechaEdicion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('modeloboletin_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('modeloboletin_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td></div>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('modeloboletin_new') }}" class="btn btn-success btn-sm">
                Crear Modelo
            </a>
        </li>
    </ul>
    {% endblock %}
