{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Modelo Boletin</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo|raw }}</td>
            </tr>
            <tr>
                <th>Colegio</th>
                <td>{{ entity.colegio }}</td>
            </tr>
            <tr>
                <th>Encabezado</th>
                <td>{{ entity.encabezado|raw }}</td>
            </tr>
            <tr>
                <th>Texto extra</th>
                <td>{{ entity.textoExtra|raw }}</td>
            </tr>
            <tr>
                <th>Logros</th>
                <td>{{ entity.logros }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones|raw }}</td>
            </tr>
            <tr>
                <th>Mostrar categoría</th>
                <td>{{ entity.categoria|raw }}</td>
            </tr>
             <tr>
                <th>Mostrar posición</th>
                <td>{{ entity.posicion|raw }}</td>
            </tr>
            <tr>
                <th>Fecha creación</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Creado por</th>
                <td>{{ entity.creadoPor }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Editado por</th>
                <td>{{ entity.editadoPor }}</td>
            </tr>
            <tr>
                <th>Fecha Edición</th>
                <td>{{ entity.fechaEdicion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('modeloboletin') }}" class="btn btn-success btn-sm">
            Volver al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('modeloboletin_edit', { 'id': entity.id }) }}"  class="btn btn-success btn-sm">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
