{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Crear Observaciones</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('observacion') }}"  class="btn btn-warning btn-sm">
            Volver al Listado
        </a>
    </li>
</ul>
{% endblock %}
