{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Editar Observacion</h1>
{{ tinymce_init() }}
    {{ form(edit_form) }}

    <hr>	
{% endblock %}
{% block javascripts %}
{{ parent() }}
            <script>

		$(document).ready(function() {

		  $('form').keypress(function(e){   
		    if(e == 13){
		      return false;
		    }
		  });

		  $('input').keypress(function(e){
		    if(e.which == 13){
		      return false;
		    }
		  });

		});

       $("[name='colegio_docentebundle_observacion[estado]']").bootstrapSwitch();
       
       $("[name='colegio_docentebundle_observacion[calificacion]']").change(function(){
        	var valorNota = $(this).val();
        	if(valorNota>5){

        		alert("Error no puede ser mayor a 5");
        		$('#colegio_docentebundle_observacion_submit').hide('slide');
        		
        	}else if (valorNota < 0){

        		$('#colegio_docentebundle_observacion_submit').hide('slide');
        		alert("Error no puede ser menor a cero");
        		
        	}else{
        		$('#colegio_docentebundle_observacion_submit').show('slide');
        	}
        });      
    </script>
{% endblock %} 
