{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Listado de Observaciones</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Periodo</th>
                <th>Estudiante</th>
                <th>Nota</th>
                <th>Descripcion</th>
                <th>Fechacreacion</th>
                <th>Fechamodificacion</th>
                <th>Creador</th>
            
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('observacion_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.periodo }}</td>
                <td>{{ entity.estudiante }}</td>
                <td>{{ entity.calificacion }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaModificacion %}{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.creador }}</td>
             
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('observacion_show', { 'id': entity.id }) }}"  class="btn btn-success btn-sm">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('observacion_edit', { 'id': entity.id }) }}"  class="btn btn-warning btn-sm">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('observacion_new') }}"  class="btn btn-warning btn-sm">
                Crear nueva
            </a>
        </li>
    </ul>
    {% endblock %}
