{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Observacion (Puedes cerrar esta ventana)</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Periodo</th>
                <td>{{ entity.periodo }}</td>
            </tr>
            <tr>
                <th>Estudiante</th>
                <td>{{ entity.estudiante }}</td>
            </tr>
            <tr>
                <th>Calificacion</th>
                <td>{{ entity.calificacion }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion|raw }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{{ entity.fechaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Creador</th>
                <td>{{ entity.creador }}</td>
            </tr>
           
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
  
    <li>
        <a href="{{ path('observacion_edit', { 'id': entity.id }) }}"  class="btn btn-success btn-sm">
            Editar
        </a>
    </li>
   {# <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}
