{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
{{ tinymce_init() }}
    <h1>Editar Trabajos</h1>
   {% if  entity.estado == 1 %}
                    
   {% else %} {{ form(edit_form) }}
   {{ form(delete_form) }}
   {% endif %}
   
 {% if entity.estado == true  %}

                   {% if  entity.fechaEdicion|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                        {{ form(edit_form) }}
                        {{ form(delete_form) }}
                   {% else %}     
                          PUBLICADA YA PASÓ EL TIEMPO DE EDICIÓN
                   {% endif %}

                   {% else %}
                      {{ form(edit_form) }}
                      {{ form(delete_form) }}
 {% endif %}


    <hr>
        <a href="{{ path('trabajos') }}" class="btn btn-info"> <i class="icon-row"></i>
            Regresar al Listado
        </a>
            
   
{% endblock %}
{% block javascripts %}
{{ parent() }}
            <script>
                $("[name='colegio_docentebundle_trabajos[estado]']").bootstrapSwitch();        
            </script>
{% endblock %}  
