{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Mis Trabajos</h1>
    
      
<div class="table responsive">
    <table class="table" id="dataTables-example">
        <thead>
            <tr>
                <th class="header">No.</th>
                <th class="header">Código</th>
                <th class="header">Grupo asignatura</th>
                <th class="header">Fecha creación</th>
                <th class="header">Última Edición</th>

                <th class="header">Fecha entrega</th>
                
                <th class="header">Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.estado == false %}class="danger"{% endif %}>
                <td><a href="{{ path('trabajos_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.grupoAsignatura }}</td>
                <td>{{ entity.fecha|date('d-M/y H:m:s') }}</td>
                <td>{{ entity.fechaEdicion|date('d-M/y H:m:s') }}</td>
                <td>{{ entity.fechaEntrega|date('d-M/y H:m:s') }}</td>
                
                <td>{% if entity.estado == 1 %}
                Publicada
               		 {% else %}
                Sin Publicar
                	{% endif %}
                </td>
                <td>
                
                        <a href="{{ path('trabajos_show', { 'id': entity.id }) }}" class="btn btn-success bt-sm">Mostrar</a>

                {% if entity.estado == true  %}

                   {% if  entity.fechaEdicion|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                        <a href="{{ path('trabajos_edit', { 'id': entity.id,'grupoAsignatura': entity.grupoAsignatura.id, 'periodo': periodo }) }}" class="btn btn-warning bt-sm">Editar</a>
                   {% endif %}

                   {% else %}
                      <a href="{{ path('trabajos_edit', { 'id': entity.id,'grupoAsignatura': entity.grupoAsignatura.id, 'periodo': periodo }) }}" class="btn btn-warning bt-sm">Editar</a>

                   {% endif %}


                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
     
    {% endblock %}
    {% block javascripts %}
{{ parent() }}
        <script src="{{ asset('bundles/temastemas/js/tablesD/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/tablesD/dataTables.bootstrap.js') }}" type="text/javascript"></script>
         <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}  

