{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <div class="col-lg-6">
        <hr>
        <strong text-align="center"> {{ grupo }}</strong>
        <hr>
    </div>
    <div class="col-lg-6">
            
            
            <table class="table">
                <thead>
                    
                </thead>
                <tbody>
                     {% for tipo in tiposTrabajo %}
                     <tr>
                        <td>
                        {% for total in totales if total.identificador == tipo.id %}
                                    <i class="fa fa-check-circle-o"></i>
                                {% else %}        
                                     <i class="fa fa-exclamation-circle"></i>
                                {% endfor %}
                        </td>
                        <td>{{ tipo }}</td>
                        <td>
                                {% for total in totales if total.identificador == tipo.id %}
                                    <span class="label label-success"> {{ total.total }}</span>
                                {% else %}        
                                    <span class="label label-danger"> Te falta</span> 
                                {% endfor %}
                        </td>        
                     </tr>
                    {% endfor %}

                </tbody>
            </table>
            
        
    </div>
 {{ tinymce_init() }}
  
{% for entity in periodos %}
  {% set bloquearPeriodo = entity.cerrarPeriodo %}    
{% endfor %}  
 
 
<button type="button"  id="mostrarTarea" {% if bloquearPeriodo == true  %}onclick="alert('No puedes crear tareas mientras el administrador tenga cerrado el período'); return false;" class="btn btn-info"{% else %}class="btn btn-primary"{% endif %}>Crear nueva tarea</button>
 <a href="{{ path('ColegioDocente_grupos') }}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Volver Atrás</a>
 
 
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div style="padding: 30px">
      
               ...
        </div>
    </div>
  </div>
</div>

<div id="trabajo" style="display:none;">
 <h3>Creación de Trabajos</h3>
               
                            <div class="alert alert-danger">
                                    <strong>Cuidado!</strong> Recuerda que una vez que publiques y guardes, ya no podrás modificar la Información.<br>
                                    Puedes dejar en Off mientras estas seguro...
                            </div>


                {{ form(form) }}


</div>
</div>
       <div class="col-lg-12">
         <div class="table responsive">
    <table class="table" id="dataTables-example">
        <thead>
            <tr>
                <th class="header">No.</th>
                <th>Tipo</th>
                <th class="header">Fecha creación</th>
                <th class="header">Última Edición</th>

                <th class="header">Fecha entrega</th>
                
                <th class="header">Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in trabajos %}
            <tr {% if entity.estado == false %}class="danger"{% endif %}>
                <td>{{ loop.index }}</td>
                <td>{{ entity.tipoTrabajo }}</td>
                <td>{{ entity.fecha|date('d-M/y H:m:s') }}</td>
                <td>{{ entity.fechaEdicion|date('d-M/y H:m:s') }}</td>

                <td>{{ entity.fechaEntrega|date('d-M/y H:m:s') }}</td>
                
                <td>{% if entity.estado == 1 %}
                Publicada
               		 {% else %}
                Sin Publicar
                	{% endif %}
                </td>
                <td>
                
                        <a href="{{ path('trabajos_show', { 'id': entity.id }) }}" class="btn btn-success bt-sm">Mostrar</a>
                    

                  {% if entity.estado == 1  %}

                       {% if  entity.fechaEdicion|date_modify('+ 1 hour')|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s') %}
                           <a href="{{ path('trabajos_edit', { 'id': entity.id, 'grupoAsignatura': grupo.id, 'periodo': periodo }) }}" class="btn btn-warning bt-sm">Editar</a>
                       {% endif %}

                       {% else %}
                         <a href="{{ path('trabajos_edit', { 'id': entity.id, 'grupoAsignatura': grupo.id, 'periodo': periodo }) }}" class="btn btn-warning bt-sm">Editar</a>

                   {% endif %}


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
           
       </div>   
       <div class="col-lg-12">
           <h2>Relación de logros</h2>
           <table class="table">
           <thead>
               <th>No.</th>
               <th>Categoría</th>
               <th>Logro </th>
               {% if periodoActual.tipoCalificacion == "LOGROS" %}
               <th>Total</th>
               {% endif %}
           </thead>  
           <tbody>

                   {% for logro in logros %}
                   <tr> 
                   <td>{{ loop.index }}</td>
                   <td>{{ logro.categoria }}</td>
                    <td>  {{ logro.descripcion }} 
                    </td>
                    {% if periodoActual.tipoCalificacion == "LOGROS" %}
                        {% set total = 0 %}
                       {% for trabajos in logro.trabajos %} 
                        {% set total  =  total  +  1  %}
                            
                       {% endfor %}
                       {% if total > 0 %}
                     <td>  <a href="#" class="btn btn-success btn-sm"> {{ total }}  <i class="fa fa-check-circle-o"></i></a> </td>
                       {% else %}
                      <td> <a href="#" class="btn btn-danger btn-sm"> {{ total }}  <i class="fa fa-exclamation-circle"></i></a>  </td>
                       {% endif %}
                    {% endif %} 
                    </tr>   
                   {% endfor %}
           </tbody>
            </table>
       </div>    
{% endblock %}
{% block javascripts %}
{{ parent() }}
 {% set bloquearPeriodo = "" %}              
{% for entity in periodos %}
  {% set bloquearPeriodo = entity.cerrarPeriodo %}    
{% endfor %}  
     
            <script>
                $("[name='colegio_docentebundle_trabajos[estado]']").bootstrapSwitch();        
            </script>
            
             <script src="{{ asset('bundles/temastemas/js/tablesD/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/temastemas/js/tablesD/dataTables.bootstrap.js') }}" type="text/javascript"></script>
         <script>
            $(document).ready(function() {
                var oculto = 1;
                var bloquearPeriodo = "{{ bloquearPeriodo }}";
                $('#trabajo').hide();
                $('#dataTables-example').dataTable();
                $('#mostrarTarea').click(function(){

                  if(bloquearPeriodo == true){

                  }else{
                    if(oculto==1){
                        $('#mostrarTarea').text('Ocultar');
                        $('#trabajo').show('slow');
                        oculto = 0;
                    }else{
                        $('#mostrarTarea').text('Crear Tarea');
                        $('#trabajo').hide('slow');
                        oculto = 1;
                    }
                  }
                    
                  
                });
            });


            </script>
{% endblock %}  
