{% extends 'ColegioDocenteBundle::layout.html.twig' %}

{% block contenido %}
    <h2>Trabajos</h2> <a href="javascript:history.back(1)" class="btn btn-warning"><i class="fa fa-angle-left"></i> Volver Atrás</a>
    <div class="table-responsive">
<div class="col-lg-6">
    <table class="table table-striped table-bordered">
        <tbody>
           
             <tr>
                <th>Tipo de trabajo</th>
                <td>{{ entity.tipoTrabajo }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Grupo</th>
                <td>{{ entity.grupoAsignatura }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('d-M/y') }}</td>
            </tr>
            <tr>
                <th>Fecha de entrega máxima</th>
                <td>{{ entity.fechaEntrega|date('d-M/y') }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ entity.detalle | raw }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if  entity.estado == 1 %}
                    PUBLICADA
                {% else %}SIN PUBLICAR{% endif %}</td>
            </tr>
             <tr>
                <th>Logros</th>
                <td>
                {% for logro in entity.logros %}
                    {{ logro }}<br>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="col-lg-6">
    <h2>Visto por:</h2>

    <table class="table table-bordered" id="#dataTables-example">
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.matricula.idEstudiante }}</td>
                <td>{{ estudiante.fechaVisita|date("d-M-Y H:m:s") }}</td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
</div>
            <hr>
           
              {#}  {% if  entity.estado == 1 %}

                {% else %}
                     <a href="{{ path('trabajos_edit', { 'id': entity.id }) }}"  class="btn btn-info">
                        Editar
                    </a>
                        {{ form(delete_form) }}
                {% endif %}   #} 
       
            
       
    
    
    
{% endblock %}
