{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Editar Grupo Asignatura</h1>
    {{ form(edit_form) }}
   
    <a href="{{ path('grupo_showbysede', {'id': entity.idSede.id }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>

{% endblock %}