{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span4
{% endblock %}

{% block headerarticle %}
<i class="icon-th-list"></i><h3> Sedes Activas</h3>
{% endblock %}

{% block article %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre sede</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.nombreSede }}</td>
                <td>
                {% if entity.estado == true %}
                    <i class="icon-ok"></i>
                {% else %}
                    <i class="icon-remove"></i>

                {% endif %}
                </td>
                <td>
                
                            <a href="{{ path('grupo_showbysede', { 'id': entity.id }) }}" class="btn btn-info" ><i class="icon-list"></i> Ver</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{{ path('grupo_new') }}"> <i class="icon-plus-sign"></i> Crear nuevo Grupo</a>
    
<hr>

<select id="formato" class="form-control">
    <option value="pdf">PDF</option>
    <option value="html">HTML</option>
</select>
<select id="grupos" class="form-control">
    <option value="0">Selecciona</option>
    <option value="*">Todos</option>
     {% for grupo in grupos %}
        <option value="{{ grupo.id }}">{{ grupo.nombre }}</option>
     {% endfor %}
</select>
<select id="usuario">
    <option value="0">Sin usuario</option>
    <option value="1">Con usuario</option> 
</select>
<select id="documento">
    <option value="0">Sin documento</option>
    <option value="1">Con documento</option>
</select>
<select id="encabezado">
    <option value="0">Columna extra</option>
    <option value="1">Sin columna extra</option>
</select>
<select id="salto">
    <option value="0">Con salto de página</option>
    <option value="1">Sin salto de página</option>
</select>
<br>
<button id="btnDescargarListado" class="btn btn-success">Descargar Listado</button>

{% endblock %}

{# Halamos el bloque extras de admin.html.twig 
y usamos la etiqueta embed para duplicar un span que por defecto es span6
#}
{% block extras %}
            
{% if grupos != null %}
            
{% embed 'TemasTemasBundle::span.html.twig' %}
            
{% block spanclase %}
    span8
{% endblock %}        
    
{% block headerspan %}
    <i class="icon-th-list"></i><h3> Listado de Grupos de la sede {{ sede }}</h3>
{% endblock %}

{# bloque del contenido, por defecto vacio #}
{% block articlespan %}
<div class="table-responsive">
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>No.</th>
            <th>Nombre</th>
            <th>Nivel</th>
            <th>Director Grupo</th>
            <th>Acción</th>
            <th></th>
            
            <th></th>
            <th>Tipo Calificación</th>
           

        </tr>
        {% for grupo in grupos %}
            <tr>

                <td>{{ loop.index }}</td>
                <td><strong>{{ grupo.nombre }}</strong></td>
                <td><em>{{ grupo.idNivel }}</em></td>
                <td>{{ grupo.idDocenteResponsable|title }}</td>
              
               
                
                <td>
                
                   
                    <a href="{{ path('grupo_edit', { 'id': grupo.id }) }}" class="btn  btn-mini btn-warning"><i class="icon-edit"> </i></a>
               
                    <a href="{{ path('grupo_show', { 'id': grupo.id }) }}"  class="btn   btn-mini btn-success"><i class="icon-plus-sign"> </i></a>
                
               
                   
                </td>
                <td>     <a href="{{ path('grupoestudiantebygrupo', { 'id': grupo.id }) }}"  class="btn  btn-mini btn-info"><i class="icon-group"> </i></a></td>
                <td>{% if  grupo.activo == true %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i> {% endif %}</td>
                <td><em>{{ grupo.tipoCalificacion }}</em></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

    {% endblock %}
{% endembed %}

{% endif %}        
        
{% endblock %}        

{% block javascripts %}
    {{ parent() }}
{% set rutaListado = path('ColegioAdminBundle_listados',{ 'formato':"Formato", 'grupo':"Grupo", 'usuario':"Usuario", 'documento':"Documento", 'sede':"Sede", 'encabezado':"Encabezado", 'salto':"Salto" }) %}
    <script type="text/javascript">
        var rutaListado = "{{ rutaListado }}";
    
        $(document).ready(function(){
    
            $('#btnDescargarListado').click(function(){
                var formato = $('#formato').val();
                var grupos = $('#grupos').val();
                var usuario = $('#usuario').val();
                var documento = $('#documento').val();
                var sede = "{{ idSede }}";
                var encabezado = $('#encabezado').val();
                var salto = $('#salto').val();

                var rutaListado2 = rutaListado.replace("Formato",formato);
                var rutaListado3 = rutaListado2.replace("Grupo",grupos);
                var rutaListado4 = rutaListado3.replace("Usuario",usuario);
                var rutaListado5 = rutaListado4.replace("Documento",documento);
                var rutaListado6 = rutaListado5.replace("Sede",sede);
                var rutaListado7 = rutaListado6.replace("Encabezado",encabezado);
                var rutaListado8 = rutaListado7.replace("Salto",salto);

                if(grupos == 0){
                    alert("Selecciona un grupo por favor")
                }else{
                    window.open(rutaListado8,"_blank");
                }


            });
    })

    </script>
{% endblock %}