{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
<style type="text/css">

.cuerpo {
font-family: Arial,Helvetica,sans-serif; font-size:10px;
}

</style>
{% endblock %}
{% block title %}
.::Listados
{% endblock %}
{% block body -%}
<div class="container">
	<div class="cuerpo">

  	<div >

	
{% for grupo in grupos %}	

 <table class="table" style="padding:5px">
        <tr>
                <td width="20%" height="50" border-color="white"><img src="{{ app.request.getSchemeAndHttpHost() ~asset(logo) }}" width="50px" height="50px" /></td> 
                <td width="100%" height="50" border-color="white">
                      		<h5>{{ nombreColegio|upper }} (Sede: {{ sede|title }})</h5>
                           <h6> {{ grupo.nombre|upper }} -- Profesor: {{ grupo.idDocenteResponsable|title }} -- {{ parametro }}</h6>
                </td>
             </tr>

</table>
<hr>
<div class="panel panel-default">
 <div class="panel-heading responsive-utilities" style="padding:5px; padding-bottom:0px">
     <h4 class="panel-title">Listado de estudiantes</h4>
  </div>
  <div class="panel-body" style="padding:5px">
  <table class="table table-bordered">
  	<thead>
  		<th width="20px">No.</th>
  		<th>Nombres</th>
  		{% if documento == 1 %}<th>Documento</th>{% endif %}
  		{% if usuario == 1 %}<th>Usuario</th>{% endif %}
  		{% if encabezado == 0 %}<th width="250px">Otros</th>{% endif %}
  	</thead>
  	<tbody>
  		{% for estudiante in estudiantes if estudiante.idGrupo.id == grupo.id %}
  		<tr>
	  		<td>{{ loop.index }}</td>
	  		<td>{{ estudiante.idEstudiante|upper }}</td>
	  		{% if documento == 1 %}<td>({{ estudiante.idEstudiante.idTipoIdentificacion }}) {{ estudiante.idEstudiante.numeroDocumento }}</td>{% endif %}
	  		{% if usuario == 1 %}<td>{{ estudiante.idEstudiante.username }}</td>{% endif %}
	  		{% if encabezado == 0 %}<td></td>{% endif %}
  		</tr>
  		{% endfor %}
  	</tbody>
  </table>
 </div>
 </div>
 {% if salto == 0 %}
 <p style="page-break-after: always;" />
 {% endif %}
{% endfor %}

	</div>
	</div>
</div>
{% endblock %}
