{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
    <h3>Creación Grupo</h3>
{% endblock %}

{% block article %}

    {{ form_start(form) }}
        {{ form_row(form.idNivel) }}
        {{ form_row(form.idSede) }}
        {{ form_row(form.idDocenteResponsable) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.activo) }}
{#        {{ form_row(form.gruposAsignaturas) }} #}

  {#  <ul class="tags" id="productos-fields-list" data-prototype="{{ form_widget(form.gruposAsignaturas.vars.prototype) |e }}">
        {#{% for logro in form.logros %}
        <li>{{ form_row(form.logros) }}</li>
        {% endfor %} 
    </ul>
        <a href="#" id="add-another-producto" class="">Añadir otra Asignatura</a>
    #}
    {{ form_end(form) }}

{% endblock %}
{# {% block javascripts %}
    {{ parent() }}
        
<script type="text/javascript">
    // keep track of how many email fields have been rendered
    var productosCount = '{{ form.gruposAsignaturas | length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-producto').click(function() {
            var productosList = jQuery('#productos-fields-list');

            // grab the prototype template
            var newWidget = productosList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, productosCount);
            productosCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(jQuery('#productos-fields-list'));

            return false;
        });
    })
</script>
{% endblock %} #}