{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span6
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ app.request.schemeAndHttpHost~asset('bundles/temastemas/css/notifIt.css') }}">
{% endblock %}

{% block article %}
    <strong>Grupo</strong>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nivel</th>
                <th>Docente Responsable</th>
                <th>Sede</th>
                <th>Activo</th>
                <th>Acción</th>
                <th>Tipo Calificación</th>
            </tr>
            <tr>
           
                <td>{{ entity.id }}</td>
                <td><strong>{{ entity.nombre|upper }}</strong></td>
                <td><em>{{ entity.idNivel|title }}</em></td>
                <td>{{ entity.idDocenteResponsable }}</td>
                <td>{{ entity.idSede }}</td>
                <td>
                {% if entity.activo == true %}
                    <i class="icon-ok"></i>
                {% else %}
                    <i class="icon-remove"></i>
                    {% endif %}
                </td>
                <td>
                
                        <a href="{{ path('grupo_edit', { 'id': entity.id }) }}" class="btn btn-mini btn-warning"><i class="icon-edit"> </i></a>
                  
                </td>
                <td>{{ entity.tipoCalificacion }}</td>
          
            </tr>
        </tbody>
    </table>


        <a href="{{ path('grupo_showbysede', {'id': entity.idSede.id }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
   <hr>



     <i class="icon-bookmark"> Listado Materias</i>
     <hr>

            <a href="{{ path('grupoasignatura_new',{ 'grupo': id }) }}">
                <i class="icon-plus-sign"></i>
                Crear nuevo Grupo Asignatura
            </a>
              <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Asignatura</th>
                <th>Docente</th>
                <th>Editar</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in materias %}
            <tr>
                <td><a href="{{ path('grupoasignatura_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                
                <td>{{ entity.idAsignatura|title }}</td>
                <td>{{ entity.idDocente|title }}</td>
                <td>
               
                        <a href="{{ path('grupoasignatura_edit', { 'id': entity.id, 'grupo': id  }) }}" class="btn btn-warning btn-mini"><i class="icon-edit"> </i></a>
                   
                </td>
                <td style="text-align: center;">
                {% if entity.isActive == true %}
                  <i class="fa fa-check"></i>
                {% else %}
                  <i class="fa fa-remove"></i>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
                    



{% endblock %}
{% block extras %}
    {% embed "TemasTemasBundle::span.html.twig" %}
     {% block headerspan %}	
   <i class="icon-bookmark"> Listado Logros</i>
     {% endblock %}
     {% block articlespan %}
            
<div class="tabbable"> 
  <ul class="nav nav-tabs">
    {% for periodo in periodosTotal %}
        <li class="{% if periodo.id == idPeriodo %}active{% endif %}"><a href="#tab{{ periodo.id }}" data-toggle="tab">{{ periodo.periodo|title }}</a></li>
      
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for periodo in periodosTotal %}
            <div class="tab-pane {% if periodo.id == idPeriodo %}active{% endif %}" id="tab{{ periodo.id }}">
            Logros de {{ periodo.periodo }}

              {% for entity in materias if entity.isActive == true %}

               <hr>
                    
                   <strong>{{ entity.idAsignatura }}</strong><br>
               <a href="#" class="btn btn-success btn-mini crearLogros"  id="Crear{{ entity.id }}-{{ periodo.id }}"><i class="icon-plus"></i> Crear Logros</a><br>

                   <div class="form-group" style="display: none" id="formCrearLogros{{ entity.id }}-{{ periodo.id }}">
                  <select id="categoria{{ entity.id }}-{{ periodo.id }}" class="form-control">
                      {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria }}</option>
                      {% endfor %}
                  </select>
                      <textarea required rows="2" cols="40" class="form-control" id="descripcionLogro{{ entity.id }}-{{ periodo.id }}" placeholder="Escribe la descripción del logro"></textarea>
                      <a href="#" class="btn btn-default btnGuardar" id="btnGuardar{{ entity.id }}-{{ periodo.id }}">Guardar</a>
               </div>

  <div id="contenidoLogros{{ entity.id }}-{{ periodo.id }}"></div>                        
            {% for grupoBol in entity.gruposBoletines if grupoBol.periodo == periodo %}
                
                {% if grupoBol.periodo == periodo %}  
                 
                    <div id="contenidoLogros">
                  <a href="{{ path('boletin_show',{'id':grupoBol.boletin.id}) }}" id="logro{{ grupoBol.id }}">{{ grupoBol }} <i class="icon-edit"></i></a><br>  
                     
                     {% for  logros in grupoBol.boletin.logros  %}
                        <li>(<em>{{ logros.categoria }}</em>) {{ logros }}</li>
                     {% endfor %}
                     </div>

                {% endif %} 
            {% else %}
                           
                            <a href="#" id="{{ entity.id }}-{{ periodo.id }}" class="btn btn-mini btn-info importar"><i class="icon-briefcase"></i> Importar Boletin</a>

                           <div id="myModal{{ entity.id }}-{{ periodo.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Boletines compatibles con {{ entity.idAsignatura }}</h3>
                              </div>
                              <div class="modal-body" id="content{{ entity.id }}-{{ periodo.id }}">
                                
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-primary" data-dismiss="modal">Gracias</button>
                              </div>
                            </div>
                            <br>
            {% endfor %}
               {% if entity.gruposBoletines is empty  %}  

                        <a href="#" id="{{ entity.id }}-{{ periodo.id }}" class="btn btn-mini btn-info importar"><i class="icon-briefcase"></i> Importar Boletin</a>

                       
                           <div id="myModal{{ entity.id }}-{{ periodo.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Boletines compatibles con {{ entity.idAsignatura }}</h3>
                              </div>
                              <div class="modal-body" id="content{{ entity.id }}-{{ periodo.id }}">
                                
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-primary" data-dismiss="modal">Gracias</button>
                              </div>
                            </div>
                            <br>
               

                {% endif %} 
                {% endfor %}
            </div>
    {% endfor %}
  </div>
</div>
        
       
                    
     {% endblock %}
    
    {% endembed %}
    


{% endblock %}

{% block javascripts %}
{{ parent() }}
{% set rutaBoletinesImportar =  path('service_boletines_asignatura',{'asignatura':"Asignatura", 'nivel': entity.idNivel.id }) %}
{% set rutaGenerarBoletin = path('service_crear_boletin',{'grupoasignatura': "GrupoAsignatura", 'boletinrecibido':"Boletin",'periodo':"Periodo" }) %}
{% set rutaGenerarLogros = path('service_crear_boletin_nuevo',{'grupoasignatura': "GrupoAsignatura", 'boletinrecibido':"Boletin",'periodo':"Periodo",'categoria':"Categoria",'logro':"Logro" }) %}
<script type="text/javascript" src="{{ app.request.schemeAndHttpHost~asset('bundles/temastemas/js/notifIt.js') }}"></script>
<script type="text/javascript">

var rutaBoletinesImportar = "{{ rutaBoletinesImportar }}";
var rutaGenerarBoletin = "{{ rutaGenerarBoletin }}";
var rutaGenerarLogros = "{{ rutaGenerarLogros }}";
    

    $(document).ready(function(){
        $('.importar').click(function(){
            event.preventDefault();
            var id = $(this).attr('id');


            $('#myModal'+id).modal('show');
            
            $.cargarBoletines(id);


            $('#tab28').tab('show');

        });

        //tabbable
       var seen = {};
            $('#tab-content a').each(function() {
                var text = $(this).attr('id');
                if (seen[text])
                    $(this).remove();
                else
                    seen[text] = true;
            });

    });

formLogro = 0;
$('.crearLogros').click(function(){
    event.preventDefault();
    var id = $(this).attr('id');
    var idFiltrado = id.replace("Crear","");

    if(formLogro == 0){
        $('#formCrearLogros'+idFiltrado).show('slide');
        formLogro = 1;
    }else{
        $('#formCrearLogros'+idFiltrado).hide('slide');
        formLogro = 0;
    }
});

$('.btnGuardar').click(function(){
    var id1 = $(this).attr('id');
    var id = id1.replace("btnGuardar","");

    var longitud = id.length;
    var espacioGuion = id.indexOf("-");
    var grupoasignatura = id.substring(0,espacioGuion);  
    var periodo = id.substring(espacioGuion+1,longitud);  

    event.preventDefault();
     if($('#descripcionLogro'+id).val()==""){
        alert("Llena el campo descripción");
     }else{
        $('#contenidoLogros'+id).append('<li>(<em>'+$('#categoria'+id+' option:selected').text() +'</em>) '+$('#descripcionLogro'+id).val()+"</li>");
        
        $('#'+id).hide('slide');
        $.crearLogros(grupoasignatura,"null",periodo,$('#categoria'+id).val(),$('#descripcionLogro'+id).val());
        $('#descripcionLogro'+id).val("");
     }    
});

$.crearLogros = function(grupoasignatura,boletin,periodo,categoria,logro){
    var rutaGenerarLogros2 = rutaGenerarLogros.replace("GrupoAsignatura",grupoasignatura);
    var rutaGenerarLogros3 = rutaGenerarLogros2.replace("Boletin",boletin);
    var rutaGenerarLogros4 = rutaGenerarLogros3.replace("Periodo",periodo);
    var rutaGenerarLogros5 = rutaGenerarLogros4.replace("Categoria",categoria);
    var rutaGenerarLogros6 = rutaGenerarLogros5.replace("Logro",logro);

    $.get(rutaGenerarLogros6,function(data){
        $.mensaje("Insertado correctamente");
    });
}

$.cargarBoletines = function(asignaturas){


    var espacioGuion = asignaturas.indexOf("-");
    var asignatura = asignaturas.substring(0,espacioGuion);  
    var rutaBoletinesImportar2 = rutaBoletinesImportar.replace("Asignatura",asignatura);  

    
    var longitud2 = asignaturas.length;

    var periodo = asignaturas.substring(espacioGuion+1,longitud2); 
    
    
    $.ajax({
             url: rutaBoletinesImportar2,
             dataType: "text",
             success: function(data) {
                 
                 var json = $.parseJSON(data);
                 for (var i in json) {
                       
                       
                       for(var k in json[i]['gruposBoletin']){
                       $('#content'+asignaturas).append("Nivel: <em>"+json[i]['gruposBoletin'][k]['grupoAsignatura']['idGrupo']['idNivel']['detalleNivel']+"</em>");

                       }

                       $('#content'+asignaturas).append("<br>Periodo: "+json[i]['periodo']['periodo']+" (<em>"+json[i]['periodo']['periodoEscolar']['descripcion']+"</em>)</br>");
                       $('#content'+asignaturas).append("<strong>Logros</strong><br>");

                       for(var j in json[i]['logros']){
                            $('#content'+asignaturas).append("<li>(<em>"+json[i]['logros'][j]['categoria']['categoria']+"</em>) "+json[i]['logros'][j]['descripcion']+"</li>");
                       
                       }
                       $('#content'+asignaturas).append("<button class='btn btn-primary descarga' type='button' id='"+json[i]['id']+"-"+json[i]['periodo']['id']+"'><i class='icon-download'></i> Descargar</button><br>");

                       $('#content'+asignaturas).append("<hr>");
                       
              
                 }

                 $('button.descarga').on("click",function(){
                    //alert("hola jar");
                    var boletin2 = $(this).attr('id');
                    var longitud = boletin2.length;

                    var espacioGuion = boletin2.indexOf("-");
                    var boletin = boletin2.substring(0,espacioGuion);
                    //var periodo = boletin2.substring(espacioGuion+1,longitud);  

                    console.log("boletin "+boletin+" periodo "+periodo+" ...longitud "+longitud+" espacio: "+espacioGuion);
                     if (confirm("¿Realmente deseas Importar este Boletin?")){
                            $.copiarBoletin(boletin,asignatura,periodo);
                     }
                 });

             }
          });
}

$.copiarBoletin = function(boletin,asignatura,periodo){
    var rutaGenerarBoletin2 = rutaGenerarBoletin.replace("Boletin",boletin);
    var rutaGenerarBoletin3 = rutaGenerarBoletin2.replace("GrupoAsignatura",asignatura);
    var rutaGenerarBoletin4 = rutaGenerarBoletin3.replace("Periodo",periodo);
    $.get(rutaGenerarBoletin4,function(data){
        $.mensaje("Insertado correctamente");
        location.reload();
    });
}

 $.mensaje = function(mensaje){
                 notif({
                  msg: "<b>Felicitaciones:</b> "+mensaje+"",
                  type: "success"
                });
            }

</script>
{% endblock %}